
header{height:2.5rem;background:#427DAE;/*! border-bottom:solid 1px #ddd; */}
header .back{background:url(icon_back_fff.png) center no-repeat;background-size:60%;width:40px;height:2rem;
    border-right:solid 0px #FFF;margin:0.25rem 0;position:absolute;top:0;left:0;}
