<!DOCTYPE html>
<head>
	<title>{{.title}}</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;"/>
	<link rel="StyleSheet" type="text/css" href="{{.Var.static_serve}}/css/page.css?v={{.Var.version}}"/>
	<link rel="StyleSheet" type="text/css" href="{{.Var.static_serve}}/css/ucenter/touch/touch.css?v={{.Var.spam}}"/>
</head>
<body>

{{template "header"$}}
	<div class="page-main page-apply-cash">
		<div class="head-box">
			<div class="account">
				{{.subTitle}}
			</div>

		</div>

		<div class="back-box">
			<input class="btn btn-m" type="button" value="{{.btnText}}" onclick="continueTrans()"/>
			<input class="btn" type="button" value="关闭" onclick="closeWin()"/>
		</div>
	</div>


		<script type="text/javascript" src="{{.Var.static_serve}}/assets/js/mobi/core.js?ver={{.Var.spam}}"></script>
		<script type="text/javascript" src="{{.Var.static_serve}}/assets/js/mobi/device.js?ver={{.Var.spam}}"></script>

		<script type="text/javascript">
				function closeWin(){
					window.cli.close();
				}
				function continueTrans(){
					location.replace('{{.referer}}');
				}
		</script>


{{template "footer"$}}

</body>
</html>