$def with(host,usrtpl,member,orders,states,pagedHtml)
$:usrtpl.top('我的订单- 已完成订单')

	
<div id="main" class="mainwrap">
    <div class="side">
		$:usrtpl.menu('已完成订单') <br />
		
   </div>
<div class="main">

	<table cellspacing="1" class="tb">
		<tr>
			<th>订单号</th>
			<th>商家</th>
			<th>详细</th>
			<th>订单金额</th>
			<th>创建时间</th>
			<th>联系商家</th>
		</tr>
		$if len(orders)==0:
			<tr><td class="tdred" colspan="6">无订单</td></tr>
		$else:
			$for o in orders:
				<tr>
					<td>$o['id']</td>
					<td>$o['name']</td>
					<td style="text-align:left">$:o['itemsinfo'].replace('\r\n','<br />')</td>
					<td>￥$o['pay']</td>
					<td>$o['createtime']</td>
					<td>$o['tel']</td>
				</tr>
	</table>

<div class=" paged">
	$:pagedHtml
</div>
</div>
</div>
$:usrtpl.footer()

