<!DOCTYPE html>
<html>
<head>
    <title>配送区域管理</title>
    <link rel="stylesheet" type="text/css" href="{{.static_serv}}/assets/easyui/themes/gray/easyui.css">
    <link rel="stylesheet" type="text/css" href="{{.static_serv}}/assets/easyui/themes/icon.css">
    <link href="{{.static_serv}}/css/partner/common.css" rel="stylesheet" type="text/css" />
    <link href="{{.static_serv}}/css/partner/partner.css" rel="stylesheet" type="text/css" />
    <script src="{{.static_serv}}/assets/js/core.js"></script>
    <script type="text/javascript" src="{{.static_serv}}/assets/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="{{.static_serv}}/assets/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="{{.static_serv}}/assets/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="{{.static_serv}}/assets/js/export.js"></script>
    <script src="{{.static_serv}}/assets/js/plugins/sys.js"></script>
</head>
<body class="easyui-layout">
<div region="center">
    <div id="gd"></div>
    <div class="toolBar">
        <div class="searchBar padding2" id="searchbar">
            <ul>
                <li>
                    <a class="easyui-linkbutton" iconcls="icon-add" id="btnAdd">
                        <span class="icon"></span>新增配送区域</a>
                </li>
                <li>
                    <span class="title">省：</span>
                    <select field="state">
                        <option value="-100">一所有一</option>
                    </select>
                </li>
                <li>
                    <span class="title">市：</span>
                    <select field="state">
                        <option value="-100">一所有一</option>
                    </select>
                </li>
                <li>
                    <span class="title">区：</span>
                    <select field="state">
                        <option value="-100">一所有一</option>
                    </select>
                </li>
                <li>
                    <span class="title">配送区域关键字：</span>
                    <input type="text" field="keyword" />
                </li>
                <li>
                    <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="btnSearch">
                        <span class="icon"></span>搜索</a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script>
    expr.ele = 'searchbar';

    $JS.json.bind(expr.ele, { keyword: decodeURIComponent($JS.request('keyword')) });

    expr.portal = 'Partner.CoverageAreList'; //配置导出的入口
    expr.checkParams = function (data) {
        return true;
    };

    var refresh = function () { expr.reload('gd'); };

    $JS.$('gd').style.height = $JS.screen.height() + 'px';

    $(function () {
        //加载数据
        $('#gd').datagrid({
            toolbar: '.toolBar',
            singleSelect: !false,
            pagination: true,
            rownumbers: true,
            fitColumns: true,
            url: expr.getDataUrl(),
            columns:[[
                { field: 'name', title: '配送区域名称', align: 'center', width: 100 },
                { field: 'radius', title: '配送范围(米)', align: 'center', width: 30 },
                { field: 'address', title: '地址', align: 'center' },
                { field: 'area_id', title: '所属地区', align: 'center', width: 120 },
            ]]
        });
    });

    function addRecore(){
        $JS.tab.open2('新增配送区域','delivery/create',null, true);
    }

    $JS.$('btnAdd').onclick = addRecore;
</script>
