<!DOCTYPE html>
<html>
<head>
    <title>新增配送区域</title>
    <link href="{{.static_serv}}/css/partner/common.css" rel="stylesheet" type="text/css" />
    <link href="{{.static_serv}}/css/partner/partner.css" rel="stylesheet" type="text/css" />
</head>
<body>


<div id="form1" class="form margin30">
    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>配送区域名称：</div>
        <div class="in">
            <input type="hidden" field="Id" value="0" />
            <input type="text" field="Name" class="ui-validate" required="true" />
        </div>
    </div>
    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>配送区域所属：</div>
        <div class="in">
            <input field="AreaId" class="ui-validate" required="true" style="width:200px"/>
        </div>
    </div>

    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>地址：</div>
        <div class="in">
            <input field="Address" class="ui-validate" required="true" style="width:200px"/>
        </div>
    </div>

    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>配送范围：</div>
        <div class="in">
            <input class="ui-validate" field="Radius" required="true" style="width:100px"/>单位(米)
        </div>
    </div>

    <div class="fl">
        <div class="label"></div>
        <div class="in">
            <input type="button" value=" 保存 " id="btn_save" />
            <input type="reset" value=" 重置 " />
        </div>
    </div>
</div>

<script src="{{.static_serv}}/assets/js/core_full.js"></script>
<script src="{{.static_serv}}/assets/js/export.js"></script>
<script src="{{.static_serv}}/assets/js/plugins/sys.js"></script>

<script>
    var entity ={{.entity}} ||{};
    $JS.json.bind('form1', entity);


    $JS.$('btn_save').onclick = function() {
        if ($JS.validator.validate('form1')) {
            var data = $JS.json.toObject('form1');
            alert(JSON.stringify(data));
            $JS.xhr.jsonPost('SaveArea', data, function(json) {
                window.parent.$.messager.alert('提示', json.result ? '保存成功！' : json.message, 'ok', function() {
                    $JS.tab.closeAndReresh( '门店管理');
                });
            }, function(e) {
                window.parent.$.messager.alert('提示', " 保存失败！ ", 'error');
            });
        }
    }
</script>
</body>
</html>
