<!doctype html>
<html>
<head>
    <title>订单确认-{{.partner.Name}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Stylesheet" href="{{.static_serve}}/css/page.css" type="text/css"/>
    <link rel="Stylesheet" href="{{.static_serve}}/css/shop/default/style.css" type="text/css"/>
</head>
<body>

{{template "header"$}}

<div id="order-confirm-panel" class="order-confirm-panel panel" style="width:960px;margin:0 auto;">
		<h1><br/>最后一步：请填写配送信息完成订单<br/><br/></h1>

        <div id="item1" class="item first_item">
            <h2 class="title">配送地址<span class="edit_link">[<a id="el1" href="javascript:void(0);" onclick="selectDeliver()">修改</a>]</span></h2>
            <div class="item_info">
                {{if .settle.Deliver}}
                   <p>
                       <span id="deliver_rn">{{.settle.Deliver.PersonName}}</span>&nbsp;
                       <span id="deliver_ph">{{.settle.Deliver.Phone}}</span><br />
                       <span id="deliver_addr">{{.settle.Deliver.Address}}</span>
                   </p>
                {{else}}
                    <p>
                        <span id="deliver_rn"></span>&nbsp;
                        <span id="deliver_ph"></span><br />
                        <span id="deliver_addr"></span>
                    </p>
                {{end}}
            </div>
            <div id="ctl1"  class="item_ctrl">
                <div id="deliver-panel">
                    加载收货信息
                </div>
                <div>
                    <a id="cb1" class="btn confirm-button" href="javascript:void(0);">保存配送地址</a>
                </div>
            </div>
        </div>

        <div id="item2" class="item">
            <h2 class="title">配送方式<span class="edit_link">[<a id="el2" href="javascript:void(0);">修改</a>]</span></h2>
            <div class="item_info">
                <p>
                    <span id="deliver_opt_name">-</span>
                </p>
            </div>
            <div id="ctl2"  class="item_ctrl">
                <input type="radio" field="deliver_opt" id="deliver_opt1" value="1" checked="checked"/><label for="deliver_opt1">智能配送(自动选择门店配送和快递配送)</label><br />
                <!--<input type="radio" name="deliver_opt" id="deliver_opt２" value="１"/><label for="deliver_opt1">上门自提</label>-->

                <div>
                    <a id="cb2" class="btn confirm-button" href="javascript:void(0);">保存配送地址方式</a>
                </div>
            </div>
        </div>

        <div id="item3" class="item">
            <h2 class="title">支付方式<span class="edit_link">[<a id="el3" href="javascript:void(0);">修改</a>]</span></h2>
            <div class="item_info">
                <p>
                    <span id="payment_opt_name"></span>
                </p>
            </div>
            <div id="ctl3" class="item_ctrl">
                <input type="radio" field="pay_opt"  name="payment_opt" id="payment_opt2" value="1" checked="checked"/><label for="payment_opt2">在线支付</label><br />
                <input type="radio" field="pay_opt" name="payment_opt" id="payment_opt1" value="2"/><label for="payment_opt1">货到付款</label><br />
                <input type="radio" field="pay_opt" name="payment_opt" id="payment_opt3" value="3"/><label for="payment_opt3">转账汇款</label><br />
                <div>
                    <a id="cb3" class="btn confirm-button" href="javascript:void(0);">保存支付方式</a>
                </div>
            </div>
        </div>


        <div class="item">
            <h2 class="title" style="position: relative">商品清单<span style="position: absolute;right:30px;top:5px;"><a href="/cart?edit=1">&gt;&gt;返回修改订单</a></span></h2>
            <div class="item_info">

                {{.cartDetails}}

                <br />
                <h2 class="title">使用优惠券</h2>
                <div class="form" id="form_coupon">
                    优惠券编码：<input class="coupon-code" type="text" field="CouponCode" id="coupon_code"/>
                    <div id="coupon_describe" class="coupon_desc hidden"></div>
                </div>

                <div class="cash-panel" id="cash-panel">
                    <ul>
                        <li class="total">订单金额：<b>￥<span class="money">{{.cart.TotalFee}}</span></b>元</li>
                        <li class="prom">优惠：<b>￥<span field="PromFee">0</span></b>元</li>
                        <li class="fee">需支付：<b>￥<span field="OrderFee">0</span></b>元</li>
                    </ul>
                </div>

            </div>
            <div class="item_ctrl" >
            </div>
        </div>


        <div class="submit-panel">
           共需支付￥<span class="final_fee" id="final_fee">-</span>元&nbsp; <input class="btn_submit" type="button" value="提交订单" id="btn_submit_order"/>
        </div>
    <br />
    <br />
    <br />
    </div>

<form id="postForm">
    <input type="hidden" name="shop_id" field="shop_id" value="0"/>
    <input type="hidden" name="pay_opt" field="pay_opt" value="{{.paymentOpt}}"/>
    <input type="hidden" name="deliver_opt" field="deliver_opt" value="{{.deliverOpt}}"/>
    <input type="hidden" name="deliver_id" field="deliver_id" value="{{.deliverId}}"/>
    <input type="hidden" name="deliver_person" field="deliver_person" value=""/>
    <input type="hidden" name="deliver_phone" field="deliver_phone" value=""/>
    <input type="hidden" name="deliver_address" field="deliver_address" value=""/>
</form>

<script type="text/javascript">
    var total_fee = {{.cart.TotalFee}};
    var prom_fee = {{.promFee}};
    var order_fee = {{.cart.OrderFee}};
    var sctJson = {pay_opt:1,deliver_opt:1,deliver_id:0,shop_id:0,deliver_person:'',deliver_phone:'',deliver_address:''};
</script>
<script type="text/javascript" src="{{.static_serve}}/assets/js/core.js?{{.version}}"></script>
<script type="text/javascript" src="{{.static_serve}}/assets/js/lib/form.js?{{.version}}"></script>
<script type="text/javascript" src="{{.static_serve}}/assets/js/lib/animation.js?{{.version}}"></script>
<script type="text/javascript" src="{{.static_serve}}/assets/js/ppc.js?{{.version}}"></script>
<script type="text/javascript" src="{{.static_serve}}/assets/js/buy/buy_confirm.js?{{.version}}"></script>
<script type="text/javascript">
    initEvents();
    recoverFrom('postForm');
    dynamicContent();
    reloadFee();
    j6.$('coupon_code').onblur=applyCouponCode;
    j6.$('btn_submit_order').onclick=submitOrder;
</script>


{{template "footer".}}
</body>
</html>