<!doctype html>
<html>
<head>
    <title>会员注册-{{.partner.Name}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Stylesheet" href="{{.static_serve}}/css/page.css" type="text/css"/>
    <link rel="Stylesheet" href="{{.static_serve}}/css/shop/default/style.css" type="text/css"/>
</head>
<body>

{{template "header".}}

<div id="main" class="panel">
    <div class="clearfix sitemap">»&nbsp;网站首页 > 会员注册</div>
    <div id="reg_panel" class="reg-panel">
        <h1>注册会员</h1>

        <div class="form margin30">

            <div class="tip-panel hidden" id="tip" style="margin: 0 7em">

            </div>
            <br/>
            <div class="pl">
                <div class="label">用户名：</div>
                <div class="in">
                    <input class="box ui-validate" type="text" field="Usr" id="usr" required="true"
                           summary="{required:'请输入用户名','1':'必须以字母开头','2':'用户名长度为6-15位','3':'必须为字母或数字的组合','4':'用户名已被占用'}"/>

                    <div>
                        <span class="tip">用户名为6-15位的数字和字母的组合</span>

                        <p style="font-size:12px;color:red;">建议您将手机号码作为用户名，更容易记住不被遗忘！</p>
                    </div>
                </div>
            </div>

            <div class="pl">
                <div class="label">密码：</div>
                <div class="in">
                    <input class="box ui-validate" type="password" field="Pwd" id="pwd" required="true"
                           tipin="tip_pwd"
                           summary="{required:'请输入密码','1':'首尾不能为下划线','2':'密码长度为6-12位','3':'格式输入有误'}"/>
                    <span class="tip" id="tip_pwd">为保证帐号安全，请使用较为复杂的密码</span>
                </div>
            </div>

            <div class="pl">
                <div class="label">重复密码：</div>
                <div class="in">
                    <input class="box ui-validate" type="password" id="rePwd" required="true"
                           summary="{required:'请再次输入密码'}"/>
                </div>
            </div>

            <div class="pl">
                <div class="label">手机号码：</div>
                <div class="in">
                    <input class="box ui-validate" type="text" id="phone" field="Phone" tipin="tip_phone"
                           summary="{'0':'手机号码不正确','1':'手机号码已被使用','2':'手机号码不能为空'}"/>
                    <span class="tip" id="tip_phone"></span>
                </div>
            </div>

            <div class="pl hidden">
                <div class="label">地址：</div>
                <div class="in">
                    <input class="box ui-validate" type="text" id="address" field="Address"
                           summary="{'0':'地址不能为空'}"/>

                    <div>
                        <span class="tip">如：上海市徐汇区斜土路300号飞雕大厦1201室</span>
                    </div>
                </div>
            </div>

            <div class="pl">
                <div class="label">推荐人：</div>
                <div class="in">

                    <input class="input ui-validate" type="text" field="inviCode" id="inviCode" value="{{.inviCode}}" tipIn="tip_invi"/>
                    <span class="tip" id="tip_invi">填写推荐人的邀请码,没有可不填写</span>
                </div>
            </div>

            <div class="fl">
                <div class="label">&nbsp;</div>
                <div class="in forget">
                    <input field="remember" type="checkbox" id="remember1"><label for="remember1">我已阅读并同意《服务条款》</label>
                </div>
            </div>


            <div class="pl">
                <div class="label"></div>
                <div class="in">

                    <input type="button" value="&nbsp;注册&nbsp;" class="btn" do="register" id="btn_register"/>&nbsp;
                    <input type="reset" value="&nbsp;重置&nbsp;"/>
                </div>
            </div>
        </div>

        <script type="text/javascript"
                src="{{.static_serve}}/assets/js/core.js?hover=navi&amp;ver={{.version}}"></script>
        <script type="text/javascript" src="{{.static_serve}}/assets/js/lib/form.js?{{.version}}"></script>
        <script type="text/javascript" src="{{.static_serve}}/assets/js/member/register.js?{{.version}}"></script>
        <script type="text/javascript" src="{{.static_serve}}/assets/js/ppc.js?{{.version}}"></script>

    </div>
</div>

<div style="height:50px"></div>

<script type="text/javascript">

</script>

{{template "footer".}}


</body>
</html>