/* auth stylesheet
 * 2012-01-21
 */
body {
	
}

#authreg,#authlogin {
	width: 400px;
	margin: 80px auto 10px auto;
}

#authreg {
	width: 600px;
}

#authreg .content,#authlogin .content {
	padding: 15px 50px;
}