
body {
	font-size: 12px;
	margin:0;
}

a:link,a:visited {
	color: #0066cc;
	outline: none;
}

a:hover {
	color: #006699;
}

.center {
	text-align: center;
}

.clearfix {
	clear: both;
}

.rightalign {
	text-align: right;
	padding-right: 30px;
}

.rtalign {
	text-align: right;
}

.shadow {
	padding: 3px;
	background: #d0d0d0;
}

.shadow .content {
	border: solid 1px #006699;
	padding: 1px;
	margin: -5px 0 0 -5px;
	background: white;
	line-height: 20px;
}

.tipbor {
	border-bottom: dotted 1px #006699;
	padding: 5px;
	color: #006699
}

div.hr {
	border-bottom: solid 1px #f0f0f0;
	height: 1px;
}

#footer {
	text-align: center;
	font-size: 12px;
}

.valid-error {
	color: red;
}

/* silver table */
table.silver {
	background: white;
	line-height: 20px;
	border: solid 1px #e2e2e2;
}

table.silver th {
	color: #006699;
	background: url(../easyui/js/themes/default/images/panel_title.png) 0
		-3px;
}

table.silver td {
	background: #f5f5f5;
}

table.silver td,table.silver th {
	padding: 1px 8px;
}

table.blue {
	background: white;
	line-height: 20px;
	border: solid 1px #e2e2e2;
}

table.blue th {
	color: #006699;
	background: url(../easyui/js/themes/default/images/panel_title.png) 0
		-3px;
}

table.blue td {
	background: #f0f0f0;
	color: #006699;
}

table.blue td,table.blue th {
	padding: 1px 8px;
}

/* ul */
ul.listlit {
	list-style: none;
	margin: 5px 12px;
	padding: 0;
	line-height: 20px;
}

ul.listlit li {
	margin: 5px 0 10px 0;
}

ul.listlit li b {
	color: green;
}

span.td {
	display: block;
	float: left;
	width: 100px;
	text-align: left;
}

.tabs li.tabs-selected{background-color:#ddd;border-bottom:solid 1px #f9f9f9;}
.tabs li.tabs-selected a.tabs-inner{background:#f9f9f9;}
.toolBar ul{margin:0 10px;}
a.l-btn span span.l-btn-icon-left{padding-left:0px;}
.datagrid-view2{left:0;}
.panel-body{border-left:none;border-width:1px;border-top:none;border-bottom:none;}
.panel-header{border-left:none;border-right:none;}
.icon{padding-left:20px;}

.opt2{text-indent: 1em;}
.opt3{text-indent:2em;}
.opt4{text-indent:5em;}
.opt5{text-indent:4em;}
.opt6{text-indent:5em;}
.opt7{text-indent:6em;}
.opt8{text-indent:7em;}

/************新样式 ************/
.login-page{background:#f0f0f0 url(../login/login_bg.gif) center center no-repeat;height:80%;}




.padding5{ padding: 5px;}
.margin30{margin:30px;}
.padding2{ padding: 2px 0 2px 5px;}
.toolBar ul{ margin: 10px;padding: 0;list-style: none;}
.toolBar li{ float: left;padding-right: 15px;}


.ui-table {

}


.ui-autocompletion-panel{ border: solid 1px #ddd;border-top: 0px;color: #000000;background: #ffffff;}
.ui-autocompletion-panel .inner{ padding: 0px;}
.ui-autocompletion-panel ul li {padding: 5px 10px;float:inherit }
.ui-autocompletion-panel ul li.first { border:none}
.ui-autocompletion-panel ul li.selected {
	background: #f0f0f0;
}
.ui-autocompletion-panel ul li b{ color: green;}

.toolBar ul{margin:0 10px;}
.datagrid-view2{left:0;}
.panel-body{border-left:none;border-width:1px;border-top:none;border-bottom:none;}
.panel-header{border-left:none;border-right:none;}
.icon{padding-left:20px;}
.datagrid-toolbar{background:#f9f9f9 url(/assets/easyui/themes/gray/images/datagrid_header_bg.gif) 0 5px repeat-x;}
.tabs li.tabs-selected{padding-bottom:1px;background:#ddd;}
a.l-btn span span.l-btn-icon-left{padding-left:0px;}
.control{background: none;}
.green{color:green;}
.red{color:#FF0000;}

.ui-table{background:#ddd;}
.ui-table tr td,.ui-table tr th{border:none;padding:10px;}
.ui-table tr th{padding:5px 10px;}
.ui-table .summary td{background:#006699;padding:5px 10px;line-height: 220%;color:#FFF;}
.ui-table th{background:#F5f5f5;padding:5px 10px;}


input.box,textarea.box,select.box{border:solid 1px #999;border-radius: 3px;line-height:1.5rem;padding:0 10px;margin:1px;}
input.box:focus,textarea.box:focus,select.box:focus{border:solid 2px #0A0;margin:0;background:#FFFFCC;}

input.btn{padding: 0px 20px;
	border-radius: 5px;cursor: pointer;
	box-shadow: 0px 1px 1px #EEE;
	border: 1px solid #CCC;
	font-size: 12px;color:#333;
	line-height:1.5;
	background: -webkit-linear-gradient(#F5F5F5, #E5E5E5); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#F5F5F5, #E5E5E5); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#F5F5F5, #E5E5E5); /* Firefox 3.6 - 15 */
	background: linear-gradient(#F5F5F5, #E5E5E5); /* 标准的语法 */
}
input.btn:hover{
	background: #FFF none repeat scroll 0% 0%;
	box-shadow: 0px 0px 0px #EEE, 0px 10px 15px #EEE inset;
	border-color:#ddd;
}


a.btn{border:solid 1px #ddd;display: inline-block;padding: 0 1.5rem;
	border-radius:5px;
	background: -webkit-linear-gradient(#F5F5F5, #E5E5E5);
	background: -o-linear-gradient(#F5F5F5, #E5E5E5);
	background: -moz-linear-gradient(#F5F5F5, #E5E5E5);
	background: linear-gradient(#F5F5F5, #E5E5E5);}
a.btn:hover{
	background: -webkit-linear-gradient(#E5E5E5, #F5F5F5);
	background: -o-linear-gradient(#E5E5E5, #F5F5F5);
	background: -moz-linear-gradient(#E5E5E5, #F5F5F5);
	background: linear-gradient(#E5E5E5, #F5F5F5);
}
a.btn-orange{border-color: #CCC;
	background: -webkit-linear-gradient(#FFFF00, #FFCC00);
	background: -o-linear-gradient(#FFFF00, #FFCC00);
	background: -moz-linear-gradient(#FFFF00, #FFCC00);
	background: linear-gradient(#FFFF00, #FFCC00);
}
a.btn-orange:hover{
	border-color:#FFA500;
	background: -webkit-linear-gradient(#FFFFCC, #FFFF66);
	background: -o-linear-gradient(#FFFFCC, #FFFF66);
	background: -moz-linear-gradient(#FFFFCC, #FFFF66);
	background: linear-gradient(#FFCC00, #FFFF00);
}
a.btn-short{margin:0 1px;padding:0 8px;font-weight:normal;
	background: -webkit-linear-gradient(#FFFF00, #FFCC00);
	background: -o-linear-gradient(#FFFF00, #FFCC00);
	background: -moz-linear-gradient(#FFFF00, #FFCC00);
	background: linear-gradient(#F5F5F5, #E5E5E5);
}
.tip-box{border:solid 1px #ffcc00;margin:10px 30px;background:#ffc;padding:10px;font-size:0.8rem;line-height: 1.2rem;
	color:#333;
}