{{$img_serve:=.Map.img_serve}}
<!doctype html>
<html>
<head>
    <title>商品分类</title>
    <meta content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link type="text/css" rel="stylesheet" href="{{.Var.static_serve}}/css/shop/touchpad/stand.css?spam={{.Var.spam}}"/>
    </head>
<body>

{{template "header" $}}

{{template "loader"}}

<div class="page-category-list layout">
    <div class="l">
            <script type="text/tmpl" class="template1">
                <div class="nav">
                    <ul>
                        {#list}
                            <li class="i" data="{Id}">{Name}</li>
                        {/list}
                    </ul>
                </div>
            </script>
    </div>
    <div class="m">
        <script type="text/tmpl" class="template2">
            {#list}
               <div class="box">
                   <div class="tit">{Name}</div>
                   <ul>
                      {#Child}
                        <li><a href="{Url}"><div class="auto-fit_">
                            <img src="{Icon}" alt="name" width="100%"/>
                            </div>{Name}</a></li>
                      {/Child}
                   </ul>
                   <div class="clear"></div>
               </div>
            {/list}
        </script>
    </div>
</div>

{{template "footer" $}}
<script type="text/javascript" src="{{.Var.static_serve}}/assets/js/require.js?{{.Var.Spam}}"></script>
<script type="text/javascript">
    var _baseUrl = '{{.Var.static_serve}}';
    require([_baseUrl + "/assets/js/touch/require_config.js"], function () {
        require(['shop/category']);
    });
</script>
</body>
</html>
