<!doctype html>
<html>
<head>
    <title>{{.Map.Category.Name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link type="text/css" rel="stylesheet" href="{{.Var.static_serve}}/css/shop/touchpad/stand.css?spam={{.Var.spam}}"/>
    <style type="text/css">
        #wrapper li{line-height:3rem;}
    </style>
</head>
<body>

    {{template "header" $}}

        <h2 style="font-size:1rem;padding-top: 60px;color: #F30;text-align: center;">优惠券将于5.20日开始发布, 敬请期待! </h2>

    {{template "footer" $}}

    <script type="text/javascript" src="{{.Var.static_serve}}/assets/js/require.js?{{.Var.Spam}}"></script>
    <script type="text/javascript">
        var _baseUrl = '{{.Var.static_serve}}';
        require([_baseUrl + "/assets/js/touch/require_config.js"], function () {
            require(['shop/coupon_list']);
        });
    </script>
</body>
</html>
