{{$img_serve:=.Map.img_serve}}
<!doctype html>
<html>
<head>
    <title>商品详情</title>
    <meta name="Cache-Control" content="no-cache"/>
    <meta content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;" id="viewport" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link type="text/css" rel="stylesheet" href="{{.Var.static_serve}}/css/shop/touchpad/stand.css?spam={{.Var.spam}}"/>
</head>
<body>
    <!--{{template "header" $}}-->
    <div class="page-goods-des">
        <div class="top">
            <span class="ui-button w50 back-button middle-button">
                    <span class="button-inner">
                        <span class="button-txt"><b>返回</b></span>
                        <input onclick="window.history.back()" type="button"/>
                    </span>
            </span>

            商品详情
        </div>
        <div class="con">
         {{.Map.describe}}
        </div>
    </div>

    {{template "footer" $}}
</body>
</html>
