<!doctype html>
<html>
<head>
    <title>{{.Map.page.Title}}</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="{{.Var.static_serve}}/css/shop/touchpad/stand.css?spam={{.Var.spam}}"/>

    {{if .Map.page.CssPath}}
        <link rel="Stylesheet" type="text/css" href="{{.Map.page.CssPath}}" />
    {{end}}
</head>
<body>
    <!-- {{template "header".}}-->
    <div class="panel page-layout">
        {{.Map.rawBody}}
    </div>

    {{template "footer".}}
</body>
</html>
