<!doctype html>
<html>
<head>
    <title>支付成功</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link type="text/css" rel="stylesheet" href="{{.Var.static_serve}}/css/shop/touchpad/stand.css?spam={{.Var.spam}}"/>

</head>
<body>

    {{template "header" $}}


    <div class="main panel order-result order-finish">
        <h1>订单支付成功</h1>
        <div class="meta">
            <ul>
                <li>
                    <label>订&nbsp;单&nbsp;号&nbsp;：</label>
                    {{.Map.order.OrderNo}}
                </li>
                <li>
                    <label>支付金额：</label>
                    ￥{{.Map.order.PayFee}}
                </li>
                <li>
                    <label>收&nbsp;货&nbsp;人&nbsp;：</label>
                    {{.Map.order.DeliverName}} <span>电话：{{.Map.order.DeliverPhone}}</span>
                </li>
                <li>
                    <label>收货地址：</label>
                    {{.Map.order.DeliverAddress}}
                </li>
            </ul>
            <div class="clear_fix"></div>
            <div style="margin:10px 3rem">
                <input type="button" class="btn btn-m" onclick="location.href='/';" value="继续购物"/>
            </div>


        </div>
    </div>


    {{template "footer" $}}
</body>
</html>
