html{overflow:auto; /*关闭IE6的右侧*/}
body{
    margin:0px;
    background:#eee;
    overflow:hidden;
    font: 12px/1.4 Helvetica,arial,sans-serif;
    height:100%;
}
img{border:none;}
.clearfix,.clear-fix{clear:both;}
.hidden{display:none;}
a{outline:none;}
dd,dt{margin:0;}
.hr{border-top:solid 1px #fff;border-bottom:solid 1px #ddd;}

.page-top{background:#0066cc url(/top_bg.gif) center bottom repeat-x;
    border-bottom:solid 1px #1C60A5;height:6em;}
.page-top .top{background:url(top_bg.gif) center 1px repeat-x;height:2px;}
.page-top a.logo{display:inline-block;float:left;/*width:238px;*/width:400px;height:49px;
    background:url(logo.gif) 0 bottom no-repeat;text-indent:-999em;margin-left:20px;
    margin:15px 0 0 1em;
}
.page-top a.logo h1{margin:0;padding:0;}

.page-user{position:absolute;right:10px;top:1.5em;color:#fff;width:300px;max-width:400px;overflow:hidden;}
.page-user .avatar{float:left;background:#FFF;padding:2px;box-shadow:0 0 5px #000;margin-right:1em;}
.page-user .text{margin:2px 6px 0 0;}
.page-user .text a{color:#FFF;text-decoration:none;}

.page-top .top-ctrl{position:absolute;top:2.5em;left:50%;right:0;margin:0 auto;width:600px;z-index:0;margin-left:-300px;/*兼容IE6 Position居中*/}
.page-top .top-ctrl .site_selector{float:left;line-height:2em;margin:3px 1.5em 0 0;
    box-shadow: 0 1px 0 rgba(255,255, 255,0.15), inset 0 1px 0 rgba(255, 255, 255,0.5);}
.page-top .top-ctrl .site_selector select{border:none;background:transparent;font-size:12px;overflow:hidden;color:#06c;font-weight:bold;}
.page-top .top-ctrl .site_selector select option{background:#FFF;color:#000;font-weight:normal}
.page-top ul.icon-ctrl{margin:2px 0 0 0;padding:0;list-style:none;height:100%;vertical-align:middle;height:34px;}
.page-top ul.icon-ctrl li{float:left;margin-right:1.5em;text-align:center;position:relative;border:solid 1px transparent;}
.page-top ul.icon-ctrl li.first{/*background:none;*/}
.page-top ul.icon-ctrl li span.icon-wrap,.page-top .site_selector{
    border:solid 1px #000;padding:0 10px;border-radius:3px;
    background:#FC0;
    box-shadow: 0 1px 0 rgba(255,255, 255,0.15), inset 0 1px 0 rgba(255, 255, 255,0.3);
    background-image:linear-gradient(to top,#fc0,#Fd0);
}
.page-top ul.icon-ctrl li span.icon-wrap{
    box-shadow: 0 1px 0 rgba(255,255, 255,0.15), inset 0 1px 0 rgba(255, 255, 255,0.2);
    background-image:linear-gradient(to top,#06C,#06D);
}
.page-top ul.icon-ctrl a.title{color:#FFF;font-weight:bold;text-decoration:none;line-height:2.2em;overflow:hidden;}
.page-top ul.icon-ctrl a:hover{color:#ffd;}
.page-top ul.icon-ctrl li.drop a.title{background:url(drop_arraw.gif) right center no-repeat;padding-right:15px;}
.page-top ul.icon-ctrl a img.icon{height:20px;width:20px;float:left;margin:4px 5px 0 0;vertical-align:middle;}
.icon-ctrl li.hover,.icon-ctrl li.drop:hover{background:#1174ef;border:solid 1px #00356a;border-bottom:none;}
.icon-ctrl li.drop div.menu{position:absolute;top:40px;left:-1px;z-index:900;background:#1174ef;
    border:solid 1px #00356a;border-top:none;color:#fff;display:none;text-align:left;padding:5px;line-height:22px;}
.icon-ctrl li.drop:hover div.menu,.icon-ctrl li.hover div.menu{display:block;}
.icon-ctrl li.drop div.menu div.hr{border-top:solid 1px #0066cc;border-bottom:solid 1px #00356a;margin:5px 0;height:0;overflow:hidden;}
.icon-ctrl li.drop div.menu em{font-size:9pt;}
.icon-ctrl li.drop div.menu ul{margin:3px 0;padding:0;list-style:none;}
.icon-ctrl li.drop div.menu a{color:#fff;text-decoration:underline;}
.icon-ctrl li.drop div.menu a:hover{color:#00356a;}
.icon-ctrl li.drop div.menu a.block{display:block;padding:2px 10px;border:solid 1px #1174ef;color:#fff;text-decoration:none;}
.icon-ctrl li.drop div.menu a.block:hover{background:#fff;border:solid 1px #00356a;color:#00356a;}

.xhr-container{font-size:1.2em}
.xhr-container .gate{z-index:1;position: fixed;top:0;right:0;background:#FFF;filter:alpha(opacity=1);opacity: 0.1;}
.xhr-container .msg{position:fixed;left:0;right: 0;top:0;background:#ffd700;color:#FFB;border-top:0;border-radius: 0 0 5px 5px;
    z-index:100;text-align:center;padding: 2px 10px;line-height: 20px;margin: 0 auto;}
.xhr-container .error{ color: #ff0000;}


.page-main{overflow:hidden;position:relative;}
.page-main-left{float:left;width:180px;margin-right:180px;background:#f0f0f0;overflow:hidden;}
.page-main-right{float:right;margin-left:-185px;width:auto;}
.page-main-left,.page-main-right{padding-bottom:3000px;margin-bottom:-3000px;height:100%;}

.page-main-split{border-right:solid 1px #d0d0d0;position:absolute;left:190px;left:180px;top:2px;width:3px;height:100%;cursor:w-resize;
    background:#EEE;}
.page-frame-shadow{width:100%;height:100%;background:#f0f0f0;opacity:0.6;filter:alpha(opacity=60);text-indent:-999em;position:absolute;top:0;left:0;}

/* menu */
.page-left-menu{border:solid 0px #d0d0d0;border-left:none;border-bottom:none;margin-top:2px;height:100%;background:#F8F8F8;
    border-right:solid 1px #ddd;}
.page-left-menu .group{border:solid 1px #D0D0D0;margin:0 5px 5px 5px;background:#E9E9E9;}
.page-left-menu ul{margin:0 2px 2px 2px;padding:0px;list-style:none;border:solid 1px #E5E5E5;}
.page-left-menu .group-title{background:url(menu_bar_bg.gif) center bottom repeat-x;line-height:30px;
    font-weight:bold;padding-left:15px;color:#333;border-top:solid 1px #FFF;}
.page-left-menu .group-title span{padding-left:18px;display:inline-block;background:url(menu_icon.gif) left 7px no-repeat;}
.page-left-menu .group .panel{border-top:solid 0px #D5D5D5;}
.page-left-menu ul li{padding-left:0px;line-height:25px;background:#FFF;margin-bottom:1px;}
.page-left-menu ul li:last-child{margin-bottom:0;}
.page-left-menu ul li.current{background:url(left_menu_current.gif) 0 center no-repeat;}
.page-left-menu ul li a{background:url(columns.png) 20px center no-repeat;padding-left:40px;}
.loading-gate{background:#fff;height:100%;width:100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;z-index:100;
    opacity:0.1;filter:alpha(opacity=10);}
.loading-bar{width:212px;height:150px;position:absolute;z-index:300;top:0;bottom:0;left:0;right:0;margin:auto;}
.loading-bar span{display:block;height:13px;background:#FFF url(loading-bar.gif) no-repeat;}

/*** tab ***/
.page-tabs {height:27px;border-bottom:solid 1px #D5D5D5;padding-top:2px;}
.page-tabs ul{list-style:none;padding:0;margin:0;}
.page-tabs li{float:left;position:relative;line-height:26px;margin-right:1px;border:solid 1px #cacaca;
    background:url(tab_bg.gif) center bottom repeat-x;color:#666;font-weight:bold;}
.page-tabs li.current{background:#f9f9f9 url(tab_bg_hover.gif) 0 -40px repeat-x;color:#006699;border-bottom:solid 1px #f9f9f9;}
.page-tabs li span.link{cursor:pointer;}
.page-tabs li .tab-close{cursor:pointer;position:absolute;right:0;top:0;font-family:Arial;color:#000;padding:0 12px;font-size:16px;
    background:url(tab_close.gif) center center no-repeat;text-indent:-99em;
}
.page-tabs li .tab-title{display:block;float:left;padding:0 20px 0 15px;line-height:26px; vertical-align:central;cursor:default;}
.page-tabs li span.rgt{/*background-position:-234px -130px; display: block;height: 26px;*/width: 5px;float:left;}
/*.page-tabs li.current span.rgt{background-position:-234px -156px;}*/

/* frame (ie6,7下loading宽度不正常，解决办法设固定宽度) */
.page-frames{position:relative;background:#fff;}
.page-frames iframe{width:100%;height:100%;background:#F8F8F8;}
.page-frames .mask{position:absolute;left:1px;top:0;background:#f5f5f5;opacity:0.7;filter:alpha(opacity=70);z-index:898;}
.loading{z-index:899;border:solid 1.5px #FA0;background:#FEA;}
.loading .lft{}
.loading .main{padding:0 3em;display:block;color:#666;line-height:24px;text-align:center;}
.loading .text{text-shadow:0 1px 0 #FFF;font-weight:bold;}

.page-frames .frames,.page-frames .frames div{height:100%;}
.page-frames .frames div {visibility:hidden; clear: both;}
.page-frames .frames div.current {visibility:visible; }

/* ++++++++++++++++ UI ++++++++++++++++++ */
.ui-tree *{vertical-align: middle;}
.ui-tree .title{font-size:1.1em;color:#0066cc;}
.ui-tree div.node{line-height:17px;font-weight:bold;height:17px;overflow:hidden;}
.ui-tree div.node img{border: 0px;vertical-align: middle;}
.ui-tree div.node a{text-decoration:none;color:#006699;}
.ui-tree div.node a:hover{text-decoration:underline;color:#000;}


/* 对话框 */
.ui-dialog .bglayer{background:#d0d0d0;opacity:0.2;filter:alpha(opacity=20);}
.ui-dialog .box {
    border: solid 1px #bbb;
    background: #f3f3f3;
    -moz-box-shadow:0 0 5px 0 #bbb; /*firefox*/
    -webkit-box-shadow:0 0 5px 0 #bbb; /*webkit*/
    box-shadow:0 0 5px 0px #bbb; /*opera或ie9*/
    zoom: 1; filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=5, OffY=0, Color=#bbb); /* ie6,ie7,ie8 */
}
.ui-dialog .box .title{padding-top:10px;font-size:14px;font-weight:bold;color:#006699;background:#F0F0F0;padding:0 10px;line-height:30px;
    background:#f9f9f9 url(title_bg.gif) 0 5px repeat-x;
    /*border-bottom:solid 2px #FFF;*/}
.ui-dialog .box .title .txt{padding-left:25px;background:url(blocks.gif) left center no-repeat;}
.ui-dialog .box .close{cursor:pointer;position:absolute;right:0;top:0;font-family:Arial;color:#000;padding:0 12px;font-size:16px;
    background:url(tab_close.gif) center center no-repeat;text-indent:-99em}
.ui-dialog .box .boxcontent{margin:0 5px 5px 5px;background:#fff;border:solid 1px #d0d0d0}
.ui-dialog .box .bottom{display:none;}

/* tipbox */
.ui-tipbox { border: solid 3px #ff3300;background: #ffffcc; z-index: 3000; }
.ui-tipbox .ui-tipbox-container{padding:8px 35px 5px 38px;font-size:14px;font-weight:bold;color:#000;}