body{color:#666;font-family:'微软雅黑',sans-serif;font-size:0.7rem;margin:3rem 0 5rem 0;}
h1,h2,h3{margin:0;padding:0;}
.container2{width:960px;margin:0 auto;}
.container3{width:900px;padding:0 5px;margin:0 auto;}
.pageinfo{display:none;}
.green{color:green;}
.clear-fix{clear:both;zoom:1;after:''}
a{text-decoration: none;outline:none;}
*:required { /* insert your own styles for invalid form input */ -moz-box-shadow: none;box-shadow: none; }

/*h1.arrow_tt{background:url(/resources/s1/image/201401/20140120184358_3866.gif) left center no-repeat;padding-left:20px;
border-bottom:solid 1px #ddd;margin-bottom:15px;
}*/

/* rewrite */
/*body{padding-top:190px;}*/
.panel{font-size:100%}

/*.page-top,.page-header,.page-navigator{position: fixed;top:0;width:100%;z-index:300;}*/
.page-header{top:26px;}
.page-navigator{top:130px;}

.page-top{color:#000;opacity:1;filter:alpha(opacity=100);
    font-size:100%;font-size:100%;border-bottom: solid 1px #AAA;
    line-height:3rem;padding:0 1%;font-size:1.2rem;height:3rem;
    position:fixed;top:0;left:0;width:98%;z-index: 100;
    background:-webkit-linear-gradient(#F0F0F0,#E5E5E5);
    background:-moz-linear-gradient(#F0F0F0,#E5E5E5);
    background:linear-gradient(#F0F0F0,#E5E5E5);
}
.page-top .btn_button{border:solid 1px #333;font-size:18px;line-height: 26px;margin:0.5rem 0.5rem 0;
    background:#FFF;border-radius:10rem;color:#333;cursor:pointer;width:26px;height:26px;text-align:center;}
.page-top .btn_close{border:none;padding:0;background:none;}


/* 首页 */
.page-uc{}
.page-uc .col1{
    background:#F6F6F6 url(profile_bg.jpg) center bottom;
    background-size:100%;
}
.page-uc .profile{position: relative;
    -moz-box-shadow:0 -2px 10px #333; -webkit-box-shadow:0 -2px 10px #333; box-shadow:0 0 5px #666;
}
.page-uc .profile .avatar{float:left;margin-right:1rem;}
.page-uc .profile .avatar img{border-radius:999px;width:3.5rem;border:solid 3px #FFF;}
.page-uc .basic{padding:8% 5% 8% 7%;}
.page-uc .profile .member{margin:1rem 0 0.5rem 0;line-height:1.2rem;}
.page-uc .profile .nick-name{font-size:1rem;color:#FF0000;}
.page-uc .profile .level{font-size:0.8rem;margin-left:0.5rem;color:#333;}
.page-uc .profile .account{font-size:0.9rem;color:#000;}
.page-uc .profile .account b{color:#666;font-weight: normal;}

.page-uc .nav-layout{background:#000;height:2rem;padding-top:0.3rem;opacity:0.2;filter:alpha(opacity=20);margin-top:0.2rem;}
.page-uc .nav{font-size:0.7rem;position: absolute;bottom:0;left:0;width:100%;height:2rem;}
.page-uc .nav ul{margin:0;padding:0;list-style:none;background:#000;}
.page-uc .nav li{float:left;width:25%;text-align:center;line-height:1rem;
    position:relative;}
.page-uc .nav li a{color:#FFF;}
.page-uc .nav li span{border-right:solid 1px #FFF;float:right;height:1.2rem;position: absolute;top:0.3rem;right: 0;}
.page-uc .nav li .iconfont{display:block;font-size:1.2rem;}

.menu-bar{margin:1rem;border:solid 1px #DDD;border-radius:10px;background:#F5F5F5;}
.menu-bar div.tit{border-radius:10px 10px 0 0;
    border-bottom:solid 1px #DDD;font-size:1rem;color:#330000;padding:0 2rem;line-height:3.5rem;
    background:-moz-linear-gradient(#FFF,#EEE);
    background:-webkit-linear-gradient(#FFF,#EEE);
    background:linear-gradient(#FFF,#EEE);
}
.menu-bar div.con{}
.menu-bar div.con ul{margin:0;padding:0;list-style: none;padding-bottom:10px;}
.menu-bar div.con li{padding:0.5rem 2rem;
    border-bottom:solid 1px #DDD;border-top:solid 1px #FFF;;
    line-height: 2rem;}
.menu-bar div.con li:last-child{border-bottom:none;}
.menu-bar div.con li a{color:#333;font-size:0.8rem;}

.page-main{font-size:0.7rem;margin:1rem;}
.page-main .main h1{font-size:125%;color:#333;margin:0 0 10px 0;}
.page-main .main div.line{margin-bottom:30px;}
.page-main .main div.form{}

.form .fl div.label{width:80px;}

/* FOOTER */
.page-footer{position: fixed;bottom:0;left:0;height:2.5rem;width:100%;border-top:solid 1px #ddd;background:#F0F0F0;
    font-size:0.8rem;padding:0.5rem;}
.page-footer .items ul{margin:0;padding:0;list-style:none;}
.page-footer .items li{float:left;width:25%;text-align:center;height: 3rem;line-height: 1.2rem;}
.page-footer .items li a{color:#333;}
.page-footer .items li span.split{border-right:solid 1px #FFF;float:right;height:20px;margin-top:5px;display: none;}
.page-footer .items li span.txt{display:block;}
.page-footer .items .iconfont{font-size:1.5rem;}


.h10{height:10px;}

/* grid */
.ui-table{color:#666;border:solid 1px #BBB;width:98.5%;margin:0 auto;border-bottom:none;font-size:0.7rem;}
.ui-table th{background:#edf7fe;
    border-bottom:solid 1px #e5e5e5;text-align:center;color:#000;font-weight:normal;position:relative;}

.ui-table tr.selected td{background:#ffffcc;}
.ui-datagrid-header{border-bottom:solid 1px #ddd}
.ui-datagrid-header td.first{ border-left: none;}
.ui-datagrid-view td,.ui-datagrid-header td{padding:2px 5px;}
.ui-datagrid-header td{color: #333;border-left: solid 1px #ddd;
    font-weight:bold;
    background-color:#F0F0F0 ;
    background:linear-gradient(to bottom, #F8F8F8 0px, #EEEEEE 100%) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    line-height: 250%;
}
.ui-datagrid-view td{border-bottom:solid 0.5px #BBB;padding:5px;border-top:solid 1px #FFF;
    padding:0.5rem;line-height:220%;background:#f8f8f8;
}
.ui-datagrid-view td.first{border-left:none;}
.ui-datagrid-view .loading{padding-left:0;border: solid 1px #d0d0d0;background: #f0f0f0;color: #006699;width: 100px;height: 22px;text-align: center;line-height: 22px;}
.ui-grid-table{background:none;border:solid 1px #ddd;}
.ui-grid-table .ui-datagrid-header td,.ui-grid-table .ui-datagrid-header th{
    background: linear-gradient(to bottom, #f9f9f9 0px, #efefef 100%) repeat-x scroll 0 0 rgba(0, 0, 0, 0);}
.ui-grid-table tr td,.ui-grid-table tr th{
    border-left:dotted 1px #d0d0d0;
    border-bottom:dotted 1px #d0d0d0;
}
.ui-grid-table tr td.first{border-left:none;}
.ui-gird-table-meta {border:solid 1px #ddd;border-top:0;width:98%;padding-right:2%;overflow:hidden;}

.page-main .form{border:solid 1px #DDD;background:#F5F5F5;padding:10px 0;}
.form{}
.form .fl div.label{width:4rem;margin-right: -4rem;line-height:2rem;height:2rem;overflow:hidden;color:#000;}
.form .fl div.in{margin-left:4.2rem;}
.form .calender{margin-left:-150px;}
.valid-error{font-size:0.7rem;}
.no-row{color:red;}

/** a.button  **/
a.button{border:solid 1px #ddd;background: linear-gradient(to bottom, #F8F8F8 0px, #EEEEEE 100%) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    color:#333;padding:0 10px;line-height: 20px;display: inline-block;
}
a.btn{border:solid 1px #ddd;display: inline-block;padding: 0 1.5rem;background:#f0f0f0;border-radius:5px;}
a.btn-orange{background:#FF8C00;color:#FFF;border-color: #FF6600;}
a.btn-orange:hover{background:#FFD700;border-color:#FFA500;}
input.box{border:solid 1px #888;border-radius: 3px;line-height:1.5rem;height:1.5rem;padding:0 10px;margin:1px;}
input.box:focus{border:solid 2px #0A0;margin:0;background:#FFFFCC;}
input.btn{padding: 0px 20px;
    border-radius: 5px;cursor: pointer;
    box-shadow: 0px 1px 1px #EEE;
    border: 1px solid #CCC;
    font-size: 12px;color:#333;
		line-height:1.5;
		background: -webkit-linear-gradient(#F5F5F5, #E5E5E5); /* Safari 5.1 - 6.0 */
		background: -o-linear-gradient(#F5F5F5, #E5E5E5); /* Opera 11.1 - 12.0 */
		background: -moz-linear-gradient(#F5F5F5, #E5E5E5); /* Firefox 3.6 - 15 */
		background: linear-gradient(#F5F5F5, #E5E5E5); /* 标准的语法 */
}
input.btn:hover{
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 0px 0px #EEE, 0px 10px 15px #EEE inset;
    border-color:#ddd;
}


.deliver-form{background:#F5F5F5;margin:1px 8px;border:solid 1px #ddd;}


