<!DOCTYPE html>
<html>
<head>
	<title>订单管理</title>
    <link rel="stylesheet" type="text/css" href="{{.static_serve}}/assets/easyui/themes/gray/easyui.css?spam={{.spam}}">
    <link rel="stylesheet" type="text/css" href="{{.static_serve}}/assets/easyui/themes/icon.css?spam={{.spam}}">
    <link href="{{.static_serve}}/assets/mui/css/latest/page_style.css?v={{.version}}" rel="stylesheet" type="text/css" />
    <link href="{{.static_serve}}/css/partner/partner.css?spam={{.spam}}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="dg"></div>
    <div class="toolBar">
        <div class="search_bar padding2" id="search_bar">
            <input field="couponId" type="hidden" value="{{.entity.Id}}"/>
            <ul>
                <li>
                    优惠券可绑数量：<span style="color:green">{{.entity2.Amount}}</span>
                    /{{.entity2.TotalAmount}}
                </li>
                <li>
                    <a class="easyui-linkbutton" iconcls="icon-add" id="btnBind">
                        <span class="icon"></span>发送优惠券</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>

<script src="{{.static_serve}}/assets/js/core_full.js?spam={{.spam}}"></script>
<script type="text/javascript" src="{{.static_serve}}/assets/easyui/jquery.min.js?spam={{.spam}}"></script>
<script type="text/javascript" src="{{.static_serve}}/assets/easyui/jquery.easyui.min.js?spam={{.spam}}"></script>
<script type="text/javascript" src="{{.static_serve}}/assets/easyui/locale/easyui-lang-zh_CN.js?spam={{.spam}}"></script>
<script src="{{.static_serve}}/assets/js/export.js?spam={{.spam}}"></script>
<script src="{{.static_serve}}/assets/js/plugins/sys.js?spam={{.spam}}"></script>


<script>
        var shops = {{.shops}};
        expr.ele = 'search_bar';

        expr.portal = 'Partner.PromCouponMemberBind'; //配置导出的入口
        expr.checkParams = function (data) {
            return true;
        };

        var refresh = function () { expr.reload('dg'); };

        j6.$('dg').style.height = j6.screen.height() + 'px';

        $(function () {
            //导出
            $('#btnExport').click(
                function () {
                    expr.showExportDialog();
                });

            $('#btnSearch').click(
                function () {
                    expr.search('dg');
                });
            $('#btnRefresh').click(refresh);

            //加载数据
            $('#dg').datagrid({
                toolbar: '.toolBar',
                singleSelect: false,
                pagination: true,
                rownumbers: true,
                fitColumns: true,
                url: expr.getDataUrl(),
                columns: [
                    [
                        {field:'id',title:'选择',checkbox:true,width:50,align:'center'},
                        {field:'name',title:'姓名',width:80,align:'center'},
                        {field:'bind_num',title:'已发送(张)',width:40,sortable:true,align:'center',formatter:function(v){
                            return v==0?"0":'<span style="color:green">'+v+"</span>";}},
                        {field:'usr',title:'用户名',align:'center'},
                        {field:'level_name',title:'等级',width:100,align:'center'},
                        {field:'sex',title:'性别',width:50,align:'center', formatter:function(val,row){
                            switch(val){
                                case '1':return '男';
                                case '2':return '女';
                            }
                            return '-';
                        }},
                       // {field:'phone',title:'手机',width:60,sortable:true,align:'center'},
                        {field:'reg_time',title:'注册时间',width:80,sortable:true,align:'center',formatter:function(val){
                            return unix2str(val);
                        }}
                    ]
                ]
            });
        });

        var amount= {{.entity2.Amount}};
        j6.$('btnBind').onclick=function(){
            var rows = $('#dg').datagrid('getSelections');
            var len = rows.length;
            if (len == 0) {
                $.messager.alert('提示', '请选择会员!');
            }else if(len>amount){
                $.messager.alert('提示', '优惠券可用数量不足('+ len +')!');
            } else {
                var data = '';
                for (var i = 0; i < rows.length; i++) {
                    if (i != 0) data += ',';
                    data += rows[i].id;
                }
                j6.xhr.jsonPost('/prom/bind_coupon', {id:{{.entity2.Id}},member_ids: data }, function(json) {
                    if (json.result) {
                        $.messager.alert('提示', '发送成功!','',function(){
                            location.reload();
                            var d = j6.dialog.getDialog();
                            d.window.sended=true;
                        });
                    }else{
                        $.messager.alert('提示',json.message);
                    }
                });
            }
        };
    </script>
</body>
</html>
