<!DOCTYPE html>
<head>
    <title>收货地址</title>
    <link rel="StyleSheet" type="text/css" href="{{.static_serve}}/css/page.css?v={{.version}}"/>
    <link rel="StyleSheet" type="text/css" href="{{.static_serve}}/css/ucenter/touch/touch.css?v={{.version}}"/>
    <link rel="StyleSheet" type="text/css" href="/static/css/ucenter/touch/iconfont/iconfont.css?v={{.version}}"/>
</head>
<body>

{{template "header"$}}

<div class="panel page-main">
    <div class="page-main">
        <div class="h10"></div>


        <div class="btn_new_address" id="btn_new_address" style="margin:0 8px;">
            <a class="button" href="javascript:;">+添加新的收货地址</a>
        </div>

        <div class="clear-fix"></div>

        <div id="new_panel"></div>

        <div class="h10"></div>
        <div id="dg" class="ui-table"></div>


        <template id="addressTpl">
            <div class="form deliver-form" id="form-deliver">
                <input type="hidden" field="Id" value="0"/>
                <div class="fl">
                    <div class="label">姓名：</div>
                    <div class="in">
                        <input class="box ui-validate" type="text" regex="^[\u4e00-\u9fa5]{2,4}$" field="RealName"
                               summary="{'regex':'姓名为2-4位中文'}" />
                    </div>
                </div>

                <div class="fl">
                    <div class="label">手机号码：</div>
                    <div class="in">
                        <input class="box ui-validate" regex="^(13[0-9]|15[1|2|3|4|5|6|8|9]|18[0|6|7|8|9])(\d{8})$" field="Phone"
                               summary="{'regex':'手机号码不正确','required':'手机号码不能为空'}"/>
                        <div><span class="tip">请正确填写</span></div>
                    </div>
                </div>

                <div class="fl">
                    <div class="label">地址：</div>
                    <div class="in">
                        <input class="box ui-validate" required="true" field="Address" style="width:300px"
                               summary="{'0':'地址不能为空'}" />
                    </div>
                </div>

                <div class="fl">
                    <div class="label"></div>
                    <div class="in">
                        <input class="btn" type="button" value="&nbsp;确定&nbsp;" onclick="saveDeliveAddr()"/>&nbsp;
                        <input class="btn" type="reset" value="&nbsp;取消&nbsp;" onclick="toggleNewAdd()"/>
                    </div>
                </div>

            </div>
        </template>

        <div id="address_panel">

        </div>


    </div>
</div>


<script type="text/javascript" src="{{.static_serve}}/assets/js/core_full.js?ver={{.version}}"></script>


<script type="text/javascript">
    var addrs = {};
    var numIdx = 0;
    var _dg = $JS.grid('dg', {
        url: location.href,
        data: {page:$JS.request('page')||1,size:10},
        idField: 'id',
        columns: [
            { field: 'Id', title: '编号', width: 30,align:'center',
                formatter:function(){
                return ++numIdx;
            }},
            { field: 'RealName', title: '收货人', width: 80,align:'center'},
            { field: 'Phone', title: '联系电话', width: 120,align:'center'},
            { field: 'Address', title: '送货地址',align:'center'},
            {
                field: 'Id', title: '', width: 80, align: 'center',
                formatter: function (val, row, index) {
                    return '<a href="javascript:editAddr('+val+')">编辑</a> | '+
                            '<a href="javascript:delAddr('+val+')">删除</a>'
                }
            }
        ],
        loaded: function (data) {
            addrs = data.rows;
            var tables = document.getElementsByTagName('TABLE');
            J.table.dynamic(tables[1], false);
            tables[1].className= '';
        }
    });
    _dg.resize();


    var addressTpl = $JS.$('addressTpl').innerHTML;
    var newPanel = $JS.$('new_panel');

    function toggleNewAdd(){
        $JS.animation.toggleHeight(newPanel,null,25);
    }
    $JS.$('btn_new_address').onclick=function(){
        $JS.json.bind(newPanel,{Id:0,Address:'',RealName:'',Phone:''});
        if(newPanel.offsetHeight == 0){
            toggleNewAdd();
        }
    }

    function newAddr(show) {
        $JS.style(newPanel, {display: 'none'});
        newPanel.innerHTML = addressTpl;
        $JS.validator.init();
    }

    newAddr();

    function editAddr(id){
        for(var i=0;i<addrs.length;i++){
            if(addrs[i].Id == id){
                $JS.json.bind(newPanel,addrs[i]);
                if(newPanel.offsetHeight == 0){
                    toggleNewAdd();
                }
                break;
            }
        }
    }

    function saveDeliveAddr(){
        if($JS.validator.validate('form-deliver')){
            var d = $JS.json.toObject('form-deliver');
            $JS.xhr.jsonPost('saveDeliver',d,function(json){
                if(json.result){
                    loadDeliver('deliver-panel');
                }else{
                    alert(json.message);
                }
            },function(){});
        }
    }

    function loadDeliver(id){
        location.reload();
    }

    function delAddr(id){
        if(confirm('确定要删除配送地址吗？')) {
            $JS.xhr.jsonPost('deleteDeliver.htm', {id: id}, function (json) {
                if (json.result) {
                    location.reload();
                } else {
                    alert(json.message);
                }
            });
        }
    }

</script>

{{template "footer"$}}

</body>
</html>