<!DOCTYPE html>
<head>
    <title>修改密码</title>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <link rel="StyleSheet" type="text/css" href="{{.static_serve}}/css/page.css?v={{.version}}"/>
    <link rel="StyleSheet" type="text/css" href="{{.static_serve}}/css/ucenter/touch/touch.css?v={{.version}}"/>
</head>
<body>

{{template "header"$}}

<div class="page-main page-profile page-pwd">
    <div class="tab">
        <ul>
            <li class="current"><a href="pwd.htm">登陆密码</a></li>
            <li><a href="trade_pwd.htm">交易密码</a></li>
        </ul>
        <div class="clear-fix"></div>
    </div>

    <div id="form1" class="form form2">


            <div class="fl">
                <div class="label">原密码：</div>
                <div class="in">
                    <input class="box ui-validate" type="password" required="true" tipin="tip_old_pwd" field="OldPwd"
                           summary="{required:'请填写原密码'}" onfocus="this.value=''"/>
                    <span class="fv" id="tip_old_pwd"></span>
                </div>
            </div>
            <div class="fl">
                <div class="label">新的密码：</div>
                <div class="in">
                    <input class="box ui-validate" type="password" required="true" tipin="tip_new_pwd" field="NewPwd"
                           summary="{required:'请填写新密码'}" onfocus="this.value=''"/>
                    <span class="fv" id="tip_new_pwd"></span>
                </div>
            </div>
            <div class="fl">
                <div class="label">重复密码：</div>
                <div class="in">
                    <input class="box ui-validate" type="password" required="true" tipin="tip_re_pwd" field="RePwd"
                           summary="{required:'请再次填写新密码!'}" onfocus="this.value=''"/>
                    <span class="fv" id="tip_re_pwd"></span>
                </div>
            </div>

            <div class="fl">
                <div class="label"></div>
                <div class="in">
                    <input class="btn btn-m" type="button" value="修改" onclick="saveData()"/>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>


<script type="text/javascript" src="{{.static_serve}}/assets/js/mobi/core.js?ver={{.version}}"></script>
<script type="text/javascript" src="{{.static_serve}}/assets/js/j6/ui.min.js?ver={{.version}}"></script>


<script type="text/javascript">
	function saveData(){
	    if(j6.validator.validate('form1')){
	        var data = j6.json.toObject('form1');
            if(data.OldPwd == data.NewPwd){
                showErr('新密码不能与原密码相同',2000);
                return false;
            }
            data.OldPwd = sha1(data.OldPwd);
            data.NewPwd = sha1(data.NewPwd);
            data.RePwd = sha1(data.RePwd);
	        j6.xhr.jsonPost('?',data,function(json){
                if (json.result) {
                    showMsg('修改成功',2000);
                } else {
                    showErr(json.message,3000);
                }
	        });
	    }
	}


</script>

{{template "footer"$}}

</body>
</html>