<!DOCTYPE html>
<html>
<head>
	<title>订单管理</title>
    <link rel="stylesheet" type="text/css" href="{{.static_serv}}/assets/easyui/themes/gray/easyui.css">
    <link rel="stylesheet" type="text/css" href="{{.static_serv}}/assets/easyui/themes/icon.css">
    <link href="{{.static_serv}}/css/partner/common.css" rel="stylesheet" type="text/css" />
    <link href="{{.static_serv}}/css/partner/partner.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="gd"></div>
    <div class="toolBar">
        <div class="searchBar padding2" id="searchbar">
            <ul>
                <li>
                    <a class="easyui-linkbutton" iconcls="icon-add" id="btnAdd">
                        <span class="icon"></span>新增优惠券</a>
                </li>

                <li>
                    <span class="title">关键字：</span>
                    <input type="text" field="keyword" />
                </li>
                <li>
                    <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="btnSearch">
                        <span class="icon"></span>搜索</a>
                </li>
                <li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>

<script src="{{.static_serv}}/assets/js/core_full.js"></script>
<script type="text/javascript" src="{{.static_serv}}/assets/easyui/jquery.min.js"></script>
<script type="text/javascript" src="{{.static_serv}}/assets/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="{{.static_serv}}/assets/easyui/locale/easyui-lang-zh_CN.js"></script>
<script src="{{.static_serv}}/assets/js/export.js"></script>
<script src="{{.static_serv}}/assets/js/plugins/sys.js"></script>


<script>
        var shops = {{.shops}};
        expr.ele = 'searchbar';

        $JS.json.bind(expr.ele, {status: decodeURIComponent($JS.request('status')) });

        expr.portal = 'Partner.CouponList'; //配置导出的入口
        expr.checkParams = function (data) {
            return true;
        };

        var refresh = function () { expr.reload('gd'); };

        $JS.$('gd').style.height = $JS.screen.height() + 'px';

        $(function () {

            //导出
            $('#btnExport').click(
                function () {
                    expr.showExportDialog();
                });

            $('#btnSearch').click(
                function () {
                    expr.search('gd');
                });
            $('#btnRefresh').click(refresh);

            //加载数据
            $('#gd').datagrid({
                toolbar: '.toolBar',
                singleSelect: !false,
                pagination: true,
                rownumbers: true,
                fitColumns: true,
                url: expr.getDataUrl(),
                columns: [
                    [
                        {field:'code',title:'优惠券',width:100,align:'center',formatter:function(v,r){
                            var html = v+"&nbsp;";
                            if(!r.allow_enable){
                                html += '<span style="color:red">[停]</span>';
                            }
                            if(r.over_time<new Date()){
                                html += '<span style="color:red">[过]</span>';
                            }
                            return html;
                        }},
                        {field:'description',title:'描述',align:'center',formatter:function(val){
                            if(val.length==0)return "-";
                            return val;
                        }},
                        {field:'total_amount',title:'可用数量',width:50,align:'center',formatter:function(val,row){
                            return '<span style="color:green">'+row.amount+'</span> / '+val;
                        }},
                        {field:'discount',title:'订单折扣',width:50,align:'center', formatter:function(val,row){
                               if(val ==100 || val==0){
                                   return "无折扣";
                               }
                               return '<span style="color:green">'+val+"折</span>";
                        }},
                        {field:'fee',title:'优惠金额',width:50,sortable:true,align:'center',  formatter:function(val){
                                    return val==0?"0":'<span style="color:green">'+val+"元</span>";
                        }},
                        {field:'integral',title:'赠送积分',width:50,sortable:true,align:'center',sorter:function(a,b){
                                return (a>b?1:-1);
                        }, formatter:function(val){
                            return val==0?"0":'<span style="color:green">'+val+"</span>";
                        }},
                        {field:'min_fee',title:'金额要求',width:50,sortable:true,align:'center', formatter:function(val){
                              return val==0?"无":'>'+val+"元";
                            }
                        },
                        {field:'limit_levelName',title:'等级要求',width:50,sortable:true,align:'center', formatter:function(val){
                            return val==0?"无":'<span style="color:red">'+val+"</span>";
                        }},
                        {field:'allow_enable',title:'是否启用',width:50,sortable:true,align:'center',
                            formatter:function(val){
                                return val == 1?'<span style="color:green">是</a>':"否";
                            }
                        },
                        {field:'need_bind',title:'通用',width:50,sortable:true,align:'center',
                            formatter:function(val){
                                return val != 1?'<span style="color:green">是</a>':"否";
                            }
                        },
                        {field:'begin_time',title:'有效时间',width:110,align:'center',
                            formatter:function(v,r){
                               v = unix2str(v);
                               r = unix2str(r);
                            return v.substring(0,v.indexOf(" "))+" ~ "+
                                    r.over_time.substring(0,r.over_time.indexOf(" "));
                        }},
                        {field:'id',title:'操作',width:80,align:'center',
                            formatter:function(v,r){
                                var html='';
                                if(r.need_bind  && r.allow_enable){
                                    html+='<a href="javascript:bindCoupon(\''+r.id+'\',\''+r.code+'\')">发送</a> | ';
                                }

                                html+='<a href="javascript:editRecord(\''+r.id+'\')">修改</a> | ';
                                html+='<a href="javascript:delRecord(\''+r.id+'\')">删除</a>';

                                return html;
                            }
                        }
                    ]
                ]
            });
        });

        $JS.$('btnAdd').onclick=addRecord;

        function addRecord(){
            $JS.tab.open2('新增优惠券', 'pt/prom/createCoupon', null, true);
        }

        function editRecord(id){
            $JS.tab.open2('修改优惠券', 'pt/prom/editCoupon?id=' + id, null, true);
        }

        function bindCoupon(id,code){
             $JS.dialog.create2('发送优惠券：'+code,true,true).open('pt/prom/bindCoupon?coupon_id=' + id, 800,500);
        }

        function delRecord(id) {
            $.messager.confirm('提示', '删除后不可恢复，您确定要继续吗？', function(result) {
                if (result) {
                    $JS.xhr.jsonPost('pt/prom/delCoupon', { id: id }, function(json) {
                        if (json.result) {
                            expr.reload('gd');
                        }
                    });
                }
            });
        }
    </script>
</body>
</html>
