body {
	margin: 0;
	font: 14px Arial, Sans-serif
}

#top {
	background: #006699;
}

#top .logo {
	position: absolute;
	left: 30px;
	background: url(images/logo.gif) left center no-repeat;
	padding-left: 40px;
	line-height: 40px;
	font-weight: bold;
	color: white;
	font-size: 16px;
	faont-family: '黑体'
}

#top .tabs {
	margin-left: 200px;
}

#top .tabs a {
	display: block;
	float: left;
	padding: 0 10px;
	line-height: 40px;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

#top .tabs a.selected {
	background: white;
	color: #0066cc;
	margin-top: 5px;
	line-height: 30px;
	padding-bottom: 5px;
}

#main {
	margin: 0;
	overflow: hidden;
}

#main .menu,#main #frame,#main #quickbar {
	padding-bottom: 1500px;
	margin-bottom: -1500px;
}

#main .menu {
	width: 150px;
	float: left;
	margin-right: -150px;
}

#main #quickbar {
	width: 100px;
	float: right;
	margin-left: -100px;
}

#main #frame {
	width: auto;
	margin-left: 150px;
	margin-right: 100px;
}

#main .menu {
	background: #f5f5f5 url(images/left_bg.gif) right top repeat-y;
}

#menulinks {
	margin: 5px 0;
	padding: 0;
	list-style: none;
}

#menulinks a {
	display: block;
	font-size: 12px;
	line-height: 31px;
	text-decoration: none;
	color: #666;
	padding-left: 45px;
	font-weight: bold;
}

#menulinks a.current {
	color: #006699;
	background: url(images/slct_tab.gif) 13px center no-repeat;
	line-height: 31px;
}

#frame {
	padding: 1px;
	border-right: solid 1px #006699;
}

#frame iframe {
	width: 100%;
	height: 100%;
	background: white;
}

#footer {
	line-height: 20px;
	background: #006699;
}

#footer a {
	color: white;
}

/** Dialog **/
.dialog .bglayer {
	background: white;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

.dialog .box {
	border: solid 1px #006699;
	background: white;
	padding: 5px;
}

.dialog .box .loader {
	width: 80px;
	background: url(/style/admin/ajax-loader.gif) center center no-repeat;
	height: 30px;
}

.dialog .box .title {
	font-size: 14px;
	font-weight: bold;
	color: #006699;
	background: #f5f5f5;
	padding: 0 10px;
	line-height: 25px;
	border-bottom: solid 1px #e5e5e5;
	margin: -5px -5px 5px -5px;
}

.dialog .box .close {
	padding: 0 5px;
	font-weight: normal;
}

.pad10 {
	padding: 10px;
}

.mar10 {
	margin: 10px;
}