<!doctype html>
<html>
<head>
<title>商户登陆</title>
	<link href="{{.Var.static_serve}}/assets/mui/css/login.css?v={{.Var.version}}" rel="stylesheet" type="text/css" />

</head>
<body>
	<div class="low-layout"></div>
	<div class="container login-panel" id="login-panel">
			<div class="panel login" id="loginForm">

			<div class="center c1">
				<strong>商户登录</strong>
			</div>


			<div>
				<p>
					<span class="txt"><span style="margin-right: 14px">用</span>户：</span>
					<input field="uid" name="username" type="text" class="ui-box" placeholder="账号"/>
				</p>
				<p>
					<span class="txt"><span style="margin-right: 14px">密</span>码：</span>
					<input id="tb_pwd" field="pwd" name="password" type="password" class="ui-box" placeholder="密码"
						   onfocus="this.value = '';"/>
				</p>
				<p class="verify-panel" style="display:none">
					<span class="txt">验证码：</span><input id="vcode" field="code" name="verifycode" class="ui-box box2 left"/>
					<span class="verify" id="vimg" onclick=" refreshImage() " title="验证码不区分大小写，点击刷新验证码">&nbsp;</span>
				</p>

				<div class="msg hidden" id="tip">&nbsp;</div>
				<p>


                            <span class="ui-button middle-button" id="btn_login">
                                <span class="button-inner">
                                    <span class="button-txt">登录</span>
                                    <a href="javascript:;"></a>
                                </span>
                            </span>
				</p>

			</div>
		</div>
</div>

	<script type="text/javascript" src="{{.Var.static_serve}}/assets/js/jr/core.js?v={{.Var.version}}"></script>
	<script type="text/javascript" src="{{.Var.static_serve}}/assets/js/jr/ui.min.js?v={{.Var.version}}"></script>
	<script type="text/javascript">
		jr.xhr.filter = null;
	 	var d = jr.$('login-panel');
        
		   var tip = jr.$('tip');
		   document.body.onkeydown = function (e) {
	            var event = window.event || e;
	            if (event.keyCode == 13) {
	                login();
	            }
	        };
	        function login() {
	            var formData = jr.json.toObject(d.id);
				formData.pwd = sha1(formData.uid+":"+formData.pwd);
				jr.json.bind(d.id,formData);
	            if (jr.validator.validate(d.id)){
	                jr.xhr.jsonPost(location.href, formData, function (json) {
	                    if (json.result) {
	                        tip.innerHTML = '';
							window.parent.location.replace('/main/dashboard');
	                    }
	                    else {
	                        if (json.message.indexOf('验证码') != -1) {
	                            refreshImage();
	                        }
							tip.className = 'tip';
	                        tip.innerHTML = '<span style="color:red">提示：' + json.message + '</span>';
	                    }
	                }, function (x) {
						tip.className = 'tip';
	                    tip.innerHTML = '<span style="color:red">服务器出错，请重试!</span>';
	                });
	            }
	        }
	        
	        jr.$('btn_login').onclick=login;
		</script>
</body>
</html>
