<!DOCTYPE html>
<html>
<head>
    <title>会员基本信息</title>
    <link href="{{.Var.static_serve}}/assets/mui/css/latest/page_style.css?v={{.Var.version}}" rel="stylesheet" type="text/css" />
    <link href="{{.Var.static_serve}}/css/partner/partner.css?spam={{.Var.spam}}" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="form1" class="member-profile">

    <div class="avatar">
        <img src="{{.Map.Avatar}}"/>
    </div>

    <div class="profile">
        <ul>
            <li class="item"><label>用户编号：</label>{{.Map.m.Id}}</li>
            <li class="item"><label>姓名：</label>{{.Map.m.Name}}</li>
            <li class="item"><label>用户名：</label>{{.Map.m.Usr}}</li>
            <li class="item"><label>性别：</label>{{.Map.sexName}}</li>
            <li class="item"><label>等级：</label>{{.Map.lv.Name}}</li>
            <li class="item"><label>经验值：</label>{{.Map.m.Exp}}</li>

            <li class="item"><label>生日：</label>{{.Map.m.BirthDay}}</li>

            <li class="item"><label>电话：</label>{{.Map.m.Phone}}</li>

            <li class="item"><label>即时通讯：</label>{{.Map.m.Im}}</li>
            <li class="item"><label>邮箱：</label>{{.Map.m.Email}}</li>

            <li class="item" style="width:100%"><label>地址：</label>{{.Map.m.Address}}</li>
            <li class="item"><label>邀请码：</label>{{.Map.m.InvitationCode}}</li>
            <li class="item"><label>邀请人：</label><a href="javascript:;" onclick="showInv(this,'{{.Map.invId}}')">{{.Map.invName}}</a>
                <input type="button" class="btn btn-plat" value="查看关联" onclick="showFullInv(this,'{{.Map.m.Id}}')" style="margin:5px 0 0 75px"/>
            </li>

            <li class="item"><label>注册来源：</label>{{.Map.m.RegFrom}}</li>
            <li class="item"><label>注册IP：</label>{{.Map.m.RegIp}}</li>
            <li class="item"><label>注册时间：</label>{{.Map.regTime}}</li>


            <li class="item"><label>最后登陆：</label>{{.Map.lastLoginTime}}</li>
        </ul>
    </div>

    <div class="clear-fix"></div>
</div>

<script type="text/javascript">
    if(window.setMST)window.setMST('{{.Map.m.State}}');
    function showInv(t,id){
        var memberId = parseInt(id);
        if(memberId > 0){
            jr.tab.open('查看邀请人:'+ t.innerHTML, '/member/member_details?member_id='+memberId, true);
        }
    }
    function showFullInv(t,id){
        var d = jr.dialog.create2('邀请关系',true,true);
        d.open('/member/invi_relation?member_id='+memberId,600,400);
    }
</script>

</body>
</html>
