<!DOCTYPE html>
<html>
<head>
    <title>会员基本信息</title>
    <link href="{{.static_serve}}/assets/mui/css/latest/page_style.css?v={{.version}}" rel="stylesheet" type="text/css" />
    <link href="{{.static_serve}}/css/partner/partner.css?spam={{.spam}}" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="form1" class="member-profile">

    <div class="avatar">
        <img src="{{.img_serve}}/{{.m.Avatar}}"/>
    </div>

    <div class="profile">
        <ul>
            <li class="item"><label>用户编号：</label>{{.m.Id}}</li>
            <li class="item"><label>姓名：</label>{{.m.Name}}</li>
            <li class="item"><label>用户名：</label>{{.m.Usr}}</li>
            <li class="item"><label>性别：</label>{{.sexName}}</li>
            <li class="item"><label>等级：</label>{{.lv.Name}}</li>
            <li class="item"><label>经验值：</label>{{.m.Exp}}</li>

            <li class="item"><label>生日：</label>{{.m.BirthDay}}</li>

            <li class="item"><label>电话：</label>{{.m.Phone}}</li>

            <li class="item"><label>QQ：</label>{{.m.Qq}}</li>
            <li class="item"><label>邮箱：</label>{{.m.Email}}</li>

            <li class="item"><label>地址：</label>{{.m.Address}}</li>

            <li class="item"><label>注册来源：</label>{{.m.RegFrom}}</li>
            <li class="item"><label>注册IP：</label>{{.m.RegIp}}</li>
            <li class="item"><label>注册时间：</label>{{.regTime}}</li>


            <li class="item"><label>最后登陆时间：</label>{{.lastLoginTime}}</li>
        </ul>
    </div>

    <div class="clear-fix"></div>
</div>

<script type="text/javascript">
    if(window.setMST)window.setMST('{{.m.State}}');
</script>

</body>
</html>
