<!DOCTYPE html>
<html>
<head>
    <title>客服充值</title>
    <link href="{{.static_serve}}/assets/mui/css/latest/page_style.css?v={{.version}}" rel="stylesheet" type="text/css" />
    <link href="{{.static_serve}}/css/partner/partner.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="form1" class="form margin30">
    <div class="tip-box">
        待充值会员：<b style="color:#0a0">{{.m.Name}}</b><br />当前余额为：<b style="color:#0a0"><span id="lb_balance">{{.m.Balance}}</span>元</b>
    </div>
    <br />
    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>充值金额：</div>
        <div class="in">
            <input type="hidden" field="MemberId" value="{{.m.Id}}"/>
            <input id="tb_amount" class="ui-validate ui-box" isnumber="true" type="text" value="" field="Amount" style="width:50px"/>元
        </div>
    </div>

    <div class="fl">
        <div class="label"></div>
        <div class="in">
            <span class="ui-button w150" id="btn_save"><span class="button-inner"><span class="button-txt"> 充值 </span><a href="javascript:;"></a></span></span>
        </div>
    </div>

</div>

<script src="{{.static_serve}}/assets/js/core_full.js"></script>
<script src="{{.static_serve}}/assets/js/plugins/sys.js"></script>

<script>
    j6.$('btn_save').onclick = function () {
        var data = j6.json.toObject('form1');
        data.Amount = parseFloat(data.Amount || 0);
        if (data.Amount <= 0) {
            j6.validator.setTip(j6.$('tb_amount'), false, null, "充值金额错误");
            return false;
        }else{
            j6.validator.removeTip(j6.$('tb_amount'));
        }

        var finalAmount = data.Amount + parseFloat(j6.$('lb_balance').innerHTML);
        if (confirm('充值后金额：￥' + finalAmount + '元\n确定要继续充值吗？')) {
            j6.xhr.jsonPost(location.href, data, function (json) {
                window.parent.$.messager.alert('提示', json.result ? '充值成功' : json.message, 'ok', function () {
                    var d = j6.dialog.getDialog();
                    if (d.window.refresh) {
                        d.window.refresh();
                    }
                    d.close();
                });
            }, function (e) {
                window.parent.$.messager.alert('提示', "充值失败！ ", 'error');
            });
        }
    }
</script>
</body>
</html>
