<ion-view title="订餐" hide-nav-bar="true">
  <ion-content has-header="false" padding="false">
  	   <div style="height:30px;background:green;color:#fff">
  	   		
  	   		<div id="category-panel" class="category-panel"></div>
  	   		

  	   		<div class="shopping-cart-panel right">
  	   			共份，<b>订单金额</b>：<span class="cash">收银台</span>
  	   		</div>

  	   </div>

  	   <div class="shopping-items">
  	   		<div class="wait">
  	   			<div class="icon ion-loading-d"></div>
  	   			正在服务器上拿数据...
  	   		</div>
  	   </div>

  </ion-content>
</ion-view>
