<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">
  <ion-tab title="首页" icon="icon ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="订餐" icon="icon ion-aperture" href="#/tab/ording">
    <ion-nav-view name="tab-ording"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="收藏夹" icon="icon ion-heart" href="#/tab/favi">
    <ion-nav-view name="tab-favi"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="用户中心" icon="icon ion-gear-b" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
