{{$img_serve:=.img_serve}}
<!doctype html>
<html>
<head>
    <title>购物车</title>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1"/>
    <link type="text/css" rel="stylesheet" href="{{.static_serve}}/css/shop/app_embed/stand.css"/>
</head>
<body>

    {{template "header" $}}


    <div>
        <span></span>
    </div>
    <div class="cart-summary">
        <div id="cart-panel" class="cart-panel">
            <div class="cart"></div>
            <div class="submit">
                <a href="javascript:void(0)" class="btn" id="btn_back">继续购物</a>
                <a class="btn btn-orange" href="javascript:;" id="btn_settle">结算订单</a>
            </div>
        </div>


    </div>

    <br />

    {{template "footer" $}}

    <script src="{{.static_serve}}/assets/js/mobi/core.js"></script>
    <script src="{{.static_serve}}/assets/js/shopping_cart.min.js"></script>

    <script type="text/javascript">
        window.cart.init('cart-panel', function (c) { });
        window.onload=function() {
            j6.$('btn_settle').onclick = function () {
                location.href = '/buy/confirm';
            }
            j6.$('btn_back').onclick = function () {
                if(document.referrer) {
                   window.history.go(-1);
                }else{
                    location.href='/list/all_cate';
                }
            }
        }
    </script>
</body>
</html>
