html{overflow:auto; /*关闭IE6的右侧*/}
body{
   font-size:12px;
   margin:0px;font:12px '微软雅黑',sans-serif,arial;
   background:#eee;
}
img{border:none;}
.clearfix{clear:both;}
.hidden{display:none;}
a{outline:none;}
dd,dt{margin:0;}
.hr{border-top:solid 1px #fff;border-bottom:solid 1px #ddd;}

.page-top{background:#00356a url(top_bg.gif) repeat-x;border-bottom:solid 1px #00356a;}
.page-top a.logo{display:inline-block;float:left;width:238px;height:49px;background:url(logo.gif) 0 bottom no-repeat;text-indent:-999em;margin-left:20px;}
.page-top a.logo h1{margin:0;padding:0;}

.page-user{position:absolute;right:10px;top:0;color:#fff;width:220px;max-width:300px;overflow:hidden;}
.page-user .avatar{float: left;background:url(avatar_bg.png) center bottom no-repeat;padding:6px 7px 7px 7px;}
.page-user .text{margin:5px 6px;line-height:20px;}
.page-user .text a{color:#ddd;text-decoration:none;}

.page-top ul.icon-ctrl{position:absolute;top:9px;left:300px;z-index:100;padding:0;margin:0;list-style:none;height:100%; vertical-align:middle;height:34px;/*overflow:hidden;*/}
.page-top ul.icon-ctrl li{float:left;padding:5px;margin-right:15px;text-align:center;position:relative;border:solid 1px transparent;}
.page-top ul.icon-ctrl li.first{/*background:none;*/}
.page-top ul.icon-ctrl a.title{color:#fff;font-size:14px;font-weight:bold;text-decoration:none;line-height:30px;overflow:hidden;}
.page-top ul.icon-ctrl a:hover{color:#d9ebff;}
.page-top ul.icon-ctrl li.drop a.title{background:url(drop_arraw.gif) right center no-repeat;padding-right:15px;}
.page-top ul.icon-ctrl a img.icon{height:20px;float:left;margin:5px 5px 0 0;vertical-align:middle;}
.icon-ctrl li.hover,.icon-ctrl li.drop:hover{background:#1174ef;border:solid 1px #00356a;border-bottom:none;}
.icon-ctrl li.drop div.menu{position:absolute;top:40px;left:-1px;z-index:100;background:#1174ef;
         border:solid 1px #00356a;border-top:none;color:#fff;display:none;text-align:left;padding:5px;line-height:22px;}
.icon-ctrl li.drop:hover div.menu,.icon-ctrl li.hover div.menu{display:block;}
.icon-ctrl li.drop div.menu div.hr{border-top:solid 1px #0066cc;border-bottom:solid 1px #00356a;margin:5px 0;height:0;overflow:hidden;}
.icon-ctrl li.drop div.menu em{font-size:9pt;}
.icon-ctrl li.drop div.menu ul{margin:3px 0;padding:0;list-style:none;}
.icon-ctrl li.drop div.menu a{color:#fff;text-decoration:underline;}
.icon-ctrl li.drop div.menu a:hover{color:#00356a;}
.icon-ctrl li.drop div.menu a.block{display:block;padding:2px 10px;border:solid 1px #1174ef;color:#fff;text-decoration:none;}
.icon-ctrl li.drop div.menu a.block:hover{background:#fff;border:solid 1px #00356a;color:#00356a;}

.page-main{overflow:hidden;position:relative;}
.page-main-left{float:left;width:180px;margin-right:-180px;background:#f0f0f0;overflow:hidden;}
.page-main-right{float:right;margin-left:185px;width:auto;}
.page-main-left,.page-main-right{padding-bottom:3000px;margin-bottom:-3000px;height:100%;}

.page-main-split{border-right:solid 1px #d0d0d0;position:absolute;left:190px;left:180px;top:20px;width:5px;height:100%;cursor:w-resize;}
.page-frame-shadow{width:100%;height:100%;background:#f0f0f0;opacity:0.6;filter:alpha(opacity=60);text-indent:-999em;position:absolute;top:0;left:0;}

/* menu */
.page-left-menu{border:solid 1px #d0d0d0;background:#fff;border-left:none;border-bottom:none;margin-top:3px;height:100%;}
.page-left-menu ul{margin:0;padding:5px;list-style:none;border-bottom:solid 1px #d0d0d0;margin-bottom:1px;}
.page-left-menu .group-title{background:url(menu_bar_bg.gif) repeat-x;line-height:38px;border-bottom:solid 1px #d0d0d0;font-weight:bold;padding-left:15px;margin-bottom:1px;color:#333;}
.page-left-menu .group-title span{padding-left:18px;background:url(menu_icon.gif) left center no-repeat;}
.page-left-menu ul li{padding-left:0px;line-height:25px;background:#eee;margin-bottom:1px;}
.page-left-menu ul li.current{background:url(left_menu_current.gif) 0 center no-repeat;}
.page-left-menu ul li a{background:url(columns.png) 20px center no-repeat;padding-left:40px;}

/*** tab ***/
.page-tabs {height:27px;border-bottom:solid 1px #cacaca;padding-top:3px;}
.page-tabs ul{list-style:none;padding:0;margin:0;}
.page-tabs li{float:left;position:relative;line-height:26px;margin-right:1px;border:solid 1px #cacaca;
                background:url(tab_bg.gif) center bottom repeat-x;color:#333;font-weight:bold;}
.page-tabs li.current{background:#fff url(tab_bg_hover.gif) repeat-x;color:#006699;border-bottom:solid 1px #f5f5f5;}
.page-tabs li span.link{cursor:pointer;}
.page-tabs li .tab-close{cursor:pointer;position:absolute;right:0;top:0;font-family:Arial;color:#000;padding:0 12px;font-size:16px;
                            background:url(tab_close.gif) center center no-repeat;text-indent:-99em;
}
.page-tabs li .tab-title{display:block;float:left;padding:0 20px 0 15px;line-height:26px; vertical-align:central;cursor:default;}
.page-tabs li span.rgt{/*background-position:-234px -130px; display: block;height: 26px;*/width: 5px;float:left;}
/*.page-tabs li.current span.rgt{background-position:-234px -156px;}*/

/* frame (ie6,7下loading宽度不正常，解决办法设固定宽度) */
.page-frames{position:relative;background:#fff;}
.page-frames iframe{width:100%;height:100%;}
.page-frames .mask{position:absolute;left:1px;top:0;background:#f5f5f5;opacity:1;filter:alpha(opacity=100);z-index:898;}
.loading{position:absolute;z-index:899;font-weight:bold;color:#006699;line-height:24px;}
.loading .lft{background:url(loading_box.gif) left center no-repeat;padding:5px 0 5px 5px;}
.loading .main{background:url(loading_box.gif) right center no-repeat;padding:5px 5px 5px 0;}
.loading .text{background:url(ajax-loader.gif) 10px 0 no-repeat;padding:0 15px 0 32px;}

.page-frames .frames,.page-frames .frames div{height:100%;}
.page-frames .frames div {visibility:hidden; clear: both;}
.page-frames .frames div.current {visibility:visible; }



/* ++++++++++++++++ UI ++++++++++++++++++ */
.ui-tree .title{font-size:14px;color:#0066cc;}
.ui-tree div.node{font-size:12px;line-height:17px;font-weight:bold}
.ui-tree div.node img{border: 0px;vertical-align: middle;}
.ui-tree div.node a{text-decoration:none;color:#006699;}
.ui-tree div.node a:hover{text-decoration:underline;color:#000;}


/* 对话框 */
.ui-dialog .bglayer{background:#d0d0d0;opacity:0.2;filter:alpha(opacity=20);}
.ui-dialog .box {
    border: solid 1px #bbb;
    background: #f3f3f3;
    -moz-box-shadow:0 0 5px 0 #bbb; /*firefox*/
    -webkit-box-shadow:0 0 5px 0 #bbb; /*webkit*/
    box-shadow:0 0 5px 0px #bbb; /*opera或ie9*/
    zoom: 1; filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=5, OffY=0, Color=#bbb); /* ie6,ie7,ie8 */
}
.ui-dialog .box .title{padding-top:10px;font-size:14px;font-weight:bold;color:#006699;background:#F0F0F0;padding:0 10px;line-height:30px;
                       background:#f9f9f9 url(title_bg.gif) 0 5px repeat-x;
/*border-bottom:solid 2px #FFF;*/}
.ui-dialog .box .title .txt{padding-left:25px;background:url(blocks.gif) left center no-repeat;}
.ui-dialog .box .close{cursor:pointer;position:absolute;right:0;top:0;font-family:Arial;color:#000;padding:0 12px;font-size:16px;
                            background:url(tab_close.gif) center center no-repeat;text-indent:-99em}
.ui-dialog .box .boxcontent{margin:0 5px 5px 5px;background:#fff;border:solid 1px #d0d0d0}
.ui-dialog .box .bottom{display:none;}

/* tipbox */
.ui-tipbox { border: solid 3px #ff3300;background: #ffffcc; z-index: 3000; }
.ui-tipbox .ui-tipbox-container{padding:8px 35px 5px 38px;font-size:14px;font-weight:bold;color:#000;}

/*
.page-site #sites{position:absolute;left:186px;top:26px;line-height:20px;cursor:pointer;color:#000;text-align:center;}
.page-site .list{background:#fff;display:none;position:absolute;top:22px;left:-1px;border:solid 1px #006699;border-top:none;z-index:98;width:120px;}
.page-site .list ul{list-style:none;margin:0;padding:0;}
.page-site .list a{display:block;text-decoration:none}
.page-site .list a:hover{background:#006699;color:#fff;}
.page-site .list a{line-height:30px;color:#000;}
.page-site #sites:hover .list,.page-site .hover .list{display:block;}
.page-site .selectbtn{background:#fff;padding:3px 5px;}
    */