<!DOCTYPE html>
<html>
<head>
    <title>更新项</title>
    <link href="{{.Var.static_serve}}/assets/mui/css/latest/page_style.css?v={{.Var.version}}" rel="stylesheet" type="text/css" />
    <link href="{{.Var.static_serve}}/css/partner/partner.css?spam={{.Var.spam}}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="form_adv1" class="form margin30">
    <input type="hidden" field="Id" value="0"/>

    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>广告名称：</div>
        <div class="in">
            <input type="text" class="ui-box ui-validate" required="true" field="Name"/>
        </div>
    </div>

    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>广告类型：</div>
        <div class="in">
            <select field="Type" required="true" class="ui-validate ui-box">
                <option value="">一请选择一</option>
                <option value="1">文本</option>
                <option value="2">图片</option>
                <option value="3">图片轮播</option>
            </select>
        </div>
    </div>
    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>是否启用：</div>
        <div class="in">
            <input type="radio" class="radio" field="Enabled" name="Enabled" id="Enabled" value="1" checked="checked" /><label for="Enabled1">启用</label>
            <input type="radio" class="radio" field="Enabled" name="Enabled" id="Enabled2" value="0" /><label for="Enabled2">停用</label>
        </div>
    </div>


    <div class="fl">
        <div class="label">&nbsp;</div>
        <div class="in">
             <span class="ui-button w150" id="btn_save">
                 <span class="button-inner">
                     <span class="button-txt">提交</span>
                     <a href="javascript:;"></a>
                 </span>
             </span>
        </div>
    </div>
</div>

<script src="{{.Var.static_serve}}/assets/js/core_full.js?spam={{.Var.spam}}"></script>
<script src="{{.Var.static_serve}}/assets/js/plugins/sys.js?spam={{.Var.spam}}"></script>

<script>
    var entity ={{.Map.entity}} ||{};
    j6.json.bind('form_adv1', entity);

    jr.$('btn_save').onclick = function() {
        if (j6.validator.validate('form_adv1')) {
            var data = j6.json.toObject('form_adv1');
            j6.xhr.jsonPost('SaveAd', data, function(json) {
                if(json.result){
                    window.parent.$.messager.alert('提示', '保存成功！',"ok",function(){
                        j6.tab.closeAndRefresh('广告管理');
                    });
                }else {
                    window.parent.$.messager.alert('提示',  json.message,'error');
                }
            });
        }
    }
</script>
</body>
</html>
