<!DOCTYPE html>
<html>
<head>
	<title>树形选择</title>
	<link href="{{.Var.static_serve}}/assets/mui/css/latest/page_style.css?v={{.Var.version}}" rel="stylesheet" type="text/css" />
	<link href="{{.Var.static_serve}}/css/partner/partner.css?spam={{.Var.spam}}" rel="stylesheet" type="text/css" />
</head>
<body>

	<div class="tree" id="menu_tree" style="margin:0 0 15px 20px"></div>
	<script src="{{.Var.static_serve}}/assets/js/core_full.js?spam={{.Var.spam}}"></script>
    <script src="{{.Var.static_serve}}/assets/js/plugins/sys.js?spam={{.Var.spam}}"></script>
	
<script type="text/javascript">
var treeObj = null;
var treeEle = jr.$('menu_tree');
function treeHandler(src,value,text){
	var nodeLinks = j6.dom.getsByClass(treeEle, 'node');
	j6.each(nodeLinks, function(i, e) {
	    if (e.nodeName == 'DIV') {
	    	e.style.backgroundColor='';
	    }
	});
	src.parentNode.style.backgroundColor="#FBEC88";
	var dialog = SimpleDialog.getDialog();
	var win = dialog.window;
	if(win.nodeSelected){
		if(win.nodeSelected(value,text) != false){
			dialog.close();
		}
	}else{
		alert('未定义nodeSelected函数');
	}
};

function ajaxLoadTree(){
	//var data = {"text":"根节点","value":"","url":"","icon":"","open":true,"childs":[{"text":"小炒","value":"18","url":"","icon":"","open":true,"childs":[]}]};
	//loadTree(data);
	j6.xhr.get('categoryJson',function(result){
		var json = j6.toJson(result);
		treeObj = j6.tree.load('menu_tree',json,'{{.Var.static_serve}}/assets/js/tree/',treeHandler);
		var title = treeEle.getElementsByTagName('B')[0];
		title.style.cssText = 'color:#0066cc;cursor:pointer';
		title.onclick=function(){
			treeHandler(this,0,title.innerHTML);
		};
	});
}
ajaxLoadTree();
j6.dom.fitHeight(jr.$('menu_tree').parentNode);
</script>
</body>
</html>