<!DOCTYPE html>
<html>
<head>
    <title>编辑商品详情</title>
    <link href="{{.Var.static_serve}}/assets/mui/css/latest/page_style.css?v={{.Var.version}}" rel="stylesheet" type="text/css" />
    <link href="{{.Var.static_serve}}/css/partner/partner.css?spam={{.Var.spam}}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="form1_2" class="form" style="margin:30px;">
    <div class="fl">
        <div class="label">页面内容：</div>
        <div class="in">
            <input type="hidden" field="ItemId" value="{{.Map.item_id}}"/>
            <!-- 960的宽度为标准,一般内容宽度为600左右 -->
            <div id="content_info" style="width: 620px;">
                <span>建议：使用一键排版功能可以快速生成有格式的内容。<br /><br /></span>
                <textarea id="editor" field="Info" style="overflow: hidden; width: 620px; height: 400px;">{{.Map.item_info}}</textarea>
            </div>
        </div>
    </div>

    <div class="fl">
        <div class="label">&nbsp;</div>
        <div class="in">
            <input class="btn" type="button" value="提交" onclick="return submitForm();"/>
            <input class="btn" type="reset" value="重置"/>
        </div>
    </div>

</div>

<script src="{{.Var.static_serve}}/assets/js/core_full.js?spam={{.Var.spam}}"></script>
<script src="{{.Var.static_serve}}/assets/js/plugins/sys.js?spam={{.Var.spam}}"></script>
<!-- 编辑器 -->
<!--<script type="text/javascript" src="{{.Map.Var.static_serve}}/assets/editor/kindeditor-all-min.js"></script>-->
<!--<script type="text/javascript" src="{{.Map.Var.static_serve}}/assets/editor/plugins/code/prettify.js"></script>-->
<script type="text/javascript">
    var editor = null;
    function initEditor(id) {
        editor = KindEditor.create('#'+id, {
            cssPath: '{{.Var.static_serve}}/assets/editor/plugins/code/prettify.css',
            uploadJson: '/editor/file_upload',
            fileManagerJson: '/editor/file_manager',
            allowFileManager: true,
            filterMode: false
        });
    }
    function appendEditorStyle(){
        var ifrs = document.getElementsByClassName('ke-edit-iframe');
        var css = document.createElement('STYLE');
        css.innerHTML='.ke-content p{text-indent:0em;}';

        j6.each(ifrs,function(i,e){
            e.contentWindow.document.body.appendChild(css);
        });
    }
</script>

<script type="text/javascript">
    initEditor('editor');
    function submitForm() {
        if (j6.validator.validate()) {
            var data = j6.json.toObject('form1_2');
            data.Info = editor.html();
            j6.xhr.jsonPost('save_item_info', data, function (json) {
                if (json.result) {
                    window.parent.$.messager.alert('提示', '保存成功！', 'ok');
                } else {
                    window.parent.$.messager.alert('提示',json.message, 'error');
                }
            });
        }
        return false;
    }
    window.saveData = submitForm;
</script>
</body>
</html>
