<!DOCTYPE html>
<html>
<head>
    <title>更新项</title>
    <link href="{{.Var.static_serve}}/assets/mui/css/latest/page_style.css?v={{.Var.version}}" rel="stylesheet" type="text/css" />
    <link href="{{.Var.static_serve}}/css/partner/partner.css?spam={{.Var.spam}}" rel="stylesheet" type="text/css" />
    <style>
        .sale_tags{margin:0;list-style:none;padding:0;width:100%;}
        .sale_tags li{display:inline-block;background:#F8F8F8;margin:5px;border:solid 1px #ddd;padding:0 5px;}
    </style>
</head>
<body>

<div id="form1" class="form margin30">

    <div class="fl">
        <input type="hidden" field="GoodsId" value="{{.Map.goodsId}}"/>
        {{.Map.tagsHtml}}
    </div>

    <div class="fl">
            <span class="ui-button w150" id="btn_save"><span class="button-inner"><span class="button-txt">提交</span><a href="javascript:;"></a></span></span>
    </div>

</div>

<script src="{{.Var.static_serve}}/assets/js/core_full.js?spam={{.Var.spam}}"></script>
<script src="{{.Var.static_serve}}/assets/js/plugins/sys.js?spam={{.Var.spam}}"></script>

<script>
    var entity = {"SaleTags":'{{.Map.tagValue}}'.split(',')};
    jr.json.bind('form1', entity);
    jr.$('btn_save').onclick = function () {
        if (jr.validator.validate('form1')) {
            var data = jr.json.toObject('form1');
            jr.xhr.jsonPost('SaveGoodsSTag', data, function (json) {
                window.parent.$.messager.alert('提示', json.result ? '保存成功！' : json.message, 'ok', function () {
                    if(json.result) {
                        var d = jr.dialog.getDialog();
                        d.close();
                    }
                });
            }, function (e) {
                window.parent.$.messager.alert('提示', " 保存失败！ ", 'error');
            });
        }
    }
</script>
</body>
</html>
