<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>商品管理</title>
    <link rel="stylesheet" type="text/css" href="{{.Var.static_serve}}/assets/easyui/themes/gray/easyui.css?spam={{.Var.spam}}">
    <link rel="stylesheet" type="text/css" href="{{.Var.static_serve}}/assets/easyui/themes/icon.css?spam={{.Var.spam}}">
    <link href="{{.Var.static_serve}}/assets/mui/css/latest/page_style.css?v={{.Var.version}}" rel="stylesheet" type="text/css" />
    <link href="{{.Var.static_serve}}/css/partner/partner.css?spam={{.Var.spam}}" rel="stylesheet" type="text/css" />
    <style type="text/css">
        a.nodeSel span.float,a.node span.float{display:none;}
        a.node:hover span.float{display:inherit;}
        a.nodeSel:hover span.float,a.node:hover span.float a{color:red;}
    </style>
</head>
    <div id="dg"></div>
    <div class="toolBar">
        <div class="search_bar padding2" id="search_bar">
            <input type="hidden" field="state" value="1"/>
            <ul>
                <li>
                    <a class="easyui-linkbutton" iconcls="icon-add" id="btnAdd">
                        <span class="icon"></span>新增商品</a>
                </li>

                <li>
                <span class="title">分类：</span>
                    <select field="cid">
                        <option value="-1">一不限一</option>
                        {{.Map.cate_opts}}
                    </select>
                </li>

                <li>
                    <span class="title">关键字：</span>
                    <input type="text" field="keyword" />
                </li>
                <li>
                    <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="btnSearch">
                        <span class="icon"></span>搜索</a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>


<script type="text/javascript" src="{{.Var.static_serve}}/assets/easyui/jquery.min.js?spam={{.Var.spam}}"></script>
<script type="text/javascript" src="{{.Var.static_serve}}/assets/easyui/jquery.easyui.min.js?spam={{.Var.spam}}"></script>
<script type="text/javascript" src="{{.Var.static_serve}}/assets/easyui/locale/easyui-lang-zh_CN.js?spam={{.Var.spam}}"></script>
<script src="{{.Var.static_serve}}/assets/js/core_full.js?spam={{.Var.spam}}"></script>
<script src="{{.Var.static_serve}}/assets/js/export.js?spam={{.Var.spam}}"></script>
<script src="{{.Var.static_serve}}/assets/js/plugins/sys.js?spam={{.Var.spam}}"></script>

<script type="text/javascript">
    expr.ele = 'search_bar';
    expr.portal = 'Partner.GoodsList';
    expr.checkParams = function (data) {
        return true;
    };

    window.refresh = function () {
        expr.reload('dg');
    };

    j6.$('dg').style.height = j6.screen.height() + 'px';

    $(function () {

        //导出
        $('#btnExport').click(
                function () {
                    expr.showExportDialog();
                });

        j6.$('btnSearch').onclick=function () {
            expr.search('dg');
        };


        //加载数据
        $('#dg').datagrid({
            toolbar: '.toolBar',
            singleSelect: !false,
            pagination: true,
            fitColumns: true,
            pageList:[5,10,15],
            pageSize:5,
            url: expr.getDataUrl(),
            columns: [
                [
                    { field: 'img', title: '', align: 'center', width: 100,formatter:function(val){
                    if(val ==''){
                        val = '{{.Map.no_pic_url}}';
                    }else if(val.indexOf("http://")!=0 && val.indexOf("https://")!=0){
                        val = '{{.Var.img_serve}}/'+val;
                    }
                    return '<img src="'+val+'" style="background:#fff;width:75px;height:75px;'+
                            'border-radius:1px;border:solid 1px #ddd;margin:5px;"/>';
                    } },
                    { field: 'name', title: '商品名称', align: 'center', width: 200 },
                    { field: 'price', title: '定价', align: 'center', width: 70 },
                    { field: 'sale_price', title: '销售价',align: 'center', width: 70 },
                    { field: 'stock_num', title: '库存',align: 'center', width: 50 },
                    { field: 'sale_num', title: '销量',align: 'center', width: 50 },
                    { field: 'id', title: '操作',align: 'center', width: 120,formatter:function(val,row,index){
                        return '<a class="btn btn-short" href="javascript:void();" onclick="select('+index+')">选择</a>';
                    } },
                ]
            ]
        });
    });

    function select(index){
        $('#dg').datagrid('selectRow',index); // 选择行
        var row = $('#dg').datagrid('getSelected');
        var d = j6.dialog.getDialog();
        if(d.window.goodsSelected(row)){
            d.close();
        }
    }
</script>

</body>
</html>