<!DOCTYPE html>
<html>
<head>
    <title>会员账户信息</title>
    <link href="{{.Var.static_serve}}/assets/mui/css/latest/page_style.css?v={{.Var.version}}" rel="stylesheet" type="text/css" />
    <link href="{{.Var.static_serve}}/css/partner/partner.css?spam={{.Var.spam}}" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="form1" class="member-profile">
    <ul>
        <li class="item"><label>{{.Map.integralAlias}}：</label>{{.Map.acc.Integral}}</li>
        <li class="item"><label>{{.Map.balanceAccountAlias}}：</label>{{.Map.acc.Balance}}
            &nbsp;(冻结:{{.Map.acc.FreezesFee}})</li>

        <li class="item"><label>{{.Map.presentAccountAlias}}：</label>{{.Map.acc.PresentBalance}}
            &nbsp;(冻结:{{.Map.acc.FreezesPresent}})</li>

        <li class="item"><label>{{.Map.flowAccountAlias}}：</label>{{.Map.acc.FlowBalance}}</li>
        <li class="item"><label>{{.Map.growAccountAlias}}：</label>{{.Map.acc.GrowAmount}}</li>
        <li class="item"><label>总消费(元)：</label>{{.Map.acc.TotalFee}}</li>
        <li class="item"><label>总充值(元)：</label>{{.Map.acc.TotalCharge}}</li>
        <li class="item"><label>共支付(元)：</label>{{.Map.acc.TotalPay}}</li>


        <li class="item" style="width:100%"><label>更新时间：</label>{{.Map.updateTime}}</li>
    </ul>

    <div class="clear-fix"></div>
</div>

</body>
</html>
