<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>会员列表</title>
    <link rel="stylesheet" type="text/css" href="{{.Var.static_serve}}/assets/easyui/themes/gray/easyui.css?spam={{.Var.spam}}">
    <link rel="stylesheet" type="text/css" href="{{.Var.static_serve}}/assets/easyui/themes/icon.css?spam={{.Var.spam}}">
    <link href="{{.Var.static_serve}}/assets/mui/css/latest/page_style.css?v={{.Var.version}}" rel="stylesheet" type="text/css" />
    <link href="{{.Var.static_serve}}/css/partner/partner.css?spam={{.Var.spam}}" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .level_1{color:#888;}
        .level_2{color:#0066cc}
        .level_3{color:#0A0;}
        .level_4{color:#FFA500;}
        .level_5{color:#FF0000;}
    </style>
</head>
<div id="dg"></div>
<div class="toolBar">
    <div class="search_bar padding2" id="search_bar">
        <ul>
            <li class="hidden">
                <a class="easyui-linkbutton" iconcls="icon-add" id="btnAdd">
                    <span class="icon"></span>新增</a>
            </li>

            <li>
                <span class="title">会员等级：</span>
                <select field="level_value">
                    <option value="-1">一不限一</option>
                    {{.Map.levelDr}}
                </select>
            </li>

            <li>
                <span class="title">状态：</span>
                <select field="state">
                    <option value="-1">一不限一</option>
                    <option value="1">正常</option>
                    <option value="0">停用</option>
                </select>
            </li>

            <li>
                <span class="title">关键字：</span>
                <input type="text" field="keyword" placeholder="姓名/用户名/手机" />
            </li>

            <li>
                <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="btnSearch">
                    <span class="icon"></span>搜索</a>
            </li>

        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>


<script type="text/javascript" src="{{.Var.static_serve}}/assets/easyui/jquery.min.js?spam={{.Var.spam}}"></script>
<script type="text/javascript" src="{{.Var.static_serve}}/assets/easyui/jquery.easyui.min.js?spam={{.Var.spam}}"></script>
<script type="text/javascript" src="{{.Var.static_serve}}/assets/easyui/locale/easyui-lang-zh_CN.js?spam={{.Var.spam}}"></script>
<script src="{{.Var.static_serve}}/assets/js/core_full.js?spam={{.Var.spam}}"></script>
<script src="{{.Var.static_serve}}/assets/js/export.js?spam={{.Var.spam}}"></script>
<script src="{{.Var.static_serve}}/assets/js/plugins/sys.js?spam={{.Var.spam}}"></script>

<script type="text/javascript">
    expr.ele = 'search_bar';
    expr.portal = 'Partner.MemberList';
    expr.checkParams = function (data) {
        return true;
    };

    window.refresh = function () {
        expr.reload('dg');
    };

    j6.$('dg').style.height = j6.screen.height() + 'px';

    $(function () {

        //导出
        $('#btnExport').click(
                function () {
                    expr.showExportDialog();
                });

        j6.$('btnSearch').onclick=function () {
            expr.search('dg');
        };


        //加载数据
        $('#dg').datagrid({
            toolbar: '.toolBar',
            singleSelect: !false,
            pagination: true,
            rownumbers: true,
            fitColumns: true,
            pageList:[5,10,15],
            pageSize:10,
            url: expr.getDataUrl(),
            columns: [
                [
                    { field: 'id', title: '会员编号', align: 'center', width: 40 },
                    { field: 'avatar', title: '头像', align: 'center', width: 70,formatter:function(v){
                        var url = v.indexOf('http://') != -1?v:'{{.Var.img_serve}}/'+v;
                        return '<img style="width:40px;height:40px;border:solid 2px #eee;margin:5px 0;border-radius:80px;" src="'+url+'"/>';
                    } },
                    { field: 'usr', title: '用户名', align: 'center', width: 100 },
                    { field: 'level_name', title: '等级', align: 'center', width: 60,formatter:function(v,r){
                        return '<span class="level_'+ r.level+'">'+v+'</span>';
                    } },
                    { field: 'name', title: '姓名', align: 'center', width: 60 },
                    { field: 'sex', title: '性别', align: 'center', width: 50,formatter:function(v){
                        if(v=="1"){
                            return "男";
                        }else if(v=="2"){
                            return "女";
                        }
                        return "-";
                    }},
                    { field: 'integral', title: '积分', align: 'center', width: 60 },
                    { field: 'balance', title: '账户余额', align: 'center', width: 80,formatter:function(v,r){
                        return j6.float(v).toFixed(2)+'<br /><a href="javascript:;" onclick="charge('+ r.id+')">充值</a>'
                    }},
                    { field: 'total_pay', title: '消费总额', align: 'center', width: 80,formatter:function(v){
                        return j6.float(v).toFixed(2);
                    }},
                    //{ field: 'birthday', title: '出生日期', align: 'center', width: 80},
                    { field: 'reg_time', title: '注册时间', align: 'center', width: 90,formatter:function(v){
                        return unix2str(v).substring(0,16);
                    }},
                    //{ field: 'phone', title: '手机', align: 'center', width: 100},
                    {
                        field: 'state',
                        title: '状态',
                        sortable: true,
                        align: 'center',
                        width: 40,
                        formatter: function (val) {
                            if (val == 1) {
                                return '<span style="color:green">正常</span>';
                            } else if(val == 0){
                                return '<span style="color:red">停用</span>';
                            }
                        }
                    },
                    { field: 'id2', title: '操作',align: 'center',formatter:function(val,row){
                        return j6.template('<a href="javascript:;" class="btn btn-short" onclick="editRec(\'{id}\',\'{name}\')">操作</a>',
                                row);
                    } },
                ]
            ]
        });
    });


    function editRec(id,name){
        j6.tab.open('会员:'+name, '/member/member_details?member_id=' + id,  true);
    }

    function delRec(id) {
        window.parent.$.messager.confirm('提示', '删除后不可恢复，您确定要继续吗？', function(result) {
            if (result) {
                j6.xhr.jsonPost('/member/del_member', {id: id }, function(json) {
                    if (json.result) {
                        expr.reload('dg');
                    }else{
                        window.parent.$.messager.alert('提示',  json.message,"error");
                    }
                });
            }
        });
    }

    function charge(id){
        j6.dialog.create2('客服充值',true,true).open('/member/charge?member_id=' + id,400,300);
    }
</script>

</body>
</html>