<!doctype html>
<html>
<head>
	<title>查看订单</title>
</head>
<body>

    <div id="form2">
        <input type="hidden" field="order_no" value="{{.Map.order_no}}"/>
        <div>{{.Map.descript}}</div>
         {{.Map.button}}&nbsp;&nbsp;


          <span class="ui-button w80 small-button">
                <span class="button-inner">
                    <span class="button-txt">关闭窗口</span>
                    <input onclick="closeDialog()"/>
                </span>
            </span>

    </div>


	<script type="text/javascript">
    var btn2 = document.getElementById('btn2');
    if(btn2){
        btn2.onclick=function(){
            var data = j6.json.toObject('form2');
            if(data.shopId != ""){
                j6.xhr.jsonPost('OrderSetup',data,function(json){
                    if(json.result){
                        location.reload();
                        refresh();
                    }else{
                        alert(json.message);
                    }
                });
            }
        }
    }

    function closeDialog(){
        var d = j6.dialog.getDialog();
        if(d)d.close();
    }
	</script>


</body>
</html>
