<!DOCTYPE html>
<html>
<head>
	<title>待支付订单</title>
    <link rel="stylesheet" type="text/css" href="{{.Var.static_serve}}/assets/easyui/themes/gray/easyui.css?spam={{.Var.spam}}">
    <link rel="stylesheet" type="text/css" href="{{.Var.static_serve}}/assets/easyui/themes/icon.css?spam={{.Var.spam}}">
    <link href="{{.Var.static_serve}}/assets/mui/css/latest/page_style.css?v={{.Var.version}}" rel="stylesheet" type="text/css" />
    <link href="{{.Var.static_serve}}/css/partner/partner.css?spam={{.Var.spam}}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="dg"></div>
    <div class="toolBar">
        <div class="search_bar padding2" id="search_bar">
            <ul>
                <li>
                    <span class="title">关键字：</span>
                    <input type="text" field="keyword" placeholder="会员/订单关键字"/>
                </li>
                <li>
                    <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="btnSearch">
                        <span class="icon"></span>搜索</a>
                </li>
                <li>
                <a class="easyui-linkbutton" data-options="iconCls:'icon-reload'" id="btnRefresh">
                    <span class="icon"></span>刷新</a> (自动刷新时间：60秒)
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>

<script type="text/javascript"  src="{{.Var.static_serve}}/assets/js/core_full.js?spam={{.Var.spam}}"></script>
<script type="text/javascript" src="{{.Var.static_serve}}/assets/easyui/jquery.min.js?spam={{.Var.spam}}"></script>
<script type="text/javascript" src="{{.Var.static_serve}}/assets/easyui/jquery.easyui.min.js?spam={{.Var.spam}}"></script>
<script type="text/javascript" src="{{.Var.static_serve}}/assets/easyui/locale/easyui-lang-zh_CN.js?spam={{.Var.spam}}"></script>
<script type="text/javascript"  src="{{.Var.static_serve}}/assets/js/export.js?spam={{.Var.spam}}"></script>
<script type="text/javascript"  src="{{.Var.static_serve}}/assets/js/plugins/sys.js?spam={{.Var.spam}}"></script>


<script>
        var shops = {{.Map.shops}};
        expr.ele = 'search_bar';

        j6.json.bind(expr.ele, {status: decodeURIComponent(j6.request('status')) });

        expr.portal = 'Partner.WaitPaymentOrderList'; //配置导出的入口
        expr.checkParams = function (data) {
            return true;
        };

        var refresh = function () { expr.reload('dg'); };

        j6.$('dg').style.height = j6.screen.height() + 'px';

        $(function () {

            //导出
            $('#btnExport').click(
                function () {
                    expr.showExportDialog();
                });

            $('#btnSearch').click(
                function () {
                    expr.search('dg');
                });
            $('#btnRefresh').click(refresh);

            //加载数据
            $('#dg').datagrid({
                toolbar: '.toolBar',
                singleSelect: !false,
                pagination: true,
                rownumbers: true,
                fitColumns: true,
                url: expr.getDataUrl(),
                columns: [
                    [
                        {field:'order_no',title:'订单号',width:100,align:'center'},
                        {field:'items_info',title:'商品',width:150,align:'center',formatter:function(v){
                            return itemFmt(j6.toJson(v));
                        }},
                        {field:'member_name',title:'购买会员',width:80,align:'center',formatter:function(v,r){
                            return v +'<br />('+ r.member_user+')';
                        }},
                        {field:'shop_id',title:'配送店',width:60,align:'center',
                            formatter:function(val,rec){
                                if(val!=0){
                                    for(var i=0;i<shops.length;i++){
                                        if(shops[i].id==val){return shops[i].name;}
                                    }
                                }
                                return '-';
                            }
                        },
                        {field:'total_fee',title:'订单总金额',width:60,sortable:true,align:'center',  formatter:function(val){
                                    return '￥'+j6.float(val);
                            }},
                        {field:'fee',title:'订单金额',width:60,sortable:true,align:'center',
                            sorter:function(a,b){
                                return (a>b?1:-1);
                            },
                            formatter:function(val){
                                return '￥'+j6.float(val);
                            }
                        },
                        {field:'paymethod',title:'支付方式',width:60,sortable:true,align:'center',
                            formatter:function(val){
                              return val=='1'?'现金支付':'在线支付'
                            }
                        },

                        {field:'pay_fee',title:'支付金额',width:60,sortable:true,align:'center',
                            formatter:function(val){
                                    return '￥'+j6.float(val);
                            }
                        },
                        {field:'deliver_time',title:'配送时间',width:150,align:'center',
                            formatter:function(v,r){
                            return '创建时间:<br />'+unix2str(r.create_time)+
                            '<br />配送时间：<br />'+unix2str(r.deliver_time);
                        }},
                        {field:'id1',title:'操作',width:80,align:'center',
                            formatter:function(v,r) {
                                return '<a href="javascript:;" class="btn btn-short" onclick="payment(\'' + r.order_no + '\')">人工付款</a> <br /> ';
                            }
                        }
                    ]
                ]
            });
        });


        function editRec(id){
            j6.dialog.create2('订单操作',true,true).open('/order/view?order_no=' + id, 600,400);
        }

        function payment(id){
            j6.dialog.create2('人工付款',true,true).open('/order/payment?order_no=' + id, 600,400);
        }



        function signDel(id){
           j6.dialog.create2('订单取消',true,true).open('/order/cancel?order_no=' + id, 600,400);
		}

        function itemFmt(items){
            var html = "";
            var tpl = '<img src="{img}" width="40" height="40" style="border:solid 1px #BBB;background:#FFF;padding:1px;margin-right:3px;" title="{name} x {qty}"/>';
            for(var i=0;i<items.length;i++){
                if(items[i].img.indexOf("http") != 0){
                    items[i].img = "{{.Var.img_serve}}/"+items[i].img;
                }
                html += j6.template(tpl,items[i]);
            }
            return html;
        }
        setInterval(refresh,60000);
    </script>
</body>
</html>
