<!DOCTYPE html>
<html>
<head>
    <title>更新项</title>
    <link href="{{.Var.static_serve}}/assets/mui/css/latest/page_style.css?v={{.Var.version}}" rel="stylesheet" type="text/css" />
    <link href="{{.Var.static_serve}}/css/partner/partner.css?spam={{.Var.spam}}" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="form1" class="form margin30">
    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>标签名称：</div>
        <div class="in">
            <input type="hidden" field="Id" value="0"/>
            <input class="ui-validate ui-box" type="text" field="TagName" required="true"/>
        </div>
    </div>

    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>标签代码：</div>
        <div class="in">
            <input class="ui-validate ui-box" type="text" field="TagCode" required="true"/>* 标签的唯一标识
        </div>
    </div>

    <div class="fl">
        <div class="label">标识图片：</div>
        <div class="in" style="position: relative;height:100px;">
            <img id="upload_img"
                 style="float:left;margin-right:10px;width: 80px; height: 80px;border:solid 1px #aaa;padding:1px;"/>
            <input class="ui-validate ui-box" length="[0,150]" type="hidden" field="GoodsImage" id="upload_path"/>
            <span id="upload_btn"><button>选择图片上传</button></span>
        </div>
    </div>

    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>是否启用：</div>
        <div class="in">
            <input type="radio" class="radio" field="Enabled" name="Enabled" id="opt1" value="1"
                   checked="checked"/><label for="opt1">是</label>
            <input type="radio" class="radio" field="Enabled" name="Enabled" id="opt2" value="0"/>
            <label for="opt2">否</label>
        </div>
    </div>

    <div class="fl">
        <div class="label"></div>
        <div class="in">
            <span class="ui-button w150" id="btn_save"><span class="button-inner"><span class="button-txt">提交</span><a href="javascript:;"></a></span></span>
        </div>
    </div>

</div>

<script src="{{.Var.static_serve}}/assets/js/core_full.js?spam={{.Var.spam}}"></script>
<script src="{{.Var.static_serve}}/assets/js/plugins/sys.js?spam={{.Var.spam}}"></script>

<script>
    var entity = {{.Map.entity}}||{};
    var imgUrl =  entity.GoodsImage.indexOf('http://')!=-1 ? entity.GoodsImage: '{{.Var.img_serve}}/'+ entity.GoodsImage;
    j6.$('upload_img').src = imgUrl;
    j6.json.bind('form1', entity);

    j6.$('btn_save').onclick = function () {
        if (j6.validator.validate('form1')) {
            var data = j6.json.toObject('form1');
            j6.xhr.jsonPost('Save_stag', data, function (json) {
                window.parent.$.messager.alert('提示', json.result ? '保存成功！' : json.message, 'ok', function () {
                    var d = j6.dialog.getDialog();
                    if(d.window.refresh) {
                        d.window.refresh();
                    }
                    d.close();
                });
            }, function (e) {
                window.parent.$.messager.alert('提示', " 保存失败！ ", 'error');
            });
        }
    }
</script>
</body>
</html>
