<!DOCTYPE html>
<html>
<head>
    <title>更新项</title>
    <link href="{{.static_serve}}/assets/mui/css/latest/page_style.css?v={{.version}}" rel="stylesheet" type="text/css" />
    <link href="{{.static_serve}}/css/partner/partner.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="form1" class="form margin30">
    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>系统处理订单：</div>
        <div class="in">
            <input type="hidden" field="PartnerId" value="0"/>
            <input type="radio" class="radio" field="AutoSetupOrder" name="AutoSetupOrder" id="AutoSetupOrder1" value="1" checked="checked" /><label for="AutoSetupOrder1">启用</label>
            <input type="radio" class="radio" field="AutoSetupOrder" name="AutoSetupOrder" id="AutoSetupOrder2" value="0" /><label for="AutoSetupOrder2">停用</label>
        </div>
    </div>

    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>订单返现比例：</div>
        <div class="in">
            <input type="hidden" field="PartnerId" value="0"/>
            <input class="ui-validate ui-box" type="text" field="CashBackPercent" required="true" />
        </div>
    </div>

    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>一级返现比例：</div>
        <div class="in">
            <input class="ui-validate ui-box" type="text" field="CashBackTg1Percent" style="width:50px"/>
        </div>
    </div>
    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>二级返现比例：</div>
        <div class="in">
            <input class="ui-validate ui-box" type="text" field="CashBackTg2Percent" style="width:50px"/>
        </div>
    </div>

    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>会员返现比例：</div>
        <div class="in">
            <input class="ui-validate ui-box" type="text" field="CashBackMemberPercent" style="width:50px"/>
        </div>
    </div>

    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>订单返积分：</div>
        <div class="in">
            <input class="ui-validate ui-box" type="text" field="IntegralBackNum" isnumber="true" style="width:50px"/>个/元
        </div>
    </div>
    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>订单额外赠送积分：</div>
        <div class="in">
            <input class="ui-validate ui-box" type="text" field="IntegralBackExtra" isnumber="true" style="width:50px"/>个
        </div>
    </div>

    <div class="fl">
        <div class="label">&nbsp;</div>
        <div class="in">
            <input class="btn" id="btn_save" type="button" value="提交" />
        </div>
    </div>
</div>

<script src="{{.static_serve}}/assets/js/core_full.js"></script>
<script src="{{.static_serve}}/assets/js/plugins/sys.js"></script>

<script>
    var entity ={{.entity}} ||{};
    j6.json.bind('form1', entity);

    j6.$('btn_save').onclick = function() {
        if (j6.validator.validate('form1')) {
            var data = j6.json.toObject('form1');
            j6.xhr.jsonPost('', data, function(json) {
                window.parent.$.messager.alert('提示', json.result ? '保存成功！' : json.message, 'ok', function() {
                    var d = j6.dialog.getDialog();
                    if(d.window.refresh){
                        d.window.refresh();
                    }
                    d.close();
                });
            }, function(e) {
                window.parent.$.messager.alert('提示', " 保存失败！ ", 'error');
            });
        }
    }
</script>
</body>
</html>
