
body {
    margin: 0;
    font-size: 14px;
    color: #333;
    background: #f0f0f0;
}



#footer {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    color: #333;
}


/*******************************/
.avatar {
    border: solid 1px #e0e0e0;
    padding: 5px;
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.avatar img {
    width: 120px;
    height: 120px;
}

.paged {
    text-align: center;
    margin: 5px 0;
}

.paged a,.paged span.current {
    margin: 0 5px;
}

.tb {
    background: #555;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    border-top: solid 1px #666;
}

.tb th {
    color: white;
    background: white url(bgtiao.png) repeat-x;
    padding: 0 2px;
}

.tb td {
    background: white;
    padding: 0 2px;
    text-align: center;
}

.tdred {
    color: red;
    text-align: center;
    font-size: 12px;
}

/*  new  style  */
.login-page{background:#e6e6e6 url(../../assets/images/bg_image.jpg) center top no-repeat;}



/* data grid */
.ui-datagrid-view td,.ui-datagrid-header td{padding:2px 5px;}
.ui-datagrid-header td{color: #333;border-left: dotted 1px #fff;
    /*background: linear-gradient(to bottom, #F8F8F8 0px, #EEEEEE 100%) repeat-x scroll 0 0 rgba(0, 0, 0, 0);*/
    text-align: center;line-height: 25px;
    background:#edf7fe url(bg.gif) -0px 0 repeat-x;
}
.ui-datagrid-header td.first{ border-left: none;}
.ui-datagrid-view .loading{padding-left:0;border: solid 1px #d0d0d0;background: #f0f0f0;color: #006699;width: 100px;height: 22px;text-align: center;line-height: 22px;}
.ui-grid-table{background:none;border:solid 1px #ddd;}
.ui-grid-table .ui-datagrid-header td,.ui-grid-table .ui-datagrid-header th{
    background: linear-gradient(to bottom, #f9f9f9 0px, #efefef 100%) repeat-x scroll 0 0 rgba(0, 0, 0, 0);}
.ui-grid-table tr td,.ui-grid-table tr th{
    border-left:dotted 1px #d0d0d0;
    border-bottom:dotted 1px #d0d0d0;
}
.ui-grid-table tr td.first{border-left:none;}
.ui-gird-table-meta {border:solid 1px #ddd;border-top:0;width:98%;padding-right:2%;overflow:hidden;}


/************  NEW STYLE *************/
label.auto{width:inherit;float:inherit;}
.red{color:red;}
.green{color:green;}
