<!DOCTYPE html>
<html>
<head>
	<title>消息发送设置</title>
    <link href="{{.Var.static_serve}}/assets/mui/css/latest/page_style.css?v={{.Var.version}}" rel="stylesheet" type="text/css" />
    <link href="{{.Var.static_serve}}/css/partner/partner.css?spam={{.Var.spam}}" rel="stylesheet" type="text/css" /> <style type="text/css">
    .form .fl div.label{width:90px;margin-right:-90px;}
    .form .fl div.in{margin-left:90px;}
</style>
</head>
<body>

<div id="form1" class="form margin30">
    <div class="title" style="margin-top: 0"><span class="icon icon1"></span>完善资料发送邮件</span></div>

    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>邮件模板：</div>
        <div class="in">
            <select class="box" field="mss_profile_complete_mail_tpl" required="true">
                <option value="0">一请选择一</option>
                {{.mailTplOpt}}
            </select>
        </div>
    </div>

    <div class="fl">
        <div class="label">&nbsp;</div>
        <div class="in">
            <input class="btn" type="button" value="保存" id="btn_save" />
            <input class="btn" type="reset" value="重置" />
        </div>
    </div>

</div>

    <script src="{{.Var.static_serve}}/assets/js/core_full.js?spam={{.Var.spam}}"></script>
    <script src="{{.Var.static_serve}}/assets/js/plugins/sys.js?spam={{.Var.spam}}"></script>
    
    <script>
    var entity ={{.entity}}||{};
    j6.json.bind('form1', entity);


    j6.$('btn_save').onclick = function() {
        if (j6.validator.validate('form1')) {
            var data = j6.json.toObject('form1');
            j6.xhr.jsonPost(location.href, data, function(json) {
                if(json.result){
                    window.parent.$.messager.alert('提示', '保存成功！', 'ok');
                }else {
                    window.parent.$.messager.alert('提示', json.message, 'error');
                }
            }, function(e) {
                window.parent.$.messager.alert('提示', " 保存失败！ ", 'error');
            });
        }
    }

    
    </script>
</body>
</html>
