body{color:#000;font-family:'微软雅黑',sans-serif;font-size:0.9rem;margin:0 0 5rem 0;background:#FBFBFB;
  min-width:300px;max-width:640px;margin:0 auto;}
body.bg{background:#F9F9F9;}
h1,h2,h3{margin:0;padding:0;}
img{color:#FFF;}
.container2{width:960px;margin:0 auto;}
.container3{width:900px;padding:0 5px;margin:0 auto;}
.pageinfo{display:none;}
.green{color:green;}
.hidden{display:none;}
.red{color:red;}
.clear{clear:both;zoom:1;after:''}
a:link,a:visited{text-decoration: none;outline:none;color:#333;}
*:required { /* insert your own styles for invalid form input */ -moz-box-shadow: none;box-shadow: none; }
.auto-fit{position:relative;padding-top:140px;text-align:center;}
.auto-fit img{max-width:100%;max-height:100%;position: absolute;left:0;top:0;right:0;bottom:0;margin:auto;}


header{height:45px;line-height:45px;position:relative;background:#FEFEFE}
header .logo img{position:absolute;top:0;bottom:0;left:5px;margin:auto 0;max-height:100%;max-width:40%;}
header .quick{float:right;color:#0b7ee0;font-size:1.2rem;cursor:default;}
header .quick span{display: inline-block;padding:0 10px;line-height:2em;}

.slide-panel{position:relative;display: none;}
.slide-panel .slidesjs-pagination{position: absolute;bottom:10px;left:0;right:0;margin:0 auto;list-style:none;padding:0;
  max-width:60px;text-align:center;z-index:10;
width: 30px;
}
.slide-panel .slidesjs-pagination li{float:left;margin:0;pading:0;text-indent:-99em;border:solid 1px #FFF;margin:0 2px;
  width:4px;height:4px;display:inline-block;border-radius:10px;overflow:hidden;}
.slide-panel .slidesjs-pagination li .active{background:#FFF;display:block;}
.slide-panel .slidesjs-navigation{display:none;}

.box{background:#FFF;border-top:solid 1px #F0F0F0;border-bottom:solid 1px #F0F0F0;margin:5px 0;}
.box .loading{text-align:center;font-size:0.8rem;color:#666;line-height:2em;}
.quick{margin-top:0;border-top:none;}
.quick .items{padding:10px 0;}
.quick ul{margin:0;padding:0;list-style:none;}
.quick li{float:left;width:25%;text-align:center;line-height:2em;font-size:0.8rem;margin-bottom:10px;}
.quick li a{color:#666;}
.quick li i{font-size:20px;color:#FFF;background:#F00;padding:10px;border-radius:30px;}
.quick .item-cate i{background:#C02949;}
.quick .item-order i{background:#08B35E;}
.quick .item-cart i{background:#39C;}
.quick .item-coupon i{background:#F30;}
.quick .item-st1 i{background:#333;}
.quick .item-st2 i{background:#0996C5;}
.quick .item-st3 i{background:#8446B7;}
.quick .item-st4 i{background:#51B746;}

.special-block{/*! border-color:#F5F5F5; */}
.special-block .tit,.goods-block .tit{border-bottom:solid 1px #F0F0F0;line-height:3em;padding-left:10px;
  position:relative;}
.special-block .tit .more,.goods-block .tit .more{font-size:0.8rem;position: absolute;right:10px;top:0px;color:#666;}
.special-block .item{float:left;width:50%;text-align:center;}
.special-block .item a{display: block;padding:0;}
.special-block .item img{max-width:100%;margin:0 auto;vertical-align: bottom}

.special-block .item:last-child{border-bottom:none;}
.special-block .conn .l{float:left;width:50%;}
.special-block .conn .r{float:right;width:50%;}
.special-block .l .item,.special-block .r .item{width:100%;}
.special-block .l .item a{border-right:solid 1px #EFEFEF;border-bottom:solid 1px #EFEFEF;}
.special-block .l .item:last-child a{border-bottom:none;}
.special-block .r .item{border-bottom:solid 1px #EFEFEF;}
.special-block .r .item:last-child{border-bottom:none;}

.goods-block{}
.goods-block .b{margin:0 1%;}
.goods-block div.item{float:left;width:50%;margin:0;text-align:center;}
.goods-block div.item .b2{border-right:solid 1px #EFEFEF;border-top:solid 1px #EFEFEF;margin:0;
    padding:15px 10px;}
.goods-block div.item:first-child .b2,.goods-block div.item:nth-child(2) .b2{border-top:none;}
.goods-block div.item:nth-child(2n) .b2{border-right:none;}
.goods-block a{display:block;}
.goods-block div.item a.goods-link{display:block;outline: none;padding:20px 0;}
.goods-block div.item img.goods-img{max-width:140px;max-height:140px;}
.goods-block div.item h3{font-size:0.8rem;height:2.4rem;overflow:hidden;margin:5px 0;line-height:1.5em;font-weight:normal;}
.goods-block .item .price{margin:0;}
.goods-block div.item span.sale-price{font-size:16px;color:red;}
.goods-block div.item span.normal-price{color:#AAA;font-size:0.8rem;display:none;}
.goods-block div.item .saleNum,.item-v div.item .stock{display:none;}

.loading .icon{
    position: relative;
    /* css3 animation */
    -webkit-animation: anim_loading 1s linear infinite;
    -moz-animation: anim_loading 2s linear infinite;
    -ms-animation: anim_loading 1s linear infinite;
    -o-animation: anim_loading 1s linear infinite;
    animation: anim_loading 1s linear infinite;
}
/* css3 keyframes - animation 4 */
@-webkit-keyframes anim_loading {
    from { -webkit-transform: rotateZ(0deg); }
    50% { -webkit-transform: rotateZ(180deg); }
    to { -webkit-transform: rotateZ(360deg); }
}
@-moz-keyframes anim_loading {
    from { -moz-transform: rotateZ(0deg); }
    50% { -moz-transform: rotateZ(180deg); }
    to { -moz-transform: rotateZ(360deg); }
}
@-ms-keyframes anim_loading {
    from { -ms-transform: rotateZ(0deg); }
    50% { -ms-transform: rotateZ(180deg); }
    to { -ms-transform: rotateZ(360deg); }
}
@-o-keyframes anim_loading {
    from { -o-transform: rotateZ(0deg); }
    50% { -o-transform: rotateZ(180deg); }
    to { -o-transform: rotateZ(360deg); }
}
@keyframes anim_loading {
    from { transform: rotateZ(0deg); }
    50% { transform: rotateZ(180deg); }
    to { transform: rotateZ(360deg); }
}