body{color:#000;font-family:'微软雅黑',sans-serif;font-size:0.9rem;margin:0 0 5rem 0;background:#FBFBFB}
body.bg{background:#F9F9F9;}
h1,h2,h3{margin:0;padding:0;}
.container2{width:960px;margin:0 auto;}
.container3{width:900px;padding:0 5px;margin:0 auto;}
.pageinfo{display:none;}
.green{color:green;}
.hidden{display:none;}
.red{color:red;}
.clear-fix{clear:both;zoom:1;after:''}
a:link,a:visited{text-decoration: none;outline:none;color:#333;}
*:required { /* insert your own styles for invalid form input */ -moz-box-shadow: none;box-shadow: none; }

/*h1.arrow_tt{background:url(/resources/s1/image/201401/20140120184358_3866.gif) left center no-repeat;padding-left:20px;
border-bottom:solid 1px #ddd;margin-bottom:15px;
}*/

/* rewrite */
/*body{padding-top:190px;}*/
.panel{font-size:100%}
header{height:2.5rem;background:#427DAE;/*! border-bottom:solid 1px #ddd; */display:none;}
header .back{background:url(icon_back_fff.png) center no-repeat;background-size:60%;width:40px;height:2rem;
    border-right:solid 0px #FFF;margin:0.25rem 0;position:absolute;top:0;left:0;}

/*.page-top,.page-header,.page-navigator{position: fixed;top:0;width:100%;z-index:300;}*/
.page-header{top:26px;}
.page-navigator{top:130px;}

.page-top{color:#000;opacity:1;filter:alpha(opacity=100);
    font-size:100%;font-size:100%;border-bottom: solid 1px #AAA;
    line-height:3rem;padding:0 1%;font-size:1.2rem;height:3rem;
    position:fixed;top:0;left:0;width:98%;z-index: 100;
    background:-webkit-linear-gradient(#F0F0F0,#E5E5E5);
    background:-moz-linear-gradient(#F0F0F0,#E5E5E5);
    background:linear-gradient(#F0F0F0,#E5E5E5);
}
.page-top .btn_button{border:solid 1px #333;font-size:18px;line-height: 26px;margin:0.5rem 0.5rem 0;
    background:#FFF;border-radius:10rem;color:#333;cursor:pointer;width:26px;height:26px;text-align:center;}
.page-top .btn_close{border:none;padding:0;background:none;}


/* 首页 */
.page-uc{}
.page-uc .col1{
    background:#F6F6F6 url(profile_bg.jpg) center bottom;
    background-size:100%;
}
.page-uc .profile{position: relative;
    -moz-box-shadow:0 -2px 10px #333; -webkit-box-shadow:0 -2px 10px #333; box-shadow:0 0 5px #666;
}
.page-uc .profile .avatar{float:left;margin-right:1rem;}
.page-uc .profile .avatar img{border-radius:999px;width:3.5rem;border:solid 3px #FFF;}
.page-uc .basic{padding:8% 5% 8% 7%;}
.page-uc .profile .member{margin:1rem 0 0.5rem 0;line-height:1.2rem;}
.page-uc .profile .nick-name{font-size:1rem;color:#FF0000;}
.page-uc .profile .level{font-size:0.8rem;margin-left:0.5rem;color:#333;}
.page-uc .profile .account{font-size:0.9rem;color:#000;}
.page-uc .profile .account b{color:#666;font-weight: normal;}

.page-uc .nav-layout{background:#000;height:2rem;padding-top:0.3rem;opacity:0.2;filter:alpha(opacity=20);margin-top:0.2rem;}
.page-uc .nav{font-size:0.7rem;position: absolute;bottom:0;left:0;width:100%;height:2rem;}
.page-uc .nav ul{margin:0;padding:0;list-style:none;background:#000;}
.page-uc .nav li{float:left;width:25%;text-align:center;line-height:1rem;
    position:relative;}
.page-uc .nav li a{color:#FFF;}
.page-uc .nav li span{border-right:solid 1px #FFF;float:right;height:1.2rem;position: absolute;top:0.3rem;right: 0;}
.page-uc .nav li .iconfont{display:block;font-size:1.2rem;}

.menu-bar{margin:1rem;border:solid 1px #DDD;border-radius:10px;background:#F5F5F5;}
.menu-bar div.tit{border-radius:10px 10px 0 0;
    border-bottom:solid 1px #DDD;font-size:1rem;color:#330000;padding:0 2rem;line-height:3.5rem;
    background:-moz-linear-gradient(#FFF,#EEE);
    background:-webkit-linear-gradient(#FFF,#EEE);
    background:linear-gradient(#FFF,#EEE);
}
.menu-bar div.con{}
.menu-bar div.con ul{margin:0;padding:0;list-style: none;padding-bottom:10px;}
.menu-bar div.con li{padding:0.5rem 2rem;
    border-bottom:solid 1px #DDD;border-top:solid 1px #FFF;;
    line-height: 2rem;}
.menu-bar div.con li:last-child{border-bottom:none;}
.menu-bar div.con li a{color:#333;font-size:0.8rem;}

.page-main{}
.page-main .main h1{font-size:125%;color:#333;margin:0 0 10px 0;}
.page-main .main div.line{margin-bottom:30px;}
.page-main .main div.form{}

.form .fl div.label{width:80px;}

/* FOOTER */
.page-footer{position: fixed;bottom:0;left:0;height:2.5rem;width:100%;border-top:solid 1px #ddd;background:#F0F0F0;
    font-size:0.8rem;padding:0.5rem;}
.page-footer .items ul{margin:0;padding:0;list-style:none;}
.page-footer .items li{float:left;width:25%;text-align:center;height: 3rem;line-height: 1.2rem;}
.page-footer .items li a{color:#333;}
.page-footer .items li span.split{border-right:solid 1px #FFF;float:right;height:20px;margin-top:5px;display: none;}
.page-footer .items li span.txt{display:block;}
.page-footer .items .iconfont{font-size:1.5rem;}


.h10{height:10px;}

/* grid */
.ui-table{color:#666;border:solid 1px #BBB;width:98.5%;margin:0 auto;border-bottom:none;font-size:0.7rem;}
.ui-table th{background:#edf7fe;
    border-bottom:solid 1px #e5e5e5;text-align:center;color:#000;font-weight:normal;position:relative;}

.ui-table tr.selected td{background:#ffffcc;}
.ui-datagrid-header{border-bottom:solid 1px #ddd}
.ui-datagrid-header td.first{ border-left: none;}
.ui-datagrid-view td,.ui-datagrid-header td{padding:2px 5px;}
.ui-datagrid-header td{color: #333;border-left: solid 1px #ddd;
    font-weight:bold;
    background-color:#F0F0F0 ;
    background:linear-gradient(to bottom, #F8F8F8 0px, #EEEEEE 100%) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    line-height: 250%;
}
.ui-datagrid-view td{border-bottom:solid 0.5px #BBB;padding:5px;border-top:solid 1px #FFF;
    padding:0.5rem;line-height:220%;background:#f8f8f8;
}
.ui-datagrid-view td.first{border-left:none;}
.ui-datagrid-view .loading{padding-left:0;border: solid 1px #d0d0d0;background: #f0f0f0;color: #006699;width: 100px;height: 22px;text-align: center;line-height: 22px;}
.ui-grid-table{background:none;border:solid 1px #ddd;}
.ui-grid-table .ui-datagrid-header td,.ui-grid-table .ui-datagrid-header th{
    background: linear-gradient(to bottom, #f9f9f9 0px, #efefef 100%) repeat-x scroll 0 0 rgba(0, 0, 0, 0);}
.ui-grid-table tr td,.ui-grid-table tr th{
    border-left:dotted 1px #d0d0d0;
    border-bottom:dotted 1px #d0d0d0;
}
.ui-grid-table tr td.first{border-left:none;}
.ui-gird-table-meta {border:solid 1px #ddd;border-top:0;width:98%;padding-right:2%;overflow:hidden;}

.page-main .form{border:solid 1px #DDD;padding:10px 0;margin:1rem;}
.form{}
.form .tit{border-bottom:solid 1px #ddd;margin:0 1rem;line-height: 2rem;color:#FF0000;font-size:120%;}
.form .fl div.label{width:4rem;margin-right: -4rem;line-height:2rem;height:2rem;overflow:hidden;color:#000;}
.form .fl div.in{margin-left:4.2rem;}
.form .calender{margin-left:-150px;}
.form .validator{margin:0;display: block;}
.form .fv .valid-error{border-color:#888;line-height:1.5rem;font-size:0.8rem;padding:0;}
.form .fv .valid-error .msg{color:#F00;}
.no-row{color:red;text-align:center;padding:20px;font-size:1rem;}

.tip-box{border:solid 1px #FC0;margin:20px 1rem 10px 1rem;background:#ffE;padding:10px;font-size:0.9rem;line-height: 1.2rem;
    color:#333;
}
.head-box{background:#F60;padding:1.5rem 1rem;color:#FFF;box-shadow:0 0 5px #FF6600;}
.tip-pl{background:#FFE;padding:10px;border:solid 1px #FCA;border-left:none;border-right:none;}

/** a.button  **/
input.box,textarea.box,select.box{border:solid 1px #DDD;border-radius: 1px;padding:5px 10px;margin:1px;}
input.box:focus,textarea.box:focus,select.box:focus{border-color:#FC0;background:#FFE;}
a.btn,input.btn{border:solid 1px #DDD;padding: 0 1.5rem;
    border-radius:3px;line-height: 1.5rem;
    background: -webkit-linear-gradient(#F5F5F5, #E5E5E5);
    background: -o-linear-gradient(#F5F5F5, #E5E5E5);
    background: -moz-linear-gradient(#F5F5F5, #E5E5E5);
    background: linear-gradient(#F5F5F5, #E5E5E5);
    box-shadow:0 1px 0 rgba(255,255,255,0.8) inset,0 1px 0 rgba(255,255,255,0.2);
}
a.btn{display: inline-block;}
a.btn:hover,input.btn:hover{
    background: -webkit-linear-gradient(#E5E5E5, #F5F5F5);
    background: -o-linear-gradient(#E5E5E5, #F5F5F5);
    background: -moz-linear-gradient(#E5E5E5, #F5F5F5);
    background: linear-gradient(#F5F5F5, #FFF);
}
a.btn-m,input.btn-m{background:linear-gradient(#FE0,#FC0);border-color:#FC0;color:#A50000;font-weight: bold;}
a.btn-m:hover,input.btn-m:hover{
    background: -webkit-linear-gradient(#FC0, #FE0);
    background: -o-linear-gradient(#FC0, #FE0);
    background: -moz-linear-gradient(#FC0, #FE0);
    background: linear-gradient(#FC0, #FE0);
}

a.btn-orange,input.btn-orange{border-color: #CCC;
    background: -webkit-linear-gradient(#FFFF00, #FFCC00);
    background: -o-linear-gradient(#FFFF00, #FFCC00);
    background: -moz-linear-gradient(#FFFF00, #FFCC00);
    background: linear-gradient(#FFFF00, #FFCC00);
}
.btn-orange:hover,input.btn-orange:hover{
    border-color:#FFA500;
    background: -webkit-linear-gradient(#FFFFCC, #FFFF66);
    background: -o-linear-gradient(#FFFFCC, #FFFF66);
    background: -moz-linear-gradient(#FFFFCC, #FFFF66);
    background: linear-gradient(#FFCC00, #FFFF00);
}



.deliver-form{margin:1px 5px;border:solid 1px #ddd;}
.xhr-container{position: absolute;width:100%;height:100%;}
.xhr-container .gate{z-index:1;position: fixed;top:0;right:0;background:#F8F8F8;opacity:0.1;width:100%;height:100%;}
.xhr-container .msg{position:fixed;left:0;right:0;top:5px;margin:0 auto;padding:0.2rem 0;
    background:#FA0;color:#FFF;z-index:100;text-align:center;}

.valid-error{border:none;background:transparent;color:#F00;}

/*
// J6-CMS 后台管理样式
// By Newmin @ 2011/02/06
// Copyright 2011 OPSoft
*/

/*dl,img,input,dt,dd{vertical-align:middle;}*/
ul{margin:0;padding:0;list-style:none;}
.left{float:left;}.tleft{text-align:left;padding-left:5px;}.right{float:right;}.center{text-align:center;}.clearfix{clear:both;height:0px;}.overflow{overflow:hidden;}.hidden{display:none;}
.relative{position:relative;}.absolute{position:absolute;}.red{color:red}
ul{list-style:none;margin:0;padding:0;}
img{border:none;}
optgroup{font-weight:bold;color:#555;font-style:normal;padding:0 5px;font-size:12px;line-height:25px;}
optgroup option{padding-left:10px;color:#666;line-height:22px;}.overhidden{overflow:hidden;}
div.line{border-bottom:solid 1px #aaa;border-top:#ddd;height:0px;}
span.highlight{color:#3ea5dd;}
span.highlight_silver{color:#666;}
span.highlight_blue{color:#006699;}
span.black{color:black;}
a{text-decoration:none;color:#0066cc;outline:none;}
a:hover{color:#006699;}
option.disabled{color:#666;}
span.required{ color: red;}

span.label{border:solid 1px #ffcc00;padding:0 4px;background:#FFC;color:#F00;}

.p10{padding:10px;}

/*居中*/
div,input,span,select,textarea,label,img,b,a{ vertical-align: middle;}
/*验证无外框*/
*:required { /* insert your own styles for invalid form input */ -moz-box-shadow: none; box-shadow: none;}
.w50{ width: 50px;}
.w80{width:80px;}
.w100{ width: 100px;}
.w150{ width: 150px;}
.w200{ width: 200px;}
.w250{ width: 250px;}
.w300{ width: 300px;}

/*按钮*/
.ui-button{border:solid 1px #FFF;border-color: #ADB1B8 #A2A6AC #8D9096;border-radius:3px;display: inline-block;vertical-align:middle;}
.ui-button .button-inner{display:block;position: relative;background:#F0F0F0;border-radius:2px;
    background:transparent linear-gradient(to bottom, #F7F8FA, #E7E9EC);height:100%;
    box-shadow:0px 1px 0px rgba(255, 255, 255, 0.6) inset;}
.ui-button:hover .button-inner{background:transparent linear-gradient(to bottom, #E7E8EA, #D7D9DC)}
.ui-button .button-txt{padding:0 5px;display:block;line-height: 29px;text-align:center;color:#111;}
.ui-button a,.ui-button input{display:block;position: absolute;left:0;top:0;width:100%;height:100%;opacity:0.01;filter: alpha(opacity=1);cursor: pointer;}
.small-button .button-txt{line-height:18px;padding:0 5px;}
.middle-button .button-txt{ line-height: 24px;overflow: hidden;}
/* 输入框 */
.ui-box{border:solid 1px #888;border-radius:0;line-height:1.5rem;padding:0 10px;margin:1px;
    box-shadow: 0px 2px 1px #EEE inset; background:#F7F8F9;border-color: #BBB #B2B2B2 #B2B2B2;}
.ui-box:focus{border:solid 1px #FC0;margin:1px;background:#FFE;box-shadow:none;}
input.ui-box,select.ui-box{ height: auto;height:1.5rem;}

/* 智能提示 */
.ui-autocompletion-panel{ border: solid 1px #ddd;border-top: 0px;color:#000000}
.ui-autocompletion-panel *{vertical-align: middle;}
.ui-autocompletion-panel .inner{ padding: 0px;}
.ui-autocompletion-panel ul li {padding: 5px 10px; }
.ui-autocompletion-panel ul li.first { border:none}
.ui-autocompletion-panel ul li.selected {
    background: #FFE;
}
.ui-autocompletion-panel ul li b{ color: green;}



input.tb_normal,select.tb_normal,textarea.tb_normal{width:200px;}

select.tb_normal{width:200px;padding:1px 3px;overflow:hidden;
                 /*border-bottom:solid 1px #e0e0e0;border-right:solid 1px #e0e0e0;*/}
textarea.code{font-size:14px;line-height:20px;color:black;overflow-y:auto;border:none;}
textarea.singlerow{line-height:20px;height:20px;}
input.button {box-shadow: none;border-radius:0;background:#006699;color:#fff;border:solid 1px #fff;margin-right:5px;}


.clear-fix{clear:both;zoom:1;after:"."}


/*.gate{background:#f0f0f0;opacity:0.2;filter:alpha(opacity=20);position:absolute;left:0;top:0;z-index:30;}*/
.loading{font-weight:bold;color:#006699;text-align:center;position:absolute;left:0;top:0;z-index:31;
	background:url(../old/sys_themes/default/ajax-loader.gif) 10px 0 no-repeat;padding-left:32px;
	line-height:18px;
	}



/*======================== 布局 ==========================*/
.layout{overflow:hidden;height:100%;background:#f9f9f9;}
.layout .left{float:left;background:#f5f5f5 url(/framework/mui/css/latest/layout_left_bg.gif) right top repeat-y;padding-right:10px;}
.layout .right{float:left;width:auto;}
.layout .left,.layout .right{padding-bottom:1500px;margin-bottom:-1500px;}
.formPanel{background:#fff;border:solid 1px #ddd;}

.helpPanel{padding:20px;font-size:12px;}
.helpPanel h2{margin:5px 0;background:url(/framework/assets/icons/admin/file2.gif) left center no-repeat;
              padding-left:20px;font-size:14px;color:#006699;}
.helpPanel ol{margin:10px 30px;color:#666;line-height:150%;padding:0;}
.control{background:#fff;border-right:solid 1px #d0d0d0;position: relative;}
.control .top{background:#F5F5F5 linear-gradient(to bottom, #F7F8FA, #E7E9EC);box-shadow: 0 0 1px #FFF inset;
    border-bottom:solid 1px #d0d0d0;padding:0 10px;height:2.5em;line-height:2.5em;clear:both;}
.control .top ul{list-style:none;margin:0;padding:0;}
.control .top li{float:left;margin-right:1px;}

.control .fn{line-height:20px;}
.control .fn img{vertical-align:middle;}
.control .fn{display:block;padding:2px 2px;vertical-align:middle;}

.control .main{clear:both;}

.autoScroll{overflow:auto;}

.level0{font-weight:bold;}
.level1{padding-left:15px;}
.level2{padding-left:30px;}
.level3{padding-left:45px;}
.level4{padding-left:60px;}


.list-menu{display:inline-block;float:left;height:100%;margin-right:2em;cursor:pointer;position:relative;}
.list-menu span.icon{display: inline-block;float:left;padding:0 10px;height:100%;background:url(/framework/mui/css/latest/icon-menu.png) left center no-repeat;}
.list-menu .drop{display:none;position:fixed;left:0;top: 30px;z-index:100;border:solid 1px #D0D0D0;background:#FFF;
    box-shadow: 2px 2px 2px #EEE;border-left: 0;}
.list-menu:hover .drop,.hover .drop{display:block;}
.list-menu a.item{padding:0 3em 0 1em;border-bottom:dashed 1px #ddd;line-height: 2.5em;background: url(/framework/mui/css/latest/td_bg.gif)  0 -170px repeat-x;}
.list-menu a.last{ border-bottom: 0;}
.list-menu a.item img.icon{ margin-right: 5px;}

/*======================== 布局结束 ======================*/

input.small-search-box{height: 18px;line-height: 16px;padding: 0 2px;}

a.green{color:green;}
a.green:hover{text-decoration:underline;}


.hidden{display:none;}
h1.path{font-size:14px;margin:3px;padding:0;color:#4196cf;line-height:30px;}

/* tips */
div.tip{line-height:30px;color:#666;padding:0 10px;}
div.tip span.title{display:block;background:#deeef5;color:#44b6ec;font-size:12px;padding:2px 15px;margin:0 -10px;font-weight:bold;}
span.tip{color:#006699;padding:0 20px;font-size:12px;}

/* controlarea 操作区域 */
div.controlarea{line-height:30px;}

/* form */

div.form{color:#666;}
div.form p{line-height:30px;margin:5px 0;}
div.form span.txt{width:60px;text-align:right;margin-right:5px;}
div.form .fl span.msg{color:#666;}
div.form .btn{}
div.form p.note{border:solid 1px #e0e0e0;background:#f5f5f5;padding:10px;color:#555;margin-left:40px;line-height:20px;}
div.form dl{margin:5px 0;padding:5px 0;}
div.form dl dt{float:left;width:80px;text-align:right;font-weight:bold;padding-right:5px;}
div.form .descript{padding-left:1em;color:#666}

.list-panel .item{margin:0 10px 10px 10px;border:solid 1px #ddd;background:#FFF;box-shadow:0 2px 2px #DDD;}
.list-panel .item .tit{line-height:350%;margin: 0 15px;padding:0 10px;border-bottom:dashed 1px #EEE;}
.list-panel .item .con{padding:10px 20px 20px 20px;color:#666;}

/* VALIDATE */
.validator{font-size:120%;margin-left:1em;}
.valid-error{/*! border-radius: 10px; */background:#ff0000;color:#fff;padding:3px 10px;line-height:25px;}
.valid-right{color:green;}
.valid-error span.msg{color:#F00;}

.form{}

.form .fl{padding:10px 0 0 0;margin:0;}
.form .fl div.label{width:80px;text-align: right;float:left;font-weight:bold;}
.form .fl div.in{margin-left:80px;}
.form .fl div.in div{padding:0;font-size:100%;color:#666;line-height:150%;}
.form .red,.form .fl div.in .red{color:red;}
.form .fl .fv{display:block;line-height:2em;color:#0C61B4;font-size:0.8rem;}

.form2 .fl div.label{width:100px;}
.form2 .fl div.in{margin-left:100px;}

.form .title{color:#006699;margin:20px 10px 10px 10px;padding:0 20px 20px 8px;margin-left:10px;
       font-weight:bold;background:url(/framework/mui/css/latest/panel_item_line.gif) left bottom no-repeat;}
.form .title span.icon{padding:0 10px;line-height:16px;background:url(/framework/assets/icons/admin/protected.gif) left 0px no-repeat;}


ul.centform{margin:100px auto;}

/* categoryues */
.rowtb{margin:5px 10px;font-size:12px;}
.rowtb th{color:#4196cf; text-align:left;}
.rowtb td{}

/* 表格列表 */

.ui-table{width:100%;color:#666;}
.ui-table th{background:#edf7fe;border-bottom:solid 1px #E5E5E5;
    text-align:center;color:#06c;font-weight:normal;position:relative;
    line-height:3em;background-image:linear-gradient(to top,#F7F8FE,#FFF);
    border-right: solid 1px #DDD;
}
.ui-table .th-split{border-right: solid 1px #ddd;padding:5px 1px 0px 0px;position:relative;right:3px;top:0;}
.ui-table tr td{line-height:1.2em;height:2.5em;background:#fff;border-bottom:solid 1px #f2f2f2;}
.ui-table tr.selected td{background:#ffc;}


.ui-table-list{width:100%;color:#666;}
.ui-table-list .index{background:url(/framework/mui/css/latest/item_circle.gif) center top no-repeat;padding:0 6px;color:#fff;margin-right:5px;color:#333;}
.ui-table-list th{background:#edf7fe url(../old/sys_themes/default/bg.gif) -0px 0 repeat-x;
             line-height:20px;height:20px;overflow:hidden;border-bottom:solid 1px #e5e5e5;
             text-align:center;color:#336699;font-weight:normal;position:relative;}
.ui-table-list tr td,.ui-table-list tr.hover td{background:#fff url(/framework/mui/css/latest/td_bg.gif) 0 -160px repeat-x;border-bottom:solid 1px #eee;color:#222;}

.ui-table-low tr td{background-position:0 -180px;}
.ui-table-low tr.hover td{background:#fff;}

.ui-table-padding{background:#f0f0f0;}
.ui-table-padding1 th{border:none;}
.ui-table-padding th span.th{display:block;border:solid 1px #fff;}
.ui-table-padding tr td{border-bottom:none;}
.ui-table-padding .th-split{display:none;}

.ui-table-meta{background:#ffc;line-height:25px;text-align:right;
               border:solid 1px #DDD;border-left:none;
    position: absolute; bottom: 0;width: 100%;padding-right: -1px;
}
.ui-table-meta .pager a:link,.ui-table-meta .pager a:visited{
    vertical-align:middle; padding:0 5px;border:solid 1px #f0f0f0;margin:0 1px;background:#888;color:#fff;
}
.ui-table-meta .pager select{
    vertical-align:middle;border:solid 1px #888;background:#888;color:#fff;height:17px;line-height:17px;overflow:hidden}
.ui-table-meta .pager a:hover{background:#333;}
.ui-table-meta .pager .current{
    padding:0 5px;border:solid 1px #f0f0f0;margin:0 1px;background:#888;color:#fff; vertical-align:middle;
}
.ui-table-meta .pager .current{background:#ff6600;}
.ui-table .micro{color:#777;font-size:8pt;}


/* 右键 */
.ui-contextmenu{border:1px solid #b0b0b0;border-top:0px;width:120px;padding:0;
                background:#fff url(/framework/mui/css/latest/context_menu.gif) repeat-y;display:none;
                  -webkit-box-shadow: 2px 2px 1px #ddd;
            -moz-box-shadow:2px 2px 1px #aaa;
             box-shadow: 2px 2px 1px #aaa;
}  
.ui-contextmenu .item{border-top:1px solid #b0b0b0;height:22px;line-height:22px;border-bottom:solid 1px #fff;}
.ui-contextmenu img.icon{float:left;margin:2px 8px 0 3px;}
.ui-contextmenu a{text-decoration:none;color:#000;cursor:default;}

/* 对话框 */
.ui-dialog .bglayer{background:#d0d0d0;opacity:0.2;filter:alpha(opacity=20);}
.ui-dialog .box {
    border: solid 1px #bbb;
    background: #f3f3f3;
    -moz-box-shadow:0 0 10px 2px #bbb; /*firefox*/
    -webkit-box-shadow:0 0 10px 2px #bbb; /*webkit*/
    box-shadow:0 0 10px 2px #bbb; /*opera或ie9*/
    zoom: 1; filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=10, OffY=2, Color=#bbb); /* ie6,ie7,ie8 */
}
.ui-dialog .box .title{padding-top:10px;font-size:14px;font-weight:bold;color:#006699;background:#F0F0F0;padding:0 10px;line-height:30px;
                       background:#f9f9f9 url(/framework/mui/css/latest/title_bg.gif) 0 5px repeat-x;
/*border-bottom:solid 2px #FFF;*/}
.ui-dialog .box .title .txt{padding-left:25px;background:url(/framework/mui/css/latest/blocks.gif) left center no-repeat;}
.ui-dialog .box .close{cursor:pointer;position:absolute;right:0;top:0;font-family:Arial;color:#000;padding:0 12px;font-size:16px;
                            background:url(/framework/mui/css/latest/tab_close.gif) center center no-repeat;text-indent:-99em}
.ui-dialog .box .boxcontent{margin:0 5px 5px 5px;background:#fff;border:solid 1px #d0d0d0}
.ui-dialog .box .bottom{display:none;}

/* ui-tree */
.ui-tree .title{font-size:1.1em;color:#0066cc;}
.ui-tree div.node{line-height:17px;font-weight:bold;height:17px;overflow:hidden;}
.ui-tree div.node img{border: 0px;vertical-align: middle;}
.ui-tree div.node a{text-decoration:none;color:#006699;}
.ui-tree div.node a:hover{text-decoration:underline;color:#000;}
.ui-tree div.node a.node-selelected{background:#FFE;line-height: 15px;display:inline-block;border:solid 1px #FF6600;padding:0 5px;color:#FF6600;}


/* data grid */
.ui-grid-table{background:none;border:solid 1px #ddd;}
.ui-datagrid-header{border-top:solid 1px #ddd;}
.ui-datagrid-view td,.ui-datagrid-header td{padding:5px 5px;border-left:solid 1px #ddd;border-bottom: solid 1px #ddd;overflow:hidden;}
.ui-datagrid-header td{color: #333;
    background: -moz-linear-gradient(#F8F8F8,#EEEEEE);
    background: -webkit-linear-gradient(#F8F8F8,#EEEEEE);
    background: linear-gradient(#F8F8F8,#EEEEEE);
    text-align: center;line-height: 25px;
}
.ui-datagrid-view td.first .ui-datagrid-header td.first{ border-left: none;}
.ui-datagrid-view .loading{padding-left:0;border: solid 1px #d0d0d0;background: #f0f0f0;color: #006699;width: 100px;height: 22px;text-align: center;line-height: 22px;}

.ui-gird-table-meta {border:solid 1px #ddd;border-top:0;width:98%;padding-right:2%;overflow:hidden;}

/* form */
table.form{background:#8abbc4;width:100%;}
table.form td{background:white;padding: 5px;}
table.form td.title{text-align:right;padding-left: 15px;background:#e8f8fb;}
table.form span.txt{width:60px;text-align:right;display:block;float:left;margin-right:5px;background:#006699;color:White;}
table.form span.msg{padding-left:10px;color:#666;}
table.form .btn{}

/* 按钮样式 */
/*
button.btn,input.btn{border:solid 1px #558cc4;color:#fff;font-weight:bold;font-size:12px;line-height:20px;height:23px;overflow:hidden;width:72px;
                     background:white url(?res=c3lzaW5kZXg=&1.8.2.png) -158px -57px no-repeat;text-align:center;cursor:pointer;}
button.btn_s_black{color:White;border:none;width:41px;height:19px;padding:0;}
*/
hr.line{border:solid 1px #e5e5e5;height:0px;clear:both;margin:0;padding:0;}
a.nomargin{margin:0;}





/* 链接块 */
.blocklink {float:right;}
.blocklink a:link,.blocklink a:visited{border:solid 1px gold;background:orange;padding:3px 5px;display:block;float:left;margin:0 3px;color:White;}
.blocklink a:hover{background:green;}

fieldset div.context{padding:10px 0;}

/* 复选下拉菜单 */
select.multiple{border:inset 1px #e0e0e0;width:300px;}
div.selectbox div{float:left;padding:5px;}
div.selectbox div.move{padding:40px 20px;}



/* tab area */
.tabarea{border:solid 0px #b4d7f2; }
.tabarea .top{line-height:24px;background:#f5f5f5;color:black;position:relative;padding-left:150px;border-bottom:solid 1px #ddd;}
.tabarea .tab{position:absolute;top:1px;left:4px;background:white;color:#666;font-weight:bold;line-height:23px;width:100px;text-align:center;display:block;border:solid 1px #ddd;border-bottom:none;}
.tabarea .bottom{background:#f5f5f5;height:2px;}
.tabarea .area{padding:10px 30px 30px 30px;}

/* control area */
.ctarea{padding:30px;position:relative;}

/* tab */
.tab_mini{margin:0;padding:1px 30px;border-bottom:solid 1px #d0d0d0;background:#f0f0f0;height:23px;}
.tab_mini a{display:block;float:left;padding:0px 10px;text-decoration:none;color:#666;line-height:24px;border:solid 1px #d5d5d5;border-bottom:none;margin-left:-1px;}
.tab_mini a.current{background:white;color:#4d9fdd;line-height:24px;border-color:#d0d0d0;}
.tab_mini div.title{padding-right:10px;float:left; font-weight:bold;line-height:26px;color:#006699;}
.tab_mini span.meta{line-height:26px;font-size:12px;color:#0066cc;padding-left:15px;}
.tab_mini span.meta span{color:#006699;}

.tree{}
.tree .pnode{padding-left:18px;/*background:url(?res=c3lzaW5kZXg=&1.8.2.png) 0 -112px no-repeat;*/}
.tree .cnode{padding-left:33px;/*background:url(?res=c3lzaW5kZXg=&1.8.2.png) 15px -131px no-repeat;*/}

/* 验证 */
.validator{margin-left:0px;line-height:17px;z-index:1500;}
.validator .valid-error,.valid-error{
	background:transparent;
    border:none;
    color: #F00;
    display: block;
    font-size: 12px;
    line-height: 20px;
    padding: 0 10px;}
.valid-error .valid-error .msg,.valid-error .msg{color:#F00;}




/*
#z_mdialog{margin-top:-100px;}
*/


/*
 * images button
 */
 /* image */
button.add{background:url(/framework/assets/icons/admin/add.gif) center no-repeat;width:20px;height:20px;border:none;}
button.delete{background:url(/framework/assets/icons/admin/delete.gif) center no-repeat;width:20px;height:20px;border:none;}
button.back{background:url(/framework/assets/icons/admin/back.gif) center no-repeat;width:20px;height:20px;border:none;}
button.book{background:url(/framework/assets/icons/admin/book.gif) center no-repeat;width:20px;height:20px;border:none;}
button.count{background:url(/framework/assets/icons/admin/count_1.gif) center no-repeat;width:20px;height:20px;border:none;}
button.download{background:url(/framework/assets/icons/admin/download.gif) center no-repeat;width:20px;height:20px;border:none;}
button.draw{background:url(/framework/assets/icons/admin/draw.gif) center no-repeat;width:20px;height:20px;border:none;}
button.edit{background:url(/framework/assets/icons/admin/edit.gif) center no-repeat;width:20px;height:20px;border:none;}
button.file{background:url(/framework/assets/icons/admin/file2.gif) center no-repeat;width:20px;height:20px;border:none;}
button.find{background:url(/framework/assets/icons/admin/find.gif) center no-repeat;width:20px;height:20px;border:none;}
button.foward{background:url(/framework/assets/icons/admin/foward.gif) center no-repeat;width:20px;height:20px;border:none;}
button.jm{background:url(/framework/assets/icons/admin/jm.gif) center no-repeat;width:20px;height:20px;border:none;}
button.jiemi{background:url(/framework/assets/icons/admin/jm_1.gif) center no-repeat;width:20px;height:20px;border:none;}
button.mail{background:url(/framework/assets/icons/admin/mail.gif) center no-repeat;width:20px;height:20px;border:none;}
button.ok{background:url(/framework/assets/icons/admin/ok.gif) center no-repeat;width:20px;height:20px;border:none;}
button.phone{background:url(/framework/assets/icons/admin/phone.gif) center no-repeat;width:20px;height:20px;border:none;}
button.print{background:url(/framework/assets/icons/admin/print.gif) center no-repeat;width:20px;height:20px;border:none;}
button.protected{background:url(/framework/assets/icons/admin/protected.gif) center no-repeat;width:20px;height:20px;border:none;}
button.refrence{background:url(/framework/assets/icons/admin/refrence.gif) center no-repeat;width:20px;height:20px;border:none;}
button.refresh{background:url(/framework/assets/icons/admin/refresh.gif) center no-repeat;width:20px;height:20px;border:none;}
button.rss{background:url(/framework/assets/icons/admin/rss.gif) center no-repeat;width:20px;height:20px;border:none;}
button.save{background:url(/framework/assets/icons/admin/save.gif) center no-repeat;width:20px;height:20px;border:none;}
button.set{background:url(/framework/assets/icons/admin/set.gif) center no-repeat;width:20px;height:20px;border:none;}
button.timer{background:url(/framework/assets/icons/admin/timer.gif) center no-repeat;width:20px;height:20px;border:none;}
button.upload{background:url(/framework/assets/icons/admin/upload.gif) center no-repeat;width:20px;height:20px;border:none;}
button.user{background:url(/framework/assets/icons/admin/user.gif) center no-repeat;width:20px;height:20px;border:none;}
button.warn{background:url(/framework/assets/icons/admin/warn.gif) center no-repeat;width:20px;height:20px;border:none;}



/*
 * 新增样式
 * 2011/03/27
 *
 */
 
/* 通用样式 */
h2.title{padding:0 10px;border-top:solid 2px #ff8500;background:#fff2e3;color:black;line-height:30px;font-size:14px;font-weight:normal;}

/* 文档评论模板 Controls/ShowArchiveComment  */

#commentshow h2{padding:0 10px;border-top:solid 2px #ff8500;background:#fff2e3;color:black;line-height:30px;font-size:14px;font-weight:normal;}
#commentshow p.comment{float:left;clear:both;padding:0 0 10px 10px;margin:0 0 10px 0;border-bottom:solid 1px #f0f0f0;position:relative;}
#commentshow p.comment img{width:60px;height:60px;margin-right:15px;}
#commentshow p.comment span.details{display:block;float:right;width:600px;line-height:25px;color:#666;}
#commentshow p.comment span.time{position:absolute;right:50px;top:5px;color:#777}
#commentshow p.comment span.control{position:absolute;right:10px;top:5px;color:#777}
#commentshow p.comment span.floor{bottom:5px;position:absolute;right:10px;color:#006699; letter-spacing:2px;}

/* 会员列表模板 Controls/MemberList */
#memberlist{margin:0}
#memberlist h2{padding:0 10px;border-top:solid 2px #ff8500;background:#fff2e3;color:black;line-height:30px;font-size:14px;font-weight:normal;}
#memberlist p{height:80px;position:relative;width:530px;padding:0 10px;border-bottom:dotted 1px #e5e5e5;}
#memberlist p img{width:60px;height:60px;padding:2px;border:solid 1px #e5e5e5;margin-right:15px;float:left;}
#memberlist span.profile{float:left;line-height:30px;}
#memberlist span.regip{position:absolute;right:95px;top:0;color:#777;}
#memberlist span.control{position:absolute;right:10px;top:5px;color:#777}

/* 文档工具模板 Controls/ArchiveTool */
#archiveTool{line-height:30px;font-size:14px;color:#666;}
#archiveTool #btnfilter{margin-left:42px;}



/* 文章编辑页 */
.archive_edit{}
.archive_edit div.side{width:300px;float:right;margin-left:-310px;margin-right:10px;}
.archive_edit div.main{width:auto;float:left;margin-right:320px;margin-left:10px;}
.archive_edit .note{padding:10px;}

span.star{color:Red;}

.ui-category-selector{position:relative;margin-right:-1px;}
.ui-category-selector input.textbox{width:90px;padding-left:10px;}
.ui-category-selector div.result{position:absolute;left:43px;top:2px;background:#fff;width:100px;cursor:pointer;}
.ui-category-selector div.list{display:none;position:absolute;left:45px;top:20px;width:100px;
    background:#333;border:solid 1px #006666;overflow-y:auto;}
.ui-category-selector div.list a{display:block;padding:0 10px;}
.ui-category-selector div.list a:hover{background:#0066cc;color:#fff;}



.tab{border-bottom:solid 1px #FFC000;margin:0;padding:0.5rem 0 0 0;}
.tab ul{list-style: none;margin:0;margin-bottom:-1px;overflow: hidden;padding:0;}
.tab li{float:left;border:solid 1px #FFC000;background:linear-gradient(to top,#FFC,#FFE);
    margin:0 2px 0 0;border-radius:2px 2px 0 0;font-weight:bold;box-shadow:0 1px 0 rgba(255,255,255,0.12) inset;}
.tab li a{display: block;padding:0.5rem 1rem;margin:0 1px;color:#333;}
.tab li.current{border-bottom:solid 1px #FFC;}
.tab li.current a{color:#FF6600;}


/** 分页 **/
.pager{padding-right:1rem;}
.pager a{border:solid 1px #333;padding:2px 8px;border-radius:5px;line-height:2.2em;}
.pager .current{padding:2px 8px;border:solid 1px #FF6600;margin-right: 5px;line-height:2.2em;border-radius:5px;}
.pager a:hover,.pager .current{background:#FFC;border-color:#FF6600;}


.dg1 .ui-table{border:none;margin:0;width:100%;}
.dg1 .ui-datagrid-header{display: none;}
.dg1 .ui-table td{border:none;padding:0;}
.dg1 .ui-table .tit{line-height:2.2rem;font-size:0.9rem;
    border-bottom:solid 1px #EEE;border-top:solid 0px #FFCC66;padding:0 10px;color:#000;
    background:#FFE;padding:0 0.5rem;
}
.dg1 .con{margin:20px;font-size:0.9rem;}
.dg1 .split{background:#FFF;height:10px;display:none;;}
.dg1 .ui-table .control{margin:0;padding:10px 0;font-size:0.8rem;}
.dg1 .ui-table .bottom{height:10px;background:#F9F9F9;border-top:solid 1px #ddd;
    /*
    background: -webkit-linear-gradient(#FFF, #F9F9F9);
		background: -o-linear-gradient(#FFF, #DDD);
		background: -moz-linear-gradient(#FFF, #DDD);
		background: linear-gradient(#FFF, #F0F0F0);*/
}
.dg1 .ui-table tr:last-child .bottom{height:0;}

/** 订单列表页 **/
.page-orders{margin:0;}
.page-orders .orderNo{}
.page-orders .goods{border-bottom:dashed 1px #DDD;margin:0.5rem 0;}
.page-orders .ui-table .control .buttons{line-height: 3rem;}
.page-orders .price{color:#FF6600;}
.page-orders .orderNo .right{color:#0a0;}
.page-orders .con .right{margin-top:20px;}
.page-orders .ui-table .control{border-bottom:none;padding-top:10px;}
.page-orders .item{background:#FFF;border-bottom:solid 1px #EEE;box-shadow:0 1px 1px #000;position:relative;}
.page-orders .item .con{margin:5px;font-size:0.8rem;}
.page-orders .item input.btn{width:65px;padding:0 5px;}
.page-orders .item .buttons{position:absolute;right:5px;bottom:15px;}
.page-orders .item .fee{line-height:1.5em;margin:0.5rem 0;}

/** 表单 **/
.form2 .form{background:#F9F9F9;border:none;font-size:0.8rem;padding-top:20px;padding-top:100px;}
.form2 .fixed{position: fixed;top:0;left:0;background:#F9F9F9;width:100%;}
.form2 .fl div.label{width:6rem;margin-right:-5rem;}
.form2 .fl div.in{margin-left:7rem;width:auto;}

/** 收货地址 **/
.page-deliver .form{margin:0;background:#EEE;border:none;}
.page-deliver .btn_new_address{padding:10px;background:#333;}
.page-deliver .ui-table .item{box-shadow:0 1px 1px #DDD;margin-bottom:8px;background:#FFF;
    border-top:solid 1px #F0F0F0;border-bottom:solid 0px #EEE;}
.page-deliver .ui-table .tit{line-height: 1.5rem;padding:0.8rem 1rem;background:#FFE;}
.page-deliver .ui-table .tit .name{color:#0a0;font-weight:bold;font-size:1rem;}
.page-deliver .ui-table .tit span.phone{font-size:0.8rem;margin-left:2rem;}
.page-deliver .ui-table .tit .phone span{color:rgba(84, 159, 85, 0.88);}
.page-deliver .cont{font-size:0.8rem;color:#777;}

.page-deliver .ui-table .con{font-size:0.8rem;margin-top:0;}
.page-deliver .ui-table .con span{color:#FF6600;}
.page-deliver .ui-table .split{background:#F9F9F9;}
.page-deliver .ui-table .control{border:none;margin:0.2rem 1rem 0 0;text-align: right;}
.page-deliver .deliver-form{}

/** 返现记录 **/
.page-income .item{background:#FFF;margin-bottom:8px;border-bottom:solid 1px #E5E5E5;box-shadow:0 1px 3px #EEE;border-top:solid 1px #EEE;}
.page-income .ui-table .tit{color:#0a0;}
.page-income .ui-table .cont{padding:20px 10px;font-size:0.8rem;color:#666;}
.page-income .ui-table .control{padding:1rem 0.5rem;line-height: 1rem;}
.page-income .ui-table .con{margin:1rem;}
.page-income .ui-table .tit{line-height: 2em;}
.page-income .ui-table .price{color:#0a0;}


/** 提现 **/
.page-apply-cash{}
.page-apply-cash .head-box{padding:1.5rem 1.5rem;}
.page-apply-cash .form{padding:0;background:#FFF;}
.page-apply-cash .account{font-size:1.4rem;line-height: 3rem;border-bottom:solid 0px #FA0;padding-bottom:10px;font-weight:bold;}
.page-apply-cash .account b{vertical-align: middle;}
.page-apply-cash .control{border-top:dashed 0px #FFF;margin-top:1em;margin-bottom:2em;}
.page-apply-cash .latest_rec .info{color:#F60;font-size:0.8rem;padding:1rem;font-weight:bold;
    background:#FFE;border-top:none;margin-bottom:2rem;border-bottom:solid 1px #EEE;
}
.page-apply-cash .account .total{font-size:0.6em;margin-left:2em;color:#EEE;}
.page-apply-cash .account .total b{font-size:1em;}
.page-apply-cash .latest_rec .info .status{}
.page-apply-cash .latest_rec .info b{font-size:1.2em;color:#000;}
.page-apply-cash .tip-msg{padding:0 0 30px 1rem;}
.page-apply-cash .apply-setup{margin:1rem;line-height:1.4rem;}
.page-apply-cash .apply-setup b{color:#0A0}
.page-apply-cash .tip-box{}
.page-apply-cash .apply-panel{margin:1rem 0 1rem 1rem;}
.page-apply-cash .apply-panel h3,.page-apply-cash .apply-panel .btn{}
.page-apply-cash .apply-panel{line-height:2.5em;}
.page-apply-cash .apply-panel .btn{float:left;}
.page-apply-cash .apply-panel .tip-msg{margin-left:1em;float:left;font-weight:bold;}
.page-apply-cash .cns-panel{margin:1em 0 1em 0;color:#F00;font-weight:bold;}
.page-apply-cash .cns-panel span{color:#000;}
.page-apply-cash .back-box{padding:2em 1.5em;}

/** 银行 **/
.page-bank .tip-box{margin-top:2rem;}

/** 个人资料 **/
.page-profile{}
.page-pwd .tip-box{margin:0;background:#F9F9F9;border-color:#EEE;border-radius:3px;font-size:0.7rem;
    margin:1rem 1.5rem}
.page-profile .box-mh{padding:20px 1rem;margin:0;border-top:0;border-left:0;border-right:0;}
.page-profile .form{padding:10px;margin:0;position: relative;border:none;}
.page-pwd .form{border-radius:5px;border-top:0;}
.page-profile .tab{padding-left:1rem;background:#FFE}
.page-profile .tab li.current{background:#F5F5F5;border-bottom-color:#F5F5F5;}

/* page-rise */
.page-rise-openservice{background:#F6F6F6;padding:2em;}
.page-rise-openservice h1{text-align:center;text-shadow:1px 1px 0 #FFF;font-size:1.8rem;color:#F30;margin-bottom:25px;}
.page-rise-openservice .licence{border:solid 1px #ddd;padding:2em;background:#FFF;height:250px;overflow-y:auto;}
.page-rise-openservice .licence pre{white-space:pre-wrap;}
.page-rise-openservice .agree{line-height:3em;font-size:1.2em;}
.page-rise-openservice .ctrl .btn{width:100%;line-height:2em;font-size:1.4em;margin:1em 0;}

/* page-rise-transfer-in */
.page-rise-transfer-in{}
.page-rise-transfer-in .form{margin:1em auto;width:250px;}
.page-rise-transfer-in .form .fl .label{text-align:left;width:75px;margin-right:-75px;}
.page-rise-transfer-in .form .fl .in{margin-left:65px;line-height:2em;}
.page-rise-transfer-in .form input,.page-rise-transfer-in .form label{vertical-align:baseline;}
.page-rise-transfer-in .in em{color:#0a0;font-style: normal;margin:0 2px;}
.page-rise-transfer-in .in label{font-size:0.8rem;}
.page-rise-transfer-in .rise-date{margin:0 2px;font-weight:bold;color:#F00;}
.page-rise-transfer-in .note-line{border-top:dashed 1px #ddd;margin:2em 2em;padding-top:1em;font-size:0.8rem;}
.page-rise-transfer-in .note-line b{color:#F00;}
.page-rise-transfer-in .tip-pl{color:#F60;padding-left:2em;}
.page-rise-transfer-in .btn-charge{font-size:0.8rem;background:#FC0;display:inline-block;padding:0 10px;line-height:1.5em;color:#F30;
    margin-left:15px;}
.page-rise-transfer-out .tip-pl{font-size:1.2rem;padding:0.8em 2em;}
.page-rise-transfer-out .tip-pl .max-transfer-amount,.page-rise-transfer-in .tip-pl .rise-date{
    color:#0a0;font-weight:bold;margin-right:5px;}


