<!DOCTYPE html>
<html>
<head>
	<title>树形选择</title>
	<link href="{{.static_serv}}/css/partner/common.css" rel="stylesheet" type="text/css" />
	<link href="{{.static_serv}}/css/partner/partner.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<div class="tree" id="menu_tree" style="margin:0 0 15px 20px"></div>
	<script src="{{.static_serv}}/assets/js/core_full.js"></script>
    <script src="{{.static_serv}}/assets/js/plugins/sys.js"></script>
	
<script type="text/javascript">
var treeObj = null;
var treeEle = $JS.$('menu_tree');
function treeHandler(src,value,text){
	var nodeLinks = $JS.getElementsByClassName(treeEle, 'node');
	$JS.each(nodeLinks, function(i, e) {
	    if (e.nodeName == 'DIV') {
	    	e.style.backgroundColor='';
	    }
	});
	src.parentNode.style.backgroundColor="#FBEC88";
	var dialog = SimpleDialog.getDialog();
	var win = dialog.window;
	if(win.nodeSelected){
		if(win.nodeSelected(value,text) != false){
			dialog.close();
		}
	}else{
		alert('未定义nodeSelected函数');
	}
};

function ajaxLoadTree(){
	//var data = {"text":"根节点","value":"","url":"","icon":"","open":true,"childs":[{"text":"小炒","value":"18","url":"","icon":"","open":true,"childs":[]}]};
	//loadTree(data);
	$JS.xhr.get('categoryJson',function(result){
		var json = $JS.toJson(result);
		treeObj = cms.tree.load('menu_tree',json,'{{.static_serv}}/assets/js/tree/',treeHandler);
		var title = treeEle.getElementsByTagName('B')[0];
		title.style.cssText = 'color:#0066cc;cursor:pointer';
		title.onclick=function(){
			treeHandler(this,0,title.innerHTML);
		};
	});
}
ajaxLoadTree();
$JS.dom.fitHeight($JS.$('menu_tree').parentNode);
</script>
</body>
</html>