<!DOCTYPE html>
<html>
<head>
	<title>分类管理</title>
    <link href="{{.static_serv}}/css/partner/common.css" rel="stylesheet" type="text/css" />
    <link href="{{.static_serv}}/css/partner/partner.css" rel="stylesheet" type="text/css" />
</head>
<body>

<form id="form1">
    <table cellpadding="0" cellspacing="1" class="ui-table">
        <tr>
            <td class="title" width="120">分类名称：</td>
            <td>
                <input type="hidden" field="Id" value="0" />
                <input type="text" field="Name" class="ui-validate" required="true" />
            </td>
        </tr>

        <tr>
            <td class="title" width="120">选择上级分类：</td>
            <td>
                [<a href="javascript:;" id="btnSelectCategory">选择分类</a>]
                <input type="hidden" field="ParentId" value="0"/>
                <label id="category_name"></label>
            </td>
        </tr>

        <tr>
            <td class="title" width="120">是否启用：</td>
            <td>
                <input type="radio" name="Enabled" field="Enabled" value="true" id="State1" checked="checked"/><label for="State1">启用</label>
                <input type="radio" name="Enabled" field="Enabled" value="false" id="State2"/><label for="State2">停用</label>
            </td>
        </tr>
        <tr>
            <td class="title" width="120">排序：</td>
            <td>
                <input class="ui-validate" field="OrderIndex" required="true" isnumber="true" style="width:30px" value="0"/>
                * 排序数字，越小排列越靠前

            </td>
        </tr>
        <tr>
            <td class="title" width="120" valign="top">分类描述：</td>
            <td>
                <textarea field="Description" class="ui-validate tb_normal" length="[0,150]" style="height:80px"></textarea>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="button" value=" 保存 " id="btn_save" />
                <input type="reset" value=" 重置 " />
            </td>
        </tr>
    </table>
</form>

    <script src="{{.static_serv}}/assets/js/core_full.js"></script>
    <script src="{{.static_serv}}/assets/js/export.js"></script>
    <script src="{{.static_serv}}/assets/js/plugins/sys.js"></script>
    
    <script>
    var entity ={{.entity}} ||{};
    $JS.json.bind('form1', entity);


    $JS.$('btn_save').onclick = function() {
        if ($JS.validator.validate('form1')) {
            var data = $JS.json.toObject('form1');
            $JS.xhr.jsonPost('SaveCategory', data, function(json) {
                window.parent.$.messager.alert('提示', json.result ? '保存成功！' : json.message, 'ok', function() {
                    $JS.tab.closeAndReresh('菜谱管理');
                });
            }, function(e) {
                window.parent.$.messager.alert('提示', " 保存失败！ ", 'error');
            });
        }
    }
    
    $JS.$('btnSelectCategory').onclick = function(){
    	var d = $JS.dialog('选择分类',true,true);
    	d.open('pt/shop/categorySelect');
    };
    
    function nodeSelected(val,text){
    	$JS.$('category_name').innerHTML ='<span style="color:green">'+ text+'</span>';
        $JS.json.bind('form1', {Pid:val});
        return true;
    }
    
    </script>
</body>
</html>
