body,html,p,h3,div,input,ul,li,textarea,table,tr,td,h1,dl,dt,dd,h2,h4,h5,ol
	{
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333;
}

.body_bg {
	
}

li {
	list-style: none;
}

.fl {
	float: left;
	_display: inline;
}

.fr {
	float: right;
	_display: inline;
}

img {
	border: 0 none;
}

.myclear {
	overflow: hidden;
	zoom: 1;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

.clearfix {
	display: block;
}

a {
	color: #0067B7;
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

.mt {
	margin-top: 10px;
}

.mtt {
	margin-top: 20px;
}

.mb {
	margin-bottom: 10px;
}

.mbb {
	margin-bottom: 20px;
}

.pt {
	padding-top: 10px;
}

.ptt {
	padding-top: 20px;
}

.pb {
	padding-bottom: 10px;
}

.pbb {
	padding-bottom: 20px;
}

.mll {
	margin-left: 20px;
}

.w960 {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.w830 {
	width: 830px;
	margin-left: auto;
	margin-right: auto;
}

.w200 {
	width: 200px;
}

.font_fam {
	font-family: "Î¢ÈíÑÅºÚ";
}

.font_red {
	color: #BB0000;
}

.font_green {
	color: #3EAF0E;
}

.font_gray {
	color: #666666;
}

input.in_text,.t_input input,.lc_box input,textarea,.search {
	box-shadow: inset 0 1px 2px #eee;
}

input.in_text:hover,.t_input input:hover,.lc_box input:hover,textarea:hover,.search:hover
	{
	border: 1px solid #aaa !important;
}

input.in_text:focus,.t_input input:focus,.lc_box input:focus,textarea:focus,.search:focus
	{
	box-shadow: inset 1px 1px 2px #ccc;
	border: 1px solid #4689FC !important;
}

.star {
	display: inline-block;
}

.star .rate,.star .rate i {
	background: url(../images/star.gif) repeat-x;
}

.star .rate {
	display: inline-block;
	width: 75px;
	height: 14px;
	background-position: 0 -14px;
	float: left;
	position: relative;
	overflow: hidden;
}

.star .rate i {
	display: block;
	height: 14px;
	line-height: 100px;
	font-size: 0px;
	color: #fff;
	background-position: 0 0;
	overflow: hidden;
	zoom: 1;
}

.star em {
	float: left;
	display: inline-block;
	line-height: 16px;
	font-style: normal;
	margin-left: 5px;
	font-size: 13px;
}

.user_num {
	color: #999;
}

.green_btn,.gray_btn,.orange_btn {
	display: inline-block;
	background: url(../images/btnbg.gif) repeat-x;
	margin-bottom: 3px;
	border-radius: 2px;
}

.green_btn span,.gray_btn span,.orange_btn span {
	display: inline-block;
	line-height: 18px;
	height: 18px;
	font-size: 13px;
	padding: 3px 10px;
	cursor: pointer;
	text-align: center;
}

.green_btn span {
	color: #ffffff;
}

.gray_btn span {
	color: #333333;
}

.orange_btn span {
	color: #ffffff;
}

.green_btn {
	border: 1px solid #51A837;
	background-color: #890D03;
	background-position: 0 -137px;
}

.gray_btn {
	border: 1px solid #CECECE;
	background-color: #C1C1C1;
	background-position: 0 -68px;
}

.orange_btn {
	border: 1px solid #E68200;
	background-color: #F9A313;
	background-position: 0 -204px;
}

.green_btn:hover,.gray_btn:hover,.orange_btn:hover {
	text-decoration: none;
}

.green_btn:hover {
	background-position: 0 -171px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.gray_btn:hover {
	background-position: 0 -102px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.orange_btn:hover {
	background-position: 0 -238px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.search_main .search_btn {
	background: url(../images/btnbg.gif) repeat-x;
	border-radius: 2px;
}

.fav_info .rb_add_fav,.fav_info .rb_share,.r_news h4 a,.r_news h4 a,.list_search .gpl_search .lse_btn,.list_check,.fav_info dl a,.list_add_favorite a,.l_bar_tit,.del_btn,.pop h3 a.fr,.rc_close,.dm_r_close
	{
	background: url(../images/icon.gif) no-repeat;
}

.top_bar {
	width: 100%;
	height: 33px;
	background: #262626;
	z-index: 190;
	position: fixed;
	top: 0;
	left: 0;
}

* html,* html body {
	background-image: url(about:blank);
	background-attachment: fixed;
}

* html .top_bar {
	position: absolute;
	bottom: auto;
	top: expression(eval(document.documentElement.scrollTop));
}

.top_bar .w960 {
	height: 33px;
}

.top_left {
	height: 33px;
	overflow: hidden;
	zoom: 1;
}

.top_welcome {
	width: 175px;
	overflow: hidden;
	height: 23px;
	line-height: 23px;
	padding: 5px 0;
	color: #999999;
}

.s_logo {
	width: 175px;
	overflow: hidden;
	height: 24px;
	padding: 5px 0 4px;
}

.s_logo a {
	display: inline-block;
	padding-right: 38px;
	background: url(../images/beta.gif) no-repeat right 5px;
}

.s_logo a:hover {
	background-position: right -55px;
}

.top_bar ul li {
	float: left;
}

.top_bar li a:hover {
	text-decoration: none;
}

.top_bar .top_nav {
	margin-left: 15px;
}

.top_nav li {
	margin-right: 1px;
}

.top_nav li a {
	display: inline-block;
	color: #CCCCCC;
}

.top_nav li a {
	font-size: 14px;
	color: #cccccc;
	padding: 5px 15px;
	height: 23px;
	line-height: 23px;
}

.top_nav li.cur a,.top_nav li.cur a:hover,.top_menu li.cur .t_memu_c_tit:hover
	{
	background: #BB0000;
	color: #ffffff;
}

.top_nav li a:hover,.top_menu li a.m_r_link:hover {
	background: #545454;
	color: #ffffff;
}

.top_menu li {
	background: url(../images/topmenu_line.jpg) no-repeat right 0;
	position: relative;
}

.top_menu li a {
	display: inline-block;
	color: #CCCCCC;
	padding: 7px 8px;
	height: 19px;
	line-height: 19px;
}

.top_menu li .mrt_sel {
	position: absolute;
	top: 15px;
	right: 8px;
	display: inline-block;
	width: 7px;
	height: 4px;
	background: url(../images/arrow_b.gif) no-repeat 0 0;
	cursor: pointer;
	margin-left: 5px;
	margin-bottom: 2px;
}

.top_menu li.cur {
	z-index: 100;
}

.top_menu li.mrt .t_memu_c_tit {
	position: relative;
	padding: 5px 20px 5px 8px;
	height: 23px;
	line-height: 23px;
	overflow: hidden;
	zoom: 1;
}

.top_menu li.cur .t_memu_c_tit {
	background-color: #BB0000;
	z-index: 101;
	color: #ffffff;
}

.top_menu li.mrt p a,.top_menu .mrt .tm_bar a {
	display: block;
	cursor: pointer;
	padding: 8px;
	height: 14px;
	line-height: 14px;
	color: #B7B7B7;
}

.top_menu .t_menu_c_con {
	position: absolute;
	right: 0;
	top: 33px;
	background: #2D2D2D;
	z-index: 195;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.top_menu .tm_bar {
	border-top: 1px solid #616161;
}

.top_menu .t_menu_c_con p a:hover,.top_menu .tm_bar a:hover {
	background: #000000;
	color: #ffffff;
}

.header {
	background: #F5F5F5;
	border-bottom: 1px solid #E5E5E5;
	margin-top: 33px;
}

.logo {
	padding-right: 10px;
}

.citybox {
	padding-left: 10px;
	position: relative;
	z-index: 110;
}

.citybox a.mycity_act {
	font-weight: bold;
	font-size: 14px;
}

.citybox a.mycity_act,.r_address .myaddress {
	padding-right: 15px;
	color: #333;
	background: url(../images/arrow_b.gif) no-repeat right center;
}

.header .searchbox {
	margin-left: 25px;
}

.searchbox .search {
	height: 21px;
	line-height: 21px;
	padding: 5px 10px;
	border: 1px solid #DEDEDE;
	border-top: 1px solid #C1C1C1;
	font-size: 14px;
}

.search_main .search_btn {
	display: block;
	width: 98px;
	height: 21px;
	line-height: 21px;
	padding: 5px 0;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #931205;
	margin-left: 5px;
	background-color: #D13622;
	color: #ffffff;
}

.search_main {
	position: relative;
	z-index: 50;
}

.search_main .search_btn:hover {
	text-decoration: none;
	background-position: 0 -34px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.r_address {
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
	z-index: 100;
}

.myaddress_pop {
	width: 210px;
	position: absolute;
	border: 1px solid #CCCCCC;
	background: #ffffff;
	right: -32px;
	top: 30px;
	z-index: 101;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.myaddress_pop ul {
	padding: 10px;
}

.myaddress_pop li {
	height: 16px;
	line-height: 16px;
	padding: 5px;
	color: #0067B7;
	cursor: pointer;
}

.myaddress_pop li:hover {
	background: #F2F5FA;
	text-decoration: none;
	border-radius: 2px;
}

.myaddress_pop_bar {
	border-top: 1px solid #E5E5E5;
	padding: 10px;
	height: 16px;
	text-align: right;
}

.myaddress_pop_bar a {
	padding: 5px;
}

.myaddress_pop_bar a:hover {
	background: #F2F5FA;
	text-decoration: none;
	border-radius: 2px;
}

.myaddress_arrow_top {
	width: 19px;
	height: 10px;
	position: absolute;
	top: -10px;
	left: 118px;
	background: url(../images/myaddress_arrow_top.gif) no-repeat 0 0
		transparent;
}

.header {
	padding: 20px 0;
}

.i_header .searchbox {
	padding-top: 33px;
}

.i_header .citybox {
	margin-top: 40px;
}

.i_header .logo {
	background: url(../images/logo_line.jpg) right 39px no-repeat;
}

.i_header  .searchbox .search {
	width: 430px;
}

.s_header .searchbox {
	padding-top: 9px;
}

.s_header .citybox {
	margin-top: 17px;
}

.s_header .logo {
	background: url(../images/logo_line.jpg) right 16px no-repeat;
}

.s_header  .searchbox .search {
	width: 335px;
}

.s_header .r_address {
	color: #999999;
}

.s_header a.saveaddress {
	margin-right: 10px;
	color: #333;
}

.s_header span.saveaddress {
	margin-right: 10px;
	color: #999;
}

.s_header .myaddress {
	margin-left: 10px;
	color: #333;
}

.city_sug {
	width: 122px;
	padding-top: 10px;
	background: url(../images/citypop_arrow_top.gif) no-repeat 23px 0
		transparent;
	position: absolute;
	z-index: 100;
	top: 25px;
	left: 0;
}

.city_sug_main {
	background: #2D2D2D;
	color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.city_sug_main li {
	border-bottom: 1px solid #686868;
	padding: 10px;
	font-size: 14px;
}

.city_sug_main li:hover {
	background: #4D4D4D;
	cursor: pointer;
}

.city_sug_tips {
	padding: 10px;
	border-bottom: 1px solid #434343;
	color: #898989;
}

.ca_link {
	text-align: center;
}

.ca_link a {
	display: block;
	padding: 10px;
	color: #fff;
}

.ca_link a:hover {
	text-decoration: none;
	background: #4D4D4D;
}

.sug {
	display: none;
	background: #fff;
	border: 1px solid #D9D9D9;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.sug h4 {
	height: 16px;
	line-height: 16px;
	padding: 10px;
	border-bottom: 1px solid #EDEDED;
}

.sug h4 strong {
	font-size: 14px;
}

.sug h4 a {
	font-weight: normal;
	font-size: 13px;
}

.sug ul li {
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	padding-left: 10px;
	color: #000;
	cursor: default;
}

.sug ul li:hover {
	background: #EEEEEE;
}

#sug {
	position: absolute;
	z-index: 60;
	zoom: 1;
}

#sug ul {
	overflow: hidden;
	zoom: 1;
	max-height: 240px;
	_height: expression(this.scrollHeight > 240 ? "240px" :( this.scrollHeight < 0 ?
		 "0px" : "auto"));
}

.search_main #sug {
	left: 0;
	top: 32px;
}

.i_header #sug {
	width: 450px;
}

.s_header #sug {
	width: 355px;
}

.sug ul li.over {
	background: #9B9B9B;
	color: #fff;
}

.sug ul li.loading {
	background: url(../images/loadingapple.gif) no-repeat left bottom;
}

.main_box {
	background: #ffffff;
	padding-bottom: 30px;
	border-bottom: 1px solid #E5E5E5;
}

.i_top_redtips {
	padding: 0 20px;
	background: #FFE8E8;
	height: 35px;
	border: 1px solid #F8CECF;
}

.t_rtips_tit {
	font-size: 18px;
	height: 23px;
	line-height: 23px;
	background: url(../images/arrow_right.gif) right center no-repeat;
	padding: 6px 30px 06px 0;
	margin-right: 15px;
}

.t_rtips_tit strong {
	padding-left: 5px;
	padding-right: 5px;
}

.i_top_redtips .step {
	padding-top: 6px;
	margin-left: 10px;
}

.i_top_redtips .step span.font_red strong,.i_top_redtips .step span {
	background: url(../images/step.gif) no-repeat;
}

.i_top_redtips .step span {
	display: inline-block;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	padding-right: 30px;
	margin-right: 20px;
	background-position: right -130px;
}

.i_top_redtips .step span.font_red strong {
	height: 24px;
	display: inline-block;
	padding-left: 30px;
	background-position: 0 0;
}

.i_top_redtips .close {
	display: inline-block;
	margin-top: 10px;
}

.footer {
	padding: 10px 0 10px;
	margin-top: 10px;
	padding-bottom: 50px;
}

.footer_link a {
	margin-left: 10px;
	margin-right: 10px;
	color: #333333;
}

.footer_link {
	color: #B7B7B7;
}

.f_link_box {
	padding-bottom: 25px;
}

.f_link_box table.link_text {
	margin-top: 10px;
	margin-bottom: 20px;
	border: none;
	border-collapse: collapse;
}

.f_link_box .link_text td a {
	height: 18px;
	line-height: 18px;
}

.f_link_box table td {
	width: 110px;
	border: none;
	text-align: left;
	padding: 0 10px 10px 0;
}

.copyright,.copyright a {
	color: #333333;
}

.f_banner {
	height: 128px;
	text-align: center;
}

.f_banner1 {
	display: inline-block;
}

.f_banner2 {
	display: inline-block;
	padding-top: 8px;
}

.footer_main {
	padding-bottom: 50px;
}

.footer_main h2 {
	font-size: 20px;
	color: #C52F2F;
}

.footer_main p {
	line-height: 22px;
	color: #666666;
}

.footer_main h3 {
	margin-top: 25px;
	margin-bottom: 5px;
}

.fp_left {
	width: 630px;
}

.fp_right {
	width: 300px;
}

.f_mb {
	margin-bottom: 10px;
}

.f_topnav {
	height: 26px;
	line-height: 26px;
	padding: 5px 0 4px;
	background: #F0F0F0;
	border-bottom: 1px solid #E8E8E8;
}

.f_topnav li {
	float: left;
	display: inline-block;
	font-size: 14px;
	margin-right: 10px;
}

.f_topnav li a,.f_topnav li strong {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 3px 15px;
	color: #333;
}

.i_links {
	border-top: 1px dotted #E5E5E5;
	color: #E0E0E0;
	font-size: 12px;
	padding-top: 10px;
	margin-top: 10px;
}

.i_links a {
	margin-right: 20px;
	color: #E0E0E0;
}

.b_footer {
	padding-bottom: 25px;
	text-align: center;
	padding-top: 20px;
}

.b_footer p {
	line-height: 25px;
}

.b_footer a {
	margin-left: 10px;
	margin-right: 10px;
	color: #333333;
}

.b_footer p.copyright {
	color: #999999;
}

.i_box {
	background: #fff;
}

.i_box h2 {
	font-size: 16px;
}

.i_box_tit {
	border-bottom: 2px solid #BB0000;
	padding: 0 0 7px;
}

.i_box_tit p {
	margin-left: 5px;
	color: #999999;
}

.ib_address_item {
	width: 129px;
	border-right: 1px solid #E5E5E5;
	padding-right: 20px;
	padding-left: 10px;
}

.ib_address_item h4 {
	font-size: 13px;
}

.ib_address_item ul {
	height: 160px;
	overflow: hidden;
	zoom: 1;
}

.ib_address_item ul li {
	height: 20px;
	line-height: 20px;
}

.ib_address_item ul li a {
	color: #999999;
	white-space: nowrap;
}

.bannerbox {
	height: 250px;
}

.left_banner {
	width: 728px;
	height: 250px;
	background: #e8e8e8;
	overflow: hidden;
	zoom: 1;
}

.r_news {
	border: 1px solid #DDDDDD;
	margin-left: 10px;
	width: 220px;
	height: 248px;
}

.r_news h4 {
	padding: 8px 10px;
	border-bottom: 1px solid #E8E8E8;
}

.r_news h4 a {
	font-weight: normal;
	width: 17px;
	height: 17px;
	line-height: 200px;
	overflow: hidden;
	zoom: 1;
	background-position: 0 -45px;
}

.r_news h4 a:hover {
	background-position: 0 -62px;
}

.r_news_box {
	padding: 8px 10px 5px;
	color: #333333;
	border-bottom: 1px solid #E5E5E5;
}

.r_news_box ul li {
	line-height: 20px;
	padding-bottom: 3px;
}

.r_news_box ul li a {
	color: #555555;
}

.join_btn {
	text-align: center;
	padding: 15px 10px 0;
}

.join_btn a {
	margin-bottom: 5px;
}

.join_btn a span {
	padding: 4px 15px;
}

.i_t1_lbox {
	width: 728px;
	height: 90px;
	overflow: hidden;
	zoom: 1;
}

.i_t1_rbox {
	background: #f8f8f8;
	width: 200px;
	padding: 10px;
	border: 1px solid #E8E8E8;
	margin-left: 10px;
	height: 68px;
}

.i_t1_rbox h3 {
	font-size: 13px;
	padding-top: 5px;
}

.hot_shop_nav {
	height: 36px;
	border: 1px solid #E5E5E5;
	border-bottom: none;
	background: #F5F5F5 url(../images/b_border_line.jpg) repeat-x 0 bottom;
}

.hot_shop_nav ul {
	margin-left: 10px;
}

.hot_shop_nav ul li {
	float: left;
}

.hot_shop_nav ul li a,.hot_shop_nav ul li.cur {
	display: inline-block;
	padding: 7px 15px;
	height: 21px;
	line-height: 21px;
	color: #333333;
	border-right: 1px solid #E5E5E5;
}

.hot_shop_nav ul li.cur {
	background: #fff;
	border: 1px solid #E6E3E3;
	border-bottom: none;
	font-weight: bold;
}

.hot_shop_nav ul li a:hover {
	color: #BB0000;
}

.i_hot_shop {
	border-bottom: 1px solid #E5E5E5;
}

.hot_shop_box {
	width: 987px;
	padding-top: 20px;
}

.hot_shop_box .shop_item {
	float: left;
	margin-right: 25px;
	width: 150px;
	height: 230px;
	border: 1px solid #e5e5e5;
	padding: 10px;
	margin-bottom: 20px;
	overflow: hidden;
	zoom: 1;
	border-radius: 2px;
}

.hot_shop_box .i_shop_name {
	margin-top: 8px;
	margin-bottom: 8px;
}

.hot_shop_box .i_shop_name a {
	font-size: 14px;
	font-weight: bold;
	color: #333;
	white-space: nowrap;
}

.hot_shop_box .shop_item a img {
	width: 150px;
	height: 150px;
}

.hot_shop_box .i_shop_name a:hover {
	color: #BB0000;
}

.shop_item .i_star_box {
	margin-bottom: 5px;
}

.shop_item p span.font_red {
	font-size: 18px;
}

.shop_item:hover {
	border-color: #CECECE;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container {
	padding-top: 15px;
}

.bl_bg {
	background: url(../images/bl_bg.jpg) repeat-y 136px 0;
}

.w960 .crumb {
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 10px;
}

.crumb {
	height: 20px;
	line-height: 20px;
	color: #999;
}

.crumb a {
	display: inline-block;
	color: #333;
}

.crumb .t_fy {
	margin: 0 7px;
}

.left_filter {
	width: 140px;
	position: relative;
	margin-left: -140px;
}

.left_filter .v_line2 {
	width: 120px;
	margin-left: auto;
	margin-right: auto;
}

.left_filter .lf_box {
	font-size: 14px;
	padding-bottom: 50px;
	width: 136px;
}

.left_filter .lf_box ul {
	padding-bottom: 3px;
}

.left_filter .lf_box ul li a,.left_filter .lf_box ul li span {
	display: block;
	padding: 5px 8px 5px 25px;
	overflow: hidden;
	zoom: 1;
}

.lf_box ol {
	padding: 8px 0 5px;
}

.lf_box ol li {
	line-height: 16px;
	font-size: 13px;
	overflow: hidden;
	zoom: 1;
}

.lf_box ol li a,.lf_box ol li.n_cur span {
	display: block;
	line-height: 18px;
	line-height: 18px;
	padding: 3px 8px 3px 25px;
}

.lf_box ol li.n_cur span {
	color: #BB0000;
	background: #F5F5F5;
}

.left_filter .lf_box .cur span {
	border-left: 4px solid #BB0000;
	padding-left: 22px;
}

.left_filter .lf_box .cur,.left_filter .lf_box .cur span {
	background: #E5E5E5;
	color: #BB0000;
}

.lf_box ul li a,.lf_box ol a {
	color: #333;
}

.lf_box ul li a:active,.lf_box ol li a:active {
	color: #BB0000;
}

.lf_box ul li a:hover,.lf_box ol li a:hover {
	background: #E5E5E5;
	text-decoration: none;
}

.l_bar_tit {
	padding-left: 25px;
	font-size: 13px;
	background-position: -5px -318px;
}

.store_item {
	padding: 0 0 20px 0;
	margin-bottom: 15px;
	overflow: hidden;
	zoom: 1;
}

.store_item .it_s_box {
	color: #000;
	width: 590px;
}

.list_check {
	display: inline-block;
	_display: inline;
	margin-left: 10px;
	padding-left: 20px;
	border: 1px solid #50B243;
	overflow: hidden;
	zoom: 1;
	border-radius: 2px;
}

.map_show {
	background-position: 0 -99px;
}

.list_show {
	background-position: 0 -117px;
}

.list_check span {
	display: inline-block;
	height: 18px;
	line-height: 18px;
	color: #333;
	padding: 0 5px;
	background: #fff;
}

.list_check:hover {
	border-color: #36982C;
	text-decoration: none;
}

.list_check:hover span {
	background: #DEFFD8;
	cursor: pointer;
	text-decoration: none;
}

.v_fiter {
	margin-bottom: 15px;
	padding: 2px 0;
}

.v_fl_label {
	color: #333333;
	height: 14px;
	line-height: 14px;
	padding: 5px 0;
	font-weight: bold;
}

.v_fliter_item {
	height: 16px;
	line-height: 16px;
	padding: 4px 10px;
	margin-right: 10px;
	background: #FFE3E3;
	border-radius: 2px;
}

.v_fl_label {
	height: 16px;
	line-height: 16px;
	color: #333;
	padding: 5px 0;
}

.v_fliter_item span {
	
}

.v_fiter .vf_x {
	margin-left: 5px;
	font-size: 12px;
	color: #BB0000;
}

.shop_name {
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	position: relative;
}

.shop_name a {
	font-weight: bold;
	color: #333;
	text-decoration: underline;
}

.shop_name a em {
	font-style: normal;
	color: #fff;
	text-decoration: underline;
}

.shop_name a em.work {
	color: #40A236;
}

.shop_name a em.rest {
	color: #BB0000;
}

.shop_name a span {
	font-size: 13px;
	color: #666;
	font-weight: normal;
}

.store_item  .it_s_box .shop_pic {
	width: 80px;
	height: 80px;
	margin-right: 10px;
	background: #e5e5e5;
}

.sum_menu a {
	margin-right: 10px;
	color: #000;
}

.shop_pic img {
	width: 80px;
	height: 80px;
}

.shoplist   .pagebar {
	text-align: left;
	padding-top: 50px;
	padding-bottom: 30px;
	margin-left: 180px;
}

.m2_main {
	width: 820px;
	margin-left: 140px;
	margin-bottom: 30px;
}

.right_mainbox {
	width: 820px;
}

.list_box {
	width: 560px;
	padding-right: 30px;
	padding-left: 30px;
	overflow: hidden;
	zoom: 1;
}

.fav_city_select {
	background: #EDEDED;
	padding: 7px 5px;
	margin-bottom: 20px;
	border-radius: 3px;
}

.fav_city_select strong,.fav_city_select a {
	margin: 0 10px;
}

.list_add_favorite {
	font-style: normal;
	font-size: 13px;
	position: absolute;
	right: 0;
	top: 3px;
}

.list_add_favorite a {
	display: inline-block;
	height: 16px;
	line-height: 17px;
	padding-left: 18px;
	text-decoration: none;
	font-size: 13px;
	color: #aaa;
	font-weight: normal;
	overflow: hidden;
	zoom: 1;
	background-position: 0 -287px;
}

.list_add_favorite a:hover,.list_add_favorite a.cur {
	background-position: 0 -271px;
}

.list_add_favorite a:hover {
	text-decoration: underline;
}

.shop_intr {
	width: 470px;
	overflow: hidden;
	zoom: 1;
}

.sum_menu,.s_store_info {
	margin-bottom: 2px;
}

.s_store_info,.hours {
	line-height: 16px;
}

.s_store_info em {
	font-style: normal;
}

.s_store_info span {
	margin-right: 30px;
}

.shop_pop_itemmain {
	width: 270px;
}

.shop_pop_itemmain .shop_name span {
	white-space: nowrap;
}

.shop_pop_itemmain .shop_name {
	margin-bottom: 12px;
	width: 250px;
	line-height: 20px;
}

.shop_pop_item_info p {
	line-height: 21px;
}

.shop_pop_item_info p em {
	font-style: normal;
}

.s_i_pop_box .shop_pic {
	width: 80px;
	height: 80px;
	background: #E5E5E5;
	margin-right: 10px;
}

.s_i_pop_btn .green_btn span {
	height: 22px;
	line-height: 21px;
	padding: 3px 15px;
	font-weight: normal;
	font-size: 14px;
}

.list_search {
	padding: 0 10px 0 10px;
}

.list_search .gpl_search {
	margin: 0 0 10px;
	width: auto;
}

.list_search .gpl_search {
	height: 20px;
	width: 118px;
	background: #FFFFFF;
	border: 1px solid #D2D5D8;
}

.list_search .gpl_search span {
	height: 20px;
	display: inline-block;
	overflow: hidden;
}

.list_search .gpl_search .input {
	border: 0 none;
	color: #999999;
	display: block;
	float: left;
	height: 20px;
	line-height: 20px;
	margin: 0;
	text-indent: 3px;
	width: 98px;
}

.list_search .gpl_search span {
	display: block;
	float: left;
	height: 20px;
	overflow: hidden;
	width: 98px;
}

.list_search .gpl_search .lse_btn {
	display: block;
	height: 20px;
	width: 20px;
	background-position: 0 0;
	background-color: #EAEAEA;
}

.list_search .gpl_search .lse_btn:hover {
	background-position: 0 -22px;
}

em.t_fy {
	font-style: normal;
	font-family: "ËÎÌå";
}

.left_info .work {
	background: #50B243;
	border-bottom: 1px solid #40A236;
	border-top: 1px solid #40A236;
}

.left_info .rest {
	background: #BB0000;
	border-bottom: 1px solid #A80B0B;
	border-top: 1px solid #A80B0B;
}

.store_list_icon {
	display: inline-block;
	width: 16px;
	height: 15px;
	line-height: 15px;
	line-height: 17px\9;
	font-size: 13px;
	text-align: center;
	font-style: normal;
	margin-left: 5px;
	border-radius: 2px;
}

.list_hot {
	background: #BB0000;
	border: 1px solid #A50505;
	color: #fff;
}

.list_fast {
	background: #50B243;
	border: 1px solid #34A527;
	color: #fff;
}

.right_bar,.right_bar .rb_box {
	width: 200px;
	overflow: hidden;
	zoom: 1;
}

.nearly_shop li {
	overflow: hidden;
	zoom: 1;
	margin-bottom: 20px;
}

.sr_intr {
	width: 100px;
}

.right_model .rb_tit,.rb_box  .rb_tit {
	font-size: 13px;
	margin-bottom: 10px;
}

.sr_info {
	font-size: 13px;
}

.sr_intr h4 {
	font-weight: normal;
	font-size: 14px;
}

.sr_info .work {
	color: #3EAF0E;
}

.sr_info .rest {
	color: #BB0000;
}

.sr_shop_pic {
	width: 70px;
	height: 70px;
	background: #e5e5e5;
	margin-right: 10px;
	overflow: hidden;
	zoom: 1;
}

.sr_shop_pic img {
	width: 70px;
	height: 70px;
}

.v_line2 {
	height: 1px;
	zoom: 1;
	background: #E5E5E5;
}

.sr_h_shop {
	
}

.sr_h_shop li {
	padding-bottom: 3px;
	height: 18px;
	line-height: 18px;
}

.sr_intr h4.sr_name {
	height: 15px;
	line-height: 15px;
	margin-bottom: 7px;
}

.sr_info p {
	line-height: 16px;
}

.learn_r {
	margin-left: 15px;
}

.hint {
	margin-left: 30px;
	margin-bottom: 25px;
}

.hint caption {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	white-space: nowrap;
	color: #000;
}

.hint tr td a {
	font-size: 13px;
	text-decoration: underline;
}

.hint td {
	padding: 10px 30px 0 0;
	vertical-align: top;
}

.m2_main .pagebar {
	padding-left: 30px;
}

.store_item .star {
	margin-bottom: 4px;
}

.u_add_shop {
	background: #F5F5F5;
	border: 1px solid #E5E5E5;
	padding: 10px 10px 7px;
	width: 538px;
	margin-left: 30px;
}

.u_add_shop .green_btn {
	margin-left: 5px;
	margin-right: 5px;
}

.u_add_shop p {
	padding: 6px 0;
	height: 14px;
	line-height: 14px;
}

.right_model {
	width: 240px;
	padding-top: 30px;
}

.right_model h3 {
	font-size: 14px;
	margin-left: 20px;
}

.right_model .rm_box {
	width: 200px;
	margin-left: 20px;
}

.r_map_area {
	width: 198px;
	height: 198px;
	border: 1px solid #E0E0E0;
	background: #F7F7F7 url(../images/shop_map.gif) no-repeat 0 0;
}

.r_map_box p {
	line-height: 20px;
}

.right_model .sr_h_shop {
	
}

.v_line3 {
	height: 1px;
	zoom: 1;
	background: #E8E8E8;
}

.fav_info p strong {
	font-size: 20px;
	font-style: italic;
	margin-right: 3px;
}

.fav_info {
	border: 1px solid #EDEDED;
	background: #ffffff;
	width: 178px;
	padding: 10px;
	margin-left: 20px;
	border-radius: 5px;
}

.fav_info dl {
	clear: both;
	padding-top: 12px;
	width: 178px;
}

.fav_info dt,.fav_info dd {
	float: left;
	_display: inline;
	zoom: 1;
}

.fav_info dt {
	margin-right: 5px;
}

.fav_info dd {
	line-height: 22px;
	height: 22px;
	color: #999999;
}

.fav_info dl a {
	display: inline-block;
	border-radius: 2px;
	padding-left: 22px;
}

.fav_info dl a span {
	display: inline-block;
	height: 14px;
	line-height: 14px;
	padding: 3px 10px 3px 8px;
	text-align: center;
	cursor: pointer;
}

.fav_info .rb_add_fav {
	border: 1px solid #E3A8AA;
	color: #BB0000;
	background-color: #FDCDCD;
	background-position: 0 -155px;
}

.fav_info .rb_add_fav:hover span {
	background-color: #FAA5A5;
}

.fav_info .rb_share {
	border: 1px solid #80BD6F;
	color: #188100;
	background-color: #B3EAA6;
	background-position: 0 -195px;
}

.fav_info .rb_share:hover span {
	background-color: #8ED37E;
}

.fav_info dl a:hover,.fav_info dl a:hover span {
	text-decoration: none;
}

.to_top {
	padding: 5px 2px 8px;
	width: 16px;
	text-align: center;
	line-height: 15px;
	border: 1px solid #F2AFAF;
	background: #FFE5E5;
	cursor: pointer;
	color: #BB0000;
	overflow: hidden;
	zoom: 1;
}

.to_top:hover {
	background: #FFDBDB;
	border: 1px solid #F2AFAF;
}

.pagebar {
	overflow: hidden;
	zoom: 1;
	clear: both;
}

.pagebar a {
	display: inline-block;
	text-align: center;
	padding: 4px 10px;
	background: #F5F5F5;
	margin: 5px 8px 5px 0;
	font-size: 13px;
	border: 1px solid #E8E8E8;
	border-radius: 2px;
	color: #666666;
}

.pagebar a.cur,.pagebar a.cur:hover {
	font-weight: bold;
	background: #BB0000;
	border: 1px solid #C52F2F;
	color: #fff;
}

.pagebar a:hover {
	box-shadow: 0 0 3px #dddddd;
	color: #000000;
	text-decoration: none;
	border-color: #CBCBCB;
}

.shop_bg {
	background: #E5E5E5 url(../images/shop_bg.gif) no-repeat center 33px;
}

.shop_page {
	background: #fff url(../images/r_bg.jpg) repeat-y 0 0;
	padding-bottom: 40px;
}

.shop_main_box {
	margin-top: 33px;
}

.shop_main_box .crumb {
	border-bottom: none;
}

.left_shop_box {
	padding: 30px;
	width: 530px;
	position: relative;
}

.left_shop_box .ti_shop_info {
	width: 358px;
	padding-left: 10px;
}

.top_shop_info .ti_shop_pic {
	width: 160px;
	height: 160px;
	background: #F5F5F5;
	border: 1px solid #CCCBC9;
}

.ti_shop_pic img {
	width: 160px;
	height: 160px;
}

.ti_shop_info h1 {
	font-size: 16px;
	line-height: 22px;
}

.ti_shop_info .m_shop_star {
	padding: 7px 0 9px;
}

.lfet_bar_item em {
	color: #999999;
	margin-left: 12px;
	margin-right: 12px;
}

.lfet_bar_item p,.lfet_bar_item dl {
	line-height: 22px;
}

.lfet_bar_item .shop_tel {
	margin-top: 12px;
}

.lfet_bar_item .shop_address dd {
	width: 290px;
}

.lfet_bar_item dl.shop_address {
	color: #999;
}

.menu .s_tit {
	font-size: 14px;
}

.menu .s_tit a {
	display: block;
	color: #666666;
	padding: 34px 0 5px;
}

.menu .s_tit a:hover {
	text-decoration: none;
}

.menu .dishes {
	margin-bottom: -14px;
}

.menu .dishes li {
	background: url(../images/menu_bg.jpg) no-repeat 35px 12px;
	padding: 5px 0 4px 35px;
	_padding: 4px 0 4px 35px;
	overflow: hidden;
	zoom: 1;
	border-radius: 3px;
	position: relative;
	margin-bottom: 1px;
}

.dishes .dishes_name {
	display: inline-block;
	background: #ffffff;
	margin-right: 5em;
}

.dishes .dishes_name em {
	font-style: normal;
	color: #999999;
}

.dishes .dishes_price {
	position: absolute;
	right: 0;
	top: 5px;
	display: inline-block;
	background: #ffffff;
	padding-right: 10px;
	padding-left: 5px;
	font-family: "Î¢ÈíÑÅºÚ";
}

.menu .dishes li:hover,.menu .dishes li:hover .dishes_price {
	background: #D5F9CB;
}

.menu .dishes li:hover {
	background: #D5F9CB url(../images/add.jpg) 0 0 no-repeat;
	cursor: pointer;
}

.menu .dishes li:hover .dishes_name,.menu .dishes li:hover .dishes_price
	{
	background: #D5F9CB
}

.dishes li:hover .dishes_name em,.dishes li:hover .dishes_name,.dishes li:hover .dishes_price
	{
	cursor: pointer;
}

.menu .dishes li.cur {
	background: #F5F5F5 url(../images/added.jpg) no-repeat 0 0;
}

.menu .dishes li.cur .dishes_name,.menu .dishes li.cur .dishes_price {
	background: #F5F5F5;
}

.menu .dishes li.cur:hover {
	background: #FFE3E2 url(../images/add_no.jpg) no-repeat 0 0;
}

.menu .dishes li.cur:hover .dishes_name,.menu .dishes li.cur:hover .dishes_price
	{
	background: #FFE3E2;
}

.rating {
	
}

.rate_star {
	margin-right: 3px;
	width: 75px;
	height: 14px;
	background: url(../images/star.gif) repeat-x 0 -14px;
	position: relative;
}

.rate_star a,.rate_star h5 {
	display: block;
	height: 14px;
	top: 0;
	font-size: 0px;
	line-height: 100px;
	color: #fff;
	overflow: hidden;
	zoom: 1;
}

.rate_star h5 {
	left: 0;
	z-index: 40;
	background: url(../images/star.gif) repeat-x 0 0;
}

.rate_star a {
	width: 15px;
	z-index: 41;
	position: absolute;
}

.rate_star a:hover {
	background: url(../images/star.gif) repeat-x 0 -28px;
	left: 0;
	z-index: 45;
}

.r_star1 {
	left: 0;
}

.r_star1:hover {
	width: 15px;
}

.r_star2 {
	left: 15px;
}

.r_star2:hover {
	width: 30px;
}

.r_star3 {
	left: 30px;
}

.r_star3:hover {
	width: 45px;
}

.r_star4 {
	left: 45px
}

.r_star4:hover {
	width: 60px;
}

.r_star5 {
	left: 60px
}

.r_star5:hover {
	width: 75px;
}

.rating_num span {
	color: #999;
}

.bg960 {
	background: #E5E5E5 url(../images/bg960.jpg) no-repeat center 33px;
	_padding-top: 63px;
}

.main_960box {
	background: #ffffff url(../images/bg960_main.jpg) repeat-y 0 0;
	margin-top: 63px;
	overflow: hidden;
	zoom: 1;
}

.left_nemu .ac_tit {
	font-size: 14px;
	padding: 10px 0 10px 30px;
}

.left_nemu {
	width: 160px;
	padding-top: 30px;
	padding-bottom: 292px;
}

.left_nemu h3 {
	padding: 7px 0 7px 30px;
}

.left_nemu h3,.left_nemu h4 {
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	background: #BCBCBC;
}

.left_nemu h3.cur {
	background-color: #BB0000;
	color: #ffffff;
}

.left_nemu h4 {
	padding: 7px 0 7px 30px;
}

.left_nemu h4.cur {
	background-color: #BB0000;
	color: #ffffff;
}

.l_mbox li {
	width: 160px;
	margin-bottom: 1px;
}

.l_mbox li a,.l_mbox li.cur span {
	display: block;
	height: 18px;
	line-height: 18px;
	padding: 7px 0 7px 45px;
	color: #333;
}

.l_mbox li.cur span,.l_mbox li.cur span:hover {
	text-decoration: none;
	background: #FFE8E8;
	color: #BB0000;
}

.l_mbox li a:hover {
	text-decoration: none;
	background: #E5E5E5;
	color: #BB0000;
}

.buileind_pop {
	width: 417px;
	background: #fff;
	box-shadow: 1px 1px 6px #666666;
	border: 1px solid #989898;
	padding-bottom: 20px;
	z-index: 1000;
}

.buileind_pop .poppanel_tips {
	padding: 0 0 5px;
	margin: 10px;
}

.poppanel_tit {
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid #DDDDDD;
	clear: both;
}

.poppanel_tit span {
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-bottom: 0;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin-right: 5px;
	padding: 0 10px;
	text-align: center;
	cursor: pointer;
}

.poppanel_tit span:hover {
	background: #E8E8E8;
}

.poppanel_tit span.cur {
	color: #CE1416;
	padding-bottom: 1px;
	margin-bottom: -1px;
}

.poppanel_tit span.cur:hover {
	background: #fff;
	cursor: auto;
}

.building_list {
	padding: 15px 0 10px 10px;
}

.building_list li {
	display: inline-block;
	width: 99px;
	overflow: hidden;
	zoom: 1;
	float: left;
}

.building_list li a {
	display: block;
	padding: 4px 5px;
}

.building_list li a:hover {
	background: #E8E8E8;
	text-decoration: none;
}

.right_content {
	width: 740px;
	padding: 30px;
}

.r_border_box {
	padding-bottom: 52px;
}

.r_border_box h2,.orderinfo_box1 h2,.reviews_body h2 {
	font-size: 16px;
	color: #333;
	border-bottom: 1px solid #E5E5E5;
	height: 19px;
	line-height: 19px;
}

.r_border_box h2 {
	padding: 0 10px 10px 0;
}

.filter_box select {
	border: 1px solid #C7C7C7;
	height: 22px;
	line-height: 22px;
}

.filter_box label {
	height: 22px;
	line-height: 22px;
}

.r_border_box .filter_box {
	padding-bottom: 10px;
}

.r_border_box .filter_box input {
	border: 1px solid #C7C7C7;
	width: 180px;
	height: 14px;
	line-height: 14px;
	padding: 4px 5px;
}

.r_border_box .filter_box .rm_s_btn {
	margin-left: 5px;
}

.r_border_box .filter_box .rm_s_btn span {
	height: 16px;
	line-height: 16px;
}

.rl_box {
	border: 1px solid #cccccc;
	padding: 20px;
	background: url(../images/lr_box_bg.jpg) repeat-y right 0;
}

.reg_box {
	width: 600px;
	padding-bottom: 40px;
}

.reg_box h4 {
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 10px;
	font-size: 16px;
}

.reg_code {
	clear: both;
	margin-bottom: 15px;
	margin-left: 111px;
	overflow: hidden;
	zoom: 1;
}

.reg_code a {
	margin-left: 3px;
	margin-top: 14px;
}

.reg_login_btn {
	margin-left: 110px;
}

.reg_login_btn .green_btn span {
	padding: 7px 20px;
	height: 16px;
	line-height: 16px;
	font-size: 14px;
	font-weight: bold;
}

.remb_pw {
	font-size: 13px;
}

.line_input label {
	width: 180px;
	display: inline-block;
	text-align: right;
	padding-right: 5px;
	color: #666;
}

.reg_box .line_input label {
	width: 105px;
}

.l_i_text {
	float: left;
}

.l_i_text .in_text {
	width: 210px;
	padding: 5px 5px;
	border: 1px solid #CCCCCC;
	font-size: 14px;
	color: #666;
}

.line_input {
	padding: 15px 0;
	clear: both;
	overflow: hidden;
	font-size: 14px;
}

.line_input li {
	margin-bottom: 15px;
	*margin-bottom: 11px;
	overflow: hidden;
	zoom: 1;
}

.line_input li label {
	float: left;
	_display: inline;
	height: 29px;
	line-height: 29px;
}

.rl_tips {
	float: left;
	height: 22px;
	line-height: 22px;
	padding: 4px 5px;
	font-size: 13px;
	color: #999;
}

.rlp_no,.rlp_yes {
	float: left;
	padding-left: 25px;
	height: 20px;
	line-height: 20px;
	font-size: 13px;
	padding: 4px 5px;
	padding-left: 25px;
}

.rlp_no {
	color: #C30E10;
	background: url(../images/no.png) #FFECE8 no-repeat 5px center;
	border: 1px solid #F5DED6;
}

.rlp_yes {
	padding: 5px;
	background: url(../images/yes.png) no-repeat 5px center;
	width: 15px;
}

.line_input li label span em {
	font-style: normal;
	color: #D90000;
	font-size: 18px;
	margin-right: 5px;
	vertical-align: middle;
}

.tb_void .pagebar {
	text-align: right;
}

.tb_void table {
	border-collapse: collapse;
	border-style: solid;
	border: none;
	border-left: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
	border-top: 1px solid #E6E6E6;
}

.tb_void th {
	background: #F3F1F2;
	color: #666666;
	font-weight: normal;
	height: 35px;
	line-height: 35px;
}

.tb_void td {
	border-top: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	padding: 10px;
	text-align: center;
}

.tb_void td.t_left {
	text-align: left;
}

.tb_void td .img_list {
	text-align: left;
	margin-bottom: -5px;
}

.tb_void td .img_list a {
	display: inline-block;
	margin: 0 5px 5px 0;
	border: 1px solid #E1E1E1;
}

.tb_void td .img_list a ;hover{
	border: 1px solid #C20809;
}

.tb_void td .font_fam {
	font-size: 13px;
}

.tb_void .fr_order_total {
	text-align: right;
	padding: 10px;
}

.tb_void .fr_order_total strong {
	font-size: 14px;
}

.order_go td {
	background: #D3FFCE;
}

.order_stop td {
	background: #FFEAEA;
}

.con_mainbox {
	padding-top: 30px;
}

.con_mainbox select {
	border: 1px solid #CACACA;
	height: 22px;
	line-height: 22px;
	margin-top: 5px;
	width: 90px;
	margin-right: 10px;
	color: #666;
	font-size: 14px;
}

.con_mainbox textarea.ac_area {
	border: 1px solid #CACACA;
	padding: 5px;
	width: 210px;
	height: 60px;
}

.con_mainbox .green_btn span {
	padding: 4px 10px;
	font-size: 14px;
}

.ac_navbox {
	border-bottom: 2px solid #E5E5E5;
	margin: 10px 0 10px;
}

.ac_navbox .filter_box {
	padding: 0 10px 0 0;
}

.ac_navbox a {
	display: inline-block;
	padding: 5px 15px;
	height: 18px;
	line-height: 18px;
	margin-left: 10px;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
	background: #fff;
	color: #999;
}

.ac_navbox a:hover {
	background: #F3F1F2;
	color: #BB0000;
	text-decoration: none;
}

.ac_navbox a.cur {
	background: #F3F1F2;
	color: #BB0000;
}

.con_mainbox .line_input li {
	font-size: 14px;
}

.con_mainbox .ac_text {
	display: inline-block;
	height: 29px;
	line-height: 29px;
	padding-left: 7px;
	color: #666;
}

.ac_radio {
	margin-left: 30px;
	margin-right: 3px;
	vertical-align: middle;
}

.ac_g_tips {
	padding: 10px;
	color: #999999;
	background: #FAFAFA;
	border: 1px dashed #DFDFDF;
	margin-top: 50px;
}

.ac_g_tips p {
	line-height: 25px;
}

.ac_g_tips h4 {
	font-size: 14px;
	padding-bottom: 10px;
	font-weight: bold;
}

.ac_tb {
	width: 100%;
	margin: 10px 0;
	border-collapse: collapse;
	color: #000;
}

.ac_tb td {
	border: 1px solid #EAEAEA;
	padding: 8px 5px;
	text-align: center;
}

.ac_tb th {
	background: #EAEAEA;
	padding: 8px 5px;
	border: 1px solid #EAEAEA;
}

.address_cur td {
	background: #EDFFDE;
}

.ac_tb td .t_gr {
	color: #559F01;
}

.ac_tb td.tl {
	text-align: left;
}

.con_mainbox h3.ac_my_address_tit {
	border-bottom: 1px dotted #E2E2E2;
	padding: 10px 0;
	font-size: 13px;
}

.r_add_time {
	font-weight: normal;
	color: #999;
	text-align: right;
	margin-top: 30px;
	width: 150px;
}

.r_add_time a {
	color: #0852B2;
}

.con_mainbox .store_item {
	border-bottom: 1px dotted #E2E2E2;
}

.phone_verify {
	border: 1px dashed #dfdfdf;
	background: #FAFAFA;
	padding: 20px 10px 10px;
	position: relative;
}

.phone_verify .pho_v_pop_close {
	position: absolute;
	right: 10px;
	top: 10px;
	_right: 25px;
}

.phone_verify li label {
	width: 108px;
	text-align: right;
}

.s_btn_box .pop {
	top: 0;
	left: 96px;
}

.pop {
	float: left;
	background: url(../images/f_bg.png) repeat 0 0;
	border-radius: 3px;
	padding: 5px;
	position: fixed;
	z-index: 200;
	overflow: hidden;
	zoom: 1;
}

.add_area_m {
	width: 400px;
}

.pop h3 a.fr,.dm_r_close {
	width: 16px;
	height: 16px;
	line-height: 200px;
	overflow: hidden;
	zoom: 1;
	background-color: #C52F2F;
	background-position: 0 -412px;
}

.pop h3 a.fr:hover,.dm_r_close:hover {
	background-position: 0 -428px;
}

.add_area_m p {
	line-height: 30px;
	line-height: 30px;
	padding: 10px 0;
	font-size: 15px;
	text-align: center;
}

.remarks label {
	width: 85px;
	line-height: 17px;
	height: 17px;
	padding: 7px;
	text-align: right;
}

.remarks label em {
	margin-right: 5px;
}

.pop_c_me .address_01 {
	padding-left: 100px;
}

.pop_c_me input {
	margin-right: 3px;
	margin-top: 2px;
}

.pop .pop_bor {
	border: 1px solid #888888;
	background: #fff;
	overflow: hidden;
	zoom: 1;
}

.shop_comments {
	width: 500px;
}

.shop_map {
	width: 700px;
	height: 450px;
}

.tit_small {
	font-size: 13px;
	font-weight: normal;
}

.pop_bor h3 {
	background: #bb0000;
	font-size: 16px;
	padding: 8px 10px;
	color: #fff;
}

.pop_bor h3 a {
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	text-align: right;
}

.pop .pop_main {
	padding: 10px 10px 20px;
}

.pop_tips {
	width: 350px;
}

.t_input input,.t_textarea textarea {
	width: 468px;
	font-size: 13px;
	border: 1px solid #CACACA;
	padding: 6px 5px;
}

.t_textarea textarea {
	height: 80px;
}

.shop_comments h4 {
	font-size: 14px;
	margin-bottom: 5px;
}

.t_g_tips {
	font-size: 13px;
	font-weight: normal;
	color: #999999;
}

.btn_mr {
	margin-right: 10px;
}

.b_btn_bar {
	padding-top: 20px;
	text-align: right;
}

.pop_main .t_input .app_u_shop_t {
	width: 70px;
	text-align: right;
	height: 14px;
	line-height: 14px;
	padding: 9px 0;
}

.pop_main .t_input .app_u_shop_text {
	width: 240px;
	height: 38px;
	color: #666;
	margin-right: 5px;
	font-size: 13px;
	padding: 6px 5px;
}

.lc_box {
	padding: 8px 10px;
}

.lc_box dl {
	overflow: hidden;
	zoom: 1;
	clear: both;
	margin-bottom: 12px;
}

.lc_box dl dt,.lc_box dl dd {
	float: left;
}

.lc_box .input_tt dt {
	width: 45px;
	height: 14px;
	line-height: 14px;
	padding: 7px 0;
	vertical-align: middle;
}

.lc_box .input_tt dd input {
	height: 14px;
	line-height: 14px;
	width: 178px;
	border: 1px solid #CACACA;
	padding: 6px 5px;
}

.remember_stu {
	
}

.remember_stu dt,.wl_but_bar dt {
	width: 45px;
	height: 14px;
}

.remember_stu dd {
	width: 190px;
	color: #666;
}

.remember_stu dd input {
	height: 14px;
	line-height: 14px;
	margin-right: 3px;
	vertical-align: middle;
}

.wl_but_bar {
	padding: 10px 0 0;
}

.wl_for_pw {
	display: inline-block;
	margin: 0 0 0 20px;
	*margin-top: 12px;
	cursor: pointer;
}

.wl_for_pw:hover {
	text-decoration: underline;
}

.t_yellow_tips {
	padding: 5px 10px;
	background: #FFFFDD;
	border-bottom: 1px solid #FFCC33;
	border-top: 1px solid #FFCC33;
}

.t_yellow_tips {
	color: #333;
}

.pop_connect {
	width: 262px;
	margin-right: 25px;
	border-right: 1px dotted #CACACA;
}

.login_connect {
	padding-left: 45px;
	padding-bottom: 10px;
	clear: both;
	overflow: hidden;
	zoom: 1;
}

.login_connect a {
	display: inline-block;
	height: 18px;
	line-height: 18px;
	padding-left: 18px;
	margin-right: 10px;
	background: url(../images/connect/connect_icon.jpg) no-repeat;
}

.login_connect a.renren {
	background-position: 0 0;
}

.login_connect a.sina {
	background-position: 0 -42px;
}

.login_connect a.qq {
	background-position: 0 -81px;
}

.login_pop {
	width: 550px;
}

.login_connect p {
	font-size: 13px;
	color: #999999;
	padding: 5px 0 8px;
}

.shop_r_cart {
	position: fixed;
	bottom: 0;
	right: 20px;
	z-index: 59;
	zoom: 1;
	width: 228px;
}

.shop_rc_bor {
	width: 226px;
	border: 1px solid #AFAFAF;
	background: #fff;
	zoom: 1;
}

.shop_r_cart h3 {
	font-size: 13px;
	padding: 6px 5px;
	height: 22px;
	line-height: 22px;
	background: #bb0000;
	color: #ffffff;
}

.rc_close {
	font-size: 13px;
	font-weight: normal;
	width: 16px;
	height: 16px;
	line-height: 200px;
	overflow: hidden;
	zoom: 1;
	color: #fff;
}

.cr_down {
	background-position: 0 -464px;
}

.shop_r_cart_down {
	width: 226px;
	position: fixed;
	bottom: 0;
	right: 20px;
	border: 1px solid #AFAFAF;
}

.shop_r_cart_down2 {
	border-top: 1px solid #DEDEDE;
	text-align: center;
	font-size: 13px;
	font-family: Arial;
	color: #666666;
}

.shop_r_cart_down .cr_box,.cr_box2 {
	height: 20px;
	line-height: 20px;
	padding: 4px 5px;
	background: #E8E8E8;
	border-top: 1px solid #f9f9f9;
	cursor: pointer;
}

.cr_up {
	background-position: 0 -480px;
	margin-top: 2px;
}

.shop_r_cart_down .cr_box:hover,.cr_box2:hover {
	background: #DCDCDC;
}

.r_mycart {
	max-height: 230px;
	overflow: auto;
	*height: 230px;
	*overflow-y: scroll;
}

.r_mycart table {
	width: 100%;
	*width: 209px;
	border-collapse: collapse;
	border: 0 none;
}

.r_mycart table th,.r_mycart table td {
	border-right: 1px solid #ffffff;
	padding: 3px 0;
	text-align: center;
	color: #666666;
}

.r_mycart table tr .ttl {
	text-align: left;
	padding-left: 5px;
}

.r_mycart table td a {
	color: #000;
	text-decoration: underline;
}

.del_btn {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-position: 0 -356px;
	line-height: 100px;
	overflow: hidden;
	zoom: 1;
}

.del_btn:hover {
	background-position: 0 -374px;
}

.store_phone {
	margin: 5px 5px 0;
	background: #FFFFDD;
	border: 1px solid #FFCC33;
	padding: 3px 5px;
}

.store_phone p {
	clear: both;
	overflow: hidden;
	padding-left: 91px;
}

.r_mycart table th {
	background: #F0F0F0;
	font-size: 12px;
	color: #666;
	font-weight: normal;
}

.r_mycart table .cart_o_num,.line_t_top  .cart_o_num {
	border: 1px solid #999;
	width: 38px;
	height: 19px;
	line-height: 19px;
	text-align: center;
}

.cart_o_total {
	
}

.my_all_total {
	background: #F0F0F0;
	height: 21px;
	line-height: 21px;
	padding: 3px 10px 3px 10px;
	text-align: right;
}

.b_s_tips {
	text-align: center;
	color: #BB0000;
}

.left_s_pop {
	position: absolute;
	left: -31px;
	top: 300px;
	z-index: 100;
}

.left_s_pop .menu_kinds,.left_s_pop .shop_feedback {
	width: 16px;
	text-align: center;
	cursor: pointer;
	margin-bottom: 1px;
	border-radius: 2px;
}

.left_s_pop .menu_kinds {
	padding: 10px 7px;
	background: #ffffff;
}

.left_s_pop .shop_feedback {
	background: #ffffff url(../images/feedback.jpg) no-repeat center 10px;
	padding: 30px 7px 10px;
}

.left_s_pop .menu_kinds:hover,.left_s_pop .shop_feedback:hover {
	color: #BB0000;
}

.menu_kinds_pop {
	position: absolute;
	left: 40px;
	top: 0;
	width: 150px;
	box-shadow: 0 1px 2px #BBBBBB;
}

.mk_arrow {
	width: 7px;
	height: 13px;
	background: url(../images/mk_arrow.gif) no-repeat 0 0;
	position: absolute;
	left: -6px;
	top: 36px;
}

.mk_main {
	background: #ffffff;
	border: 1px solid #CCCCCC;
}

.menu_kinds_pop ul li a {
	display: block;
	height: 14px;
	line-height: 14px;
	padding: 6px 8px;
}

.menu_kinds_pop ul li a:hover {
	background: #EEEEEE;
	text-decoration: none;
}

.login_box {
	padding: 55px 10px 20px;
	border-bottom: 1px solid #CBCBCB;
	border-top: 1px solid #CBCBCB;
}

.login_box .login_pic {
	width: 600px;
}

.wl_login_box {
	width: 282px;
	border: 3px solid #DEDBDB;
	margin-top: 10px;
}

.wl_con_lbox {
	background: #FFFFFF;
	border: 1px solid #BDBDBD;
}

.wl_con_lbox h3 {
	background: #C30E10;
	color: #FFF;
	height: 21px;
	line-height: 21px;
	font-size: 16px;
	padding: 8px 10px;
}

.lc_box dl {
	overflow: hidden;
	zoom: 1;
	clear: both;
	margin-bottom: 12px;
}

.lc_box dl dt,.lc_box dl dd {
	float: left;
}

.lc_box .input_tt dt {
	width: 45px;
	height: 14px;
	line-height: 14px;
	padding: 7px 0;
	vertical-align: middle;
}

.lc_box .input_tt dd input {
	height: 14px;
	line-height: 14px;
	width: 178px;
	border: 1px solid #CACACA;
	padding: 6px 5px;
}

.login_connect {
	padding-left: 45px;
	padding-bottom: 10px;
	clear: both;
	overflow: hidden;
	zoom: 1;
}

.login_connect a {
	display: inline-block;
	height: 18px;
	line-height: 18px;
	padding-left: 18px;
	margin-right: 10px;
	background: url(../images/connect/connect_icon.jpg) no-repeat;
}

.login_connect a.renren {
	background-position: 0 0;
}

.login_connect a.sina {
	background-position: 0 -42px;
}

.login_connect a.qq {
	background-position: 0 -81px;
}

.login_pop {
	width: 550px;
}

.login_connect p {
	font-size: 13px;
	color: #999999;
	padding: 5px 0 8px;
}

.remember_stu dt,.wl_but_bar dt {
	height: 14px;
	width: 45px;
}

.remember_stu dd input {
	height: 14px;
	line-height: 14px;
	margin-right: 3px;
	vertical-align: middle;
}

.wl_for_pw {
	cursor: pointer;
	display: inline-block;
	margin: 0 0 0 20px;
}

.wl_but_bar {
	padding: 10px 0 0;
}

.rl_copyright {
	color: #999;
	text-align: right;
	margin-top: 5px;
	padding-bottom: 50px;
}

.reg_r_info {
	width: 270px;
}

.reg_r_top_info h1 {
	height: 36px;
	line-height: 200px;
	overflow: hidden;
	zoom: 1;
	background: url(../images/know_title.jpg) no-repeat 0 0;
	margin-bottom: 20px;
}

.reg_r_top_info p {
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	color: #999;
}

.reg_r_info .lr_shop_hot h2 {
	font-size: 14px;
	font-weight: bold;
	color: #333;
	margin-top: 55px;
	margin-bottom: 10px;
}

.lr_login {
	margin-top: 58px;
}

.pw_sub {
	padding-left: 110px;
}

.pw_sub .green_btn span {
	padding: 5px 20px;
	font-size: 14px;
}

.remb_pw {
	font-size: 13px;
}

.re_pw {
	width: 400px;
	margin: 50px auto;
}

.re_pw_send {
	padding: 20px 10px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 25px;
}

.re_pw p {
	color: #666;
	line-height: 18px;
}

.re_pw_green {
	color: #40A236;
	background: #EAF5E5;
	border: 1px solid #DEF0D6;
}

.re_pw_yellow {
	color: #D15D00;
	background: #FFFFDD;
	border: 1px solid #FFCC33;
}

.re_pw_red {
	color: #BB0000;
	background: #FFE8E8;
	border: 1px solid #F77E7E;
}

.shoplist_map_main {
	height: 500px;
}

.left_map_show {
	width: 760px;
	height: 500px;
	background: #EDEDED;
}

.right_shop_list_box {
	width: 198px;
	height: 498px;
	border: 1px solid #E0E0E0;
	background: #fbfbfb;
}

.right_shop_list_box h3 {
	padding: 10px;
	height: 18px;
	line-height: 18px;
	font-size: 13px;
	font-weight: bold;
	background: #E5E5E5;
}

.shoplist_rightmain {
	padding: 10px;
}

.list_map_pagebar {
	padding: 10px 0;
	text-align: center;
}

.bor_t {
	border-top: 1px solid #E5E5E5;
}

.list_map_pagebar a {
	text-decoration: underline;
	margin: 0 5px;
}

.list_map_pagebar strong {
	margin: 0 5px;
}

.list_map_pagebar a:hover {
	background: #1C62B9;
	color: #fff;
}

.map_shop_n li {
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	zoom: 1;
}

.map_shop_n li a {
	display: block;
	height: 24px;
	padding-left: 5px;
}

.map_shop_n li.cur a,.map_shop_n li.cur a:hover {
	background: #E5E5E5;
}

.map_shop_n li a:hover {
	text-decoration: none;
	background: #EDEDED;
}

.map_shop_n li a span {
	display: inline-block;
	margin-right: 3px;
	color: #333;
}

.shoplist_rightmain .list_search {
	padding: 0 0 7px 0;
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 8px;
}

.shoplist_rightmain .list_search .gpl_search {
	margin-bottom: 0;
}

.maplist_se_show_all {
	margin-top: 4px;
}

.p_s_tips {
	position: absolute;
	width: 220px;
	padding: 10px;
	z-index: 505;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.p_s_tips p {
	line-height: 18px;
}

.yellow_pop {
	background: #FFF6C3;
	border: 2px solid #FCCE64;
	color: #E05D03
}

.red_pop {
	background: #FCEDED;
	border: 2px solid #FC6767;
	color: #BB0000;
}

.green_pop {
	background: #D1FFC4;
	border: 2px solid #5AAA43;
	color: #188100;
}

.foot_mainbox {
	padding: 15px 0;
}

.foot_mainbox h3 {
	padding-bottom: 10px;
	padding-top: 30px;
}

.foot_mainbox p {
	line-height: 25px;
}

.error_box {
	width: 420px;
	padding-left: 280px;
	height: 242px;
	margin: 130px auto 150px;
	background: #fff url(../images/404bg.jpg) no-repeat 0 0;
	border: 2px solid #EFEFEF;
}

.error_404 {
	line-height: 95px;
	padding-bottom: 5px;
	padding-top: 40px;
}

.error_404 strong {
	font-size: 90px;
	font-family: Arial;
	color: #C41908;
}

.error_box p {
	font-size: 14px;
	line-height: 25px;
	padding-top: 15px;
}

.drag_map_pop {
	width: 958px;
	border: 1px solid #DEDEDE;
	position: absolute;
	left: 50%;
	top: 50px;
	z-index: 150;
	margin: 0 -480px;
	box-shadow: 0 1px 5px #bbbbbb;
}

.drag_mapmain {
	border: 10px solid #ffffff;
	background: #FAFAFA;
}

.drag_mapmain .w_map {
	
}

.drag_mapmain .location_box {
	height: 425px;
	width: 938px;
	overflow: hidden;
	zoom: 1;
	position: relative;
}

.d_pop_topbox {
	background: #bb0000;
	height: 25px;
	padding: 10px;
}

.location_popbox {
	position: absolute;
	top: 150px;
	left: 200px;
	_background-color: transparent;
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/location_bg.png",
		sizingMethod="crop");
}

.location_main_box {
	height: 42px;
	padding: 18px 18px 15px;
	background: url(../images/location_bg.png) no-repeat 0 0;
}

.location_main {
	width: 174px;
	padding-top: 8px;
	text-align: center;
	background: #fff;
}

.d_pop_topbox .dm_r_close {
	margin-top: 5px;
}

.drag_map_tips p {
	color: #F9E7E7;
	line-height: 25px;
}

.dmp_se_box strong {
	padding-top: 5px;
}

.dmp_se_box {
	background: #FAFAFA;
	position: absolute;
	left: 0;
	top: 0;
	width: 440px;
	padding: 5px 10px;
}

.dmp_se_box .gray_btn {
	margin-bottom: 0;
}

.map_p_city {
	height: 22px;
	line-height: 22px;
}

.map_p_text {
	padding: 3px 5px;
	height: 18px;
	line-height: 18px;
	width: 200px;
	margin-right: 5px;
	margin-left: 5px;
	border: 1px solid #CECECE;
}

.location {
	display: block;
	width: 15px;
	height: 24px;
	line-height: 100px;
	overflow: hidden;
	position: absolute;
	top: 6px;
	right: 10px;
	background: url(../images/location.jpg) no-repeat 0 0;
}

.location:hover {
	background-position: 0 -47px;
}