<!DOCTYPE html>
<html>
<head>
    <title>会员中心_{{.partner.Name}}</title>
    <link rel="StyleSheet" type="text/css" href="{{.static_serve}}/css/page.css?v={{.version}}"/>
    <link rel="StyleSheet" type="text/css" href="{{.static_serve}}/css/ucenter/touch/touch.css?v={{.version}}"/>
</head>
<body>

{{template "header"$}}

<div class="panel page-main">
    <div class="side">
        {{template "menu"}}
    </div>
    <div class="main">


        <div style="padding:30px 50px;position:relative;">
            <div class="avatar">
                <!--<img src="{{.member.Avatar}}" alt="用户头像"/>-->
                <img src="{{.static_serve}}/css/ucenter/noavatar.gif" alt="用户头像"/>
            </div>

            <div class="profile">
                <p><label>真实姓名：</label>
                    {{.name}}&nbsp;{{.sex}}
                </p>

                <p>等级：{{.level.Name}}&nbsp;{{.member.Exp}}/{{.nLevel.RequireExp}}</p>

                <p><label>联系电话：</label>{{.member.Phone}}</p>

                <p><label>联系地址：</label>{{.member.Address}}</p>

                <p><label>Q&nbsp;Q号码：</label>{{.member.Qq}}&nbsp;</p>

                <p><label>电子邮箱：</label>{{.member.Email}}&nbsp;</p>

                <p><label>注册时间：</label>{{.regTime}}</p>
            </div>

            <div class="m20">
                [ <a href="basic/profile.htm">修改资料</a> ] &nbsp;
                [ <a href="account/IncomeLog.htm">我的收入</a> ]
            </div>

            <div class="m20">
                登录地址：{{.loginAddr}}<br>
                共支付金额：￥{{.acc.TotalPay}}元
                &nbsp;账户余额：{{.acc.Balance}} 元
            </div>

        </div>


    </div>

</div>

<script type="text/javascript" src="{{.static_serve}}/assets/js/core.js?ver={{.version}}"></script>

{{template "footer"$}}


</body>
</html>