<!DOCTYPE html>
<head>
    <title>修改密码_{{.partner.Name}}-网上订餐|网上外卖平台</title>
    <link rel="StyleSheet" type="text/css" href="{{.static_serve}}/css/page.css?v={{.version}}"/>
    <link rel="StyleSheet" type="text/css" href="{{.static_serve}}/css/usrcent/usrcent.css?v={{.version}}"/>
</head>
<body>

{{template "header"$}}

<div class="panel page-main">
    <div class="side">
        {{template "menu"}}
    </div>

    <div class="main">

        <h1>修改密码</h1>

        <div class="line"></div>
        <div id="pl" class="summary"></div>

        <div id="form1" class="form">
            <div class="fl">
                <div class="label">原密码：</div>
                <div class="in">
                    <input type="password" class="ui-validate" required="true" field="OldPwd"
                           summary="{required:'原密码不能为空'}"/><span class="tip"></span>
                </div>
            </div>
            <div class="fl">
                <div class="label">新的密码：</div>
                <div class="in">
                    <input type="password" class="ui-validate" field="NewPwd" required="true"
                           summary="{required:'密码不能为空'}"/>
                </div>
            </div>
            <div class="fl">
                <div class="label">重复密码：</div>
                <div class="in">
                    <input type="password" class="ui-validate" required="true" field="RePwd"
                           summary="{required:'请再次输入密码!'}"/>
                </div>
            </div>

            <div class="fl">
                <div class="label"></div>
                <div class="in">
                    <input type="button" value="修改" onclick="saveData()"/>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript" src="{{.static_serve}}/assets/js/core_full.js?ver={{.version}}"></script>


<script type="text/javascript">
    var pl = $JS.$('pl');

	function saveData(){
	    if($JS.validator.validate('form1')){
	        var data = $JS.json.toObject('form1');
	        $JS.xhr.jsonPost('?',data,function(json){
	            if(json.result){
                    pl.innerHTML='<b>修改成功</b>';
                    pl.className='green';
	            }else{
	                pl.innerHTML='<b>'+ json.message +'</b>';
                    pl.className='red';
	            }
	        });
	    }
	}


</script>

{{template "footer"$}}

</body>
</html>