<!DOCTYPE html>
<head>
    <title>收货地址</title>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <link rel="StyleSheet" type="text/css" href="{{.Var.static_serve}}/css/page.css?v={{.Var.version}}"/>
    <link rel="StyleSheet" type="text/css" href="{{.Var.static_serve}}/css/ucenter/touch/touch.css?v={{.Var.version}}"/>
</head>
<body>

{{template "header"$}}

    <div class="page-main dg1 page-deliver">


        <div class="btn_new_address" id="btn_new_address">
            <a class="btn btn-create" href="javascript:void(0);"><b>添加新的收货地址</b></a>
        </div>

        <div class="clear-fix"></div>

        <div id="new_panel"></div>

        <div id="dg" class="ui-table"></div>




        <div id="address_panel">

        </div>


    </div>


<script type="text/template" id="addressTpl">
    <div class="form deliver-form" id="form-deliver">
        <input type="hidden" field="Id" value="0"/>
        <div class="fl">
            <div class="label">收货人：</div>
            <div class="in">
                <input class="ui-box ui-validate" type="text" regex="^[\u4e00-\u9fa5]{2,4}$" field="RealName"
                       summary="{'regex':'姓名为2-4位中文'}" style="width:70%"/>
            </div>
        </div>

        <div class="fl">
            <div class="label">电话：</div>
            <div class="in">
                <input class="ui-box ui-validate" regex="^(13[0-9]|15[0|1|2|3|4|5|6|8|9]|18[0|1|2|3|5|6|7|8|9]|17[0|6])(\d{8})$" field="Phone"
                       summary="{'regex':'手机号码不正确','required':'手机号码不能为空'}" style="width:70%"/>
                <div><span class="tip">请正确填写</span></div>
            </div>
        </div>

        <div class="fl">
            <div class="label">地址：</div>
            <div class="in">
                <input class="ui-box ui-validate" required="true" field="Address"
                       summary="{'0':'地址不能为空'}"  style="width:70%"/>
            </div>
        </div>

        <div class="fl">
            <div class="label"></div>
            <div class="in">
                <input class="btn btn-m" type="button" value="&nbsp;确定&nbsp;" onclick="saveDeliveAddr()"/>&nbsp;
                <input class="btn" type="reset" value="&nbsp;取消&nbsp;" onclick="toggleNewAdd()"/>
            </div>
        </div>

    </div>
</script>



<script type="text/template" id="deliver_tpl">
    <div class="item">
        <div class="tit">
            <span class="name">{real_name}</span><span class="phone"><span>{phone}</span></span>

            <div class="cont"><b>收货地址：</b><span>{address}</span></div>
        </div>
        <div class="control">
            <input class="btn btn-m" type="button" onclick="editAddr({id})" value="修改"/>
            <input class="btn" type="button" onclick="delAddr({id})" value="删除"/>
        </div>
        <div class="split"></div>
    </div>
</script>

<script type="text/javascript" src="{{.Var.static_serve}}/assets/js/mobi/core.js?ver={{.Var.version}}"></script>
<script type="text/javascript" src="{{.Var.static_serve}}/assets/js/j6/ui.min.js?ver={{.Var.version}}"></script>
<script type="text/javascript" src="{{.Var.static_serve}}/assets/js/mobi/dg.js?ver={{.Var.version}}"></script>


<script type="text/javascript">
    var addrs = {};
    var numIdx = 0;
    var htmTpl = j6.$('deliver_tpl').innerHTML;

    var _dg = j6.grid('dg', {
        url: location.href,
        data: {page:j6.request('page')||1,size:10},
        idField: 'id',
        columns: [
            { field: 'Id', title: '收货地址',formatter:function(v,r){
                    return j6.template(htmTpl,{
                        num:++numIdx,
                        id: r.Id,
                        real_name: r.RealName,
                        phone: r.Phone,
                        address: r.Address,
                    });
            }},
//            { field: 'RealName', title: '收货人', width: 80,align:'center'},
//            { field: 'Phone', title: '联系电话', width: 120,align:'center'},
//            { field: 'Address', title: '送货地址',align:'center'},
//            {
//                field: 'Id', title: '', width: 80, align: 'center',
//                formatter: function (val, row, index) {
//                    return '<a href="javascript:editAddr('+val+')">编辑</a> | '+
//                            '<a href="javascript:delAddr('+val+')">删除</a>'
//                }
//            }
        ],
        loaded: function (data) {
            addrs = data.rows;
            //var tables = document.getElementsByTagName('TABLE');
            //j6.table.dynamic(tables[1], false);
            //tables[1].className= '';
        }
    });
    _dg.resize();


    var addressTpl = j6.$('addressTpl').innerHTML;
    var newPanel = j6.$('new_panel');

    function toggleNewAdd(){
        j6.animation.toggleHeight(newPanel,null,25);
    }
    j6.$('btn_new_address').onclick=function(){
        j6.json.bind(newPanel,{Id:0,Address:'',RealName:'',Phone:''});
        if(newPanel.offsetHeight == 0){
            toggleNewAdd();
        }
    }

    function newAddr(show) {
        j6.style(newPanel, {display: 'none'});
        newPanel.innerHTML = addressTpl;
        j6.validator.init();
    }

    newAddr();

    function editAddr(id){
        for(var i=0;i<addrs.length;i++){
            if(addrs[i].Id == id){
                j6.json.bind(newPanel,addrs[i]);
                if(newPanel.offsetHeight == 0){
                    toggleNewAdd();
                }
                break;
            }
        }
    }

    function saveDeliveAddr(){
        if(j6.validator.validate('form-deliver')){
            var d = j6.json.toObject('form-deliver');
            j6.xhr.jsonPost('saveDeliver',d,function(json){
                if(json.result){
                    loadDeliver('deliver-panel');
                    showMsg('保存成功',2000)
                }else{
                    alert(json.message);
                }
            },function(){});
        }
    }

    function loadDeliver(id){
        location.reload();
    }

    function delAddr(id){
        if(confirm('确定要删除配送地址吗？')) {
            j6.xhr.jsonPost('deleteDeliver.htm', {id: id}, function (json) {
                if (json.result) {
                    location.reload();
                } else {
                    alert(json.message);
                }
            });
        }
    }

</script>

{{template "footer"$}}

</body>
</html>