<!DOCTYPE html>
<head>
	<title>待支付订单</title>
	<meta content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;"/>
	<link rel="StyleSheet" type="text/css" href="{{.Var.static_serve}}/css/uc/touch/touch.css?v={{.Var.version}}"/>
	<link type="text/css" rel="stylesheet" href="{{.Var.static_serve}}/css/font/awesome/font.css?spam={{.Var.spam}}"/>
</head>
<body>

{{template "header".}}

<div class="page-main page-orders dg1">
	<div id="dg" class="ui-table"></div><div id="pager"></div>
</div>
<script type="text/template" id="list_tpl">
	<div class="item">
		<div class="split"></div>
		<div class="orderNo tit">订单号:{order_no}
			<span class="right">
				状态：<span class="status">{status}</span>
			</span>
		</div>
		<div class="con">
			<div class="goods">{goods}</div>
			<div class="left fee">
				订单金额：<span class="price">{fee}</span><br />
				下单时间：<span class="time">{submit_time}</span>
			</div>
			<div class="buttons">
				<input class="btn btn-m hidden" type="button" onclick="location.href='view?order_no={order_no}';" value="详情"/>&nbsp;
				<input class="btn btn-m" type="button" onclick="location.href='http://{domain}/pay/create?pay_opt={payment}&order_no={order_no}';" value="在线支付"/>
			</div>
			<div class="clear-fix"></div>
		</div>
	</div>
</script>
<script type="text/javascript" src="{{.Var.static_serve}}/assets/js/mobi/core.js?ver={{.Var.version}}"></script>
<script type="text/javascript" src="{{.Var.static_serve}}/assets/js/jr/ui.min.js?ver={{.Var.version}}"></script>
<script type="text/javascript" src="{{.Var.static_serve}}/assets/js/mobi/dg.js?ver={{.Var.version}}"></script>

<script type="text/javascript">
	var ORDER_STATE_TEXTS = new Array("已取消", "待确认","已确认", "待发货", "配送中","已收货","已完成");
	var htmTpl = jr.$('list_tpl').innerHTML;
	var domain = '{{.Map.partner_host}}';
	var _dg = jr.grid('dg', {
		url: location.href,
		data: {page:jr.request('page')||1,size:15},
		idField: 'id',
		columns: [
			{ field: 'order_no', title: '订单',formatter:function(v,r){
				return jr.template(htmTpl,{
					order_no:v,
					fee: '￥'+r.fee,
					domain : domain,
					payment : r.payment_opt,
					goods: itemFmt(jr.toJson(r.items_info)),
					submit_time:unix2str(r.create_time).substring(0,16),
					status: r.is_paid == '0'?'待支付':ORDER_STATE_TEXTS[parseInt(r.status)],
				});
			}}
		],
		loaded: function (data) {
			if(!data.rows || data.rows.length == 0 ){
				jr.$('dg').innerHTML='<div class="no-row">无符合条件的订单</div>'
			}
			this.panel.nextSibling.innerHTML = data.text;
		}
	});

	_dg.resize();
	function gp(p){
		_dg.data.page = p;
		_dg.reload();
	}

	function itemFmt(items){
		var html = "";
		var tpl = '<img src="{img}" width="50" height="50" style="border:solid 1px #ddd;padding:1px;margin-right:3px;" title="{name} x {qty}"/>';
		for(var i=0;i<items.length;i++){
			if(items[i].img.indexOf("http") != 0){
				items[i].img = "{{.Var.img_serve}}/"+items[i].img;
			}
			html += jr.template(tpl,items[i]);
		}
		return html;
	}
</script>


{{template "footer"$}}
</body>
</html>



