<!DOCTYPE html>
<head>
	<title>已完成订单</title>
	<meta content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;"/>
	<link rel="StyleSheet" type="text/css" href="{{.Var.static_serve}}/css/page.css?v={{.Var.version}}"/>
	<link rel="StyleSheet" type="text/css" href="{{.Var.static_serve}}/css/ucenter/touch/touch.css?v={{.Var.version}}"/>
	<link rel="StyleSheet" type="text/css" href="/static/css/ucenter/touch/iconfont/iconfont.css?v={{.Var.version}}"/>
</head>
<body>

{{template "header".}}

<div class="panel page-main">
	<div class="side">
		{{template "menu".}}
	</div>

	<div class="main">

		<h1>已完成订单</h1>
		<div class="line"></div>
		<div id="dg" class="ui-table"></div><div id="pager"></div>

		<script type="text/javascript" src="{{.Var.static_serve}}/assets/js/core_full.js?ver={{.Var.version}}"></script>
		<script type="text/javascript">
			var ORDER_STATE_TEXTS =  new Array("已作废", "待确认","已确认", "待发货", "配送中", "已完成");
			var _dg = j6.grid('dg', {
				url: "Orders",
				data: {page:1,size:20,state:'6'},
				idField: 'id',
				columns: [
					{ field: 'order_no', title: '订单号', width: 100,align:'center'},
					{ field: 'items_info', title: '订单内容'},
					{ field: 'fee', title: '订单金额', width: 200,align:'center',formatter:function(val){
						return '￥'+val;
					}},

					{ field: 'create_time', title: '创建时间',align:'center', width: 120},
					{ field: 'order_no', title: '',align:'center', width: 100,formatter:function(val){
						return '<a class="button" href="details.html?order_no='+val+'">详细</a>';
					}}
				],
				loaded: function (data) {
					var tables = document.getElementsByTagName('TABLE');
					j6.table.dynamic(tables[1], false);
					tables[1].className= '';

					//加载分页
					this.panel.nextSibling.innerHTML = data.text;

				}
			});

			_dg.resize();
			function gp(p){
				_dg.data.page = p;
				_dg.reload();
				window.scrollTo(0,0);
			}
		</script>
	</div>
</div>


{{template "footer"$}}

</body>
</html>



