<!DOCTYPE html>
<head>
    <title>个人资料</title>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <link rel="StyleSheet" type="text/css" href="{{.Var.static_serve}}/css/page.css?v={{.Var.version}}"/>
    <link rel="StyleSheet" type="text/css" href="{{.Var.static_serve}}/css/uc/touch/touch.css?v={{.Var.version}}"/>
</head>
<body>
{{template "header"$}}

<div class="page-main page-profile">
    <div class="fixed">
        <div class="tip-box box-mh">
            完善资料，我们将通过邮箱<span style="color:red">免费赠送</span>神秘大礼包，请注意查收！
        </div>
    </div>
    <div id="form1" class="form">
        <div class="fl">
            <div class="label">姓名：</div>
            <div class="in">
                <input class="ui-box ui-validate" type="text" required="true" tipin="tip_name" field="Name"
                       summary="{required:'请填写您的姓名',regex:'必须为2-4位中文'}" style="width:75%"/>
                <span class="fv" id="tip_name"></span>
            </div>
        </div>
        <div class="fl">
            <div class="label">性别：</div>
            <div class="in">
                <input class="ui-box ui-validate" type="radio" field="Sex" name="sex" value="1" id="sex1" checked="checked"/><label
                    class="auto" for="sex1">先生</label>&nbsp;
                <input type="radio" field="Sex" name="sex" value="2" id="sex2"/><label class="auto"
                                                                                       for="sex2">女士</label>
            </div>
        </div>
        <div class="fl">
            <div class="label">手机号码：</div>
            <div class="in">
                <input class="ui-box ui-validate" regex="^(13[0-9]|15[0|1|2|3|4|5|6|8|9]|18[0|1|2|3|5|6|7|8|9]|17[0|6|7|8]|14[7])(\d{8})$" required="true" tipin="tip_phone" field="Phone"
                       summary="{used:'已被使用',regex:'请填写正确的手机号码'}" style="width:75%"/>
                <span class="fv" id="tip_phone"></span>
            </div>
        </div>

        <div class="fl">
            <div class="label">所在地址：</div>
            <div class="in">
                <input class="ui-box ui-validate" type="text" required="true" tipin="tip_address" field="Address"
                       summary="{required:'请填写地址',regex:'地址需详细到门牌号'}" style="width:75%"/>
                <span class="fv" id="tip_address"></span>
            </div>
        </div>
        <div class="fl">
            <div class="label">出生日期：</div>
            <div class="in">
                <input class="ui-box ui-validate" regex="^\d{4}-\d{2}-\d{2}$" id="birthday" tipin="tip_birthday" field="BirthDay"
                       summary="{regex:'请正确填写生日'}" style="width:75%"/>
                <span class="fv" id="tip_birthday"></span>
            </div>
        </div>

        <div class="fl">
            <div class="label">电子邮箱：</div>
            <div class="in">
                <input class="ui-box ui-validate" regex="(\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*){0,1}"
                       tipin="tip_mail" Field="Email" summary="{regex:'请正确填写邮箱'}" style="width:75%"/>
                <span class="fv" id="tip_mail"><br />邮箱可用于找回密码</span>
            </div>
        </div>
        <div class="fl">
            <div class="label">{{.Map.aliasIM}}：</div>
            <div class="in">
                <input class="ui-box ui-validate" tipin="tip_im" style="width:75%" field="Im"/>
                <span class="fv" id="tip_im"></span>
            </div>
        </div>
        <div class="fl">
            <div class="label">{{.Map.aliasExt1}}：</div>
            <div class="in">
                <input class="ui-box ui-validate" tipin="tip_ext1" style="width:75%" field="Ext1"/>
                <span class="fv" id="tip_ext1"></span>
            </div>
        </div>
        <div class="fl">
            <div class="label">{{.Map.aliasExt2}}：</div>
            <div class="in">
                <input class="ui-box ui-validate" tipin="tip_ext2" style="width:75%" field="Ext2"/>
                <span class="fv" id="tip_ext2"></span>
            </div>
        </div>

        <div class="fl">
            <div class="label"></div>
            <div class="in">
                <input class="btn btn-m" type="button" value="保存" onclick="saveData()"/>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript" src="{{.Var.static_serve}}/assets/js/mobi/core.js?ver={{.Var.version}}"></script>
<script type="text/javascript" src="{{.Var.static_serve}}/assets/js/j6/ui.min.js?ver={{.Var.version}}"></script>


<script type="text/javascript">
    var entity = {{.Map.entity}}||{};
    j6.json.bind('form1', entity);
    //j6.calender('birthday');

    function saveData() {
        if (j6.validator.validate('form1')) {
            var data = j6.json.toObject('form1');
            j6.xhr.jsonPost('?', data, function (json) {
                if (json.result) {
                    showMsg('保存成功',1000);
                } else {
                    showErr(json.message,1000);
                }
            });
        }
    }


</script>

{{template "footer"$}}
</body>
</html>