<!DOCTYPE html>
<head>
	<title>理财转入</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;"/>
	<link rel="StyleSheet" type="text/css" href="{{.Var.static_serve}}/css/page.css?v={{.Var.version}}"/>
	<link rel="StyleSheet" type="text/css" href="{{.Var.static_serve}}/css/uc/touch/touch.css?v={{.Var.version}}"/>
</head>
<body>

{{template "header"$}}
	<div class="page-rise-transfer-in">

		<div id="cns-panel" class="tip-pl">
			预计确认时间：<span class="rise-date">{{.Map.RiseDate}} 20:00</span>。</span><br/>
		</div>

		<div id="form1" class="form form2">


				<div class="fl">
					<div class="label">转入金额: </div>
					<div class="in">
						<input id="tb_amount" type="text" class="ui-box ui-validate" isfloat="true" required="true" field="Amount"
							style="width:80px" summary="{required:'请输入金额'}"/>
					</div>
				</div>

				<div class="fl">
					<div class="label">转入方式: </div>
					<div class="in">

						<input type="radio" name="TransferWith" field="TransferWith" value="1" id="TransferWith1" checked="checked"/><label for="TransferWith1">{{.Map.AliasBalance}}(<em>{{.Map.Account.Balance}}</em>元)</label>
						<!--<br />
							<a class="btn-charge" href="/content/p/balance_charge">账户充值</a>-->
						<br />
						<input type="radio" name="TransferWith" field="TransferWith" value="2" id="TransferWith2"/><label for="TransferWith2">{{.Map.AliasPresentBalance}}(<em>{{.Map.Account.PresentBalance}}</em>元)</label>
						<!--<br />
						<input type="radio" name="TransferWith" field="TransferWith" value="2" id="TransferWith2"/><label for="TransferWith2">网银支付</label>
						<br />-->
					</div>
				</div>

				<div class="fl">
					<div class="label">&nbsp;</div>
					<div class="in">
						<div>
							<input class="btn btn-m" type="button" value="确认转入" onclick="saveData(this)"
								   style="margin-bottom:5px"/><br />
							<input class="btn" type="button" value="账户充值"
								   onclick="location.href='http://zs.gcyv2.zx166.com/content/p/balance_charge'"/>
						</div>
					</div>

				</div>
		</div>
		<div class="note-line">
			<b><span class="red">*</span>&nbsp;说明：</b><br />
			1、若账户余额不足,可联系客服人工充值！<br />
			2、转入金额确认后开始计算收益，同时可进行转出。
		</div>

	</div>


		<script type="text/javascript" src="{{.Var.static_serve}}/assets/js/mobi/core.js?ver={{.Var.version}}"></script>
		<script type="text/javascript" src="{{.Var.static_serve}}/assets/js/mobi/device.js?ver={{.Var.version}}"></script>
		<script type="text/javascript" src="{{.Var.static_serve}}/assets/js/jr/ui.min.js?ver={{.Var.version}}"></script>


			<script type="text/javascript">
				var minTransferAmount = {{.Map.MinTranfer}};
				function saveData(t){
					if(j6.validator.validate('form1')){
						var data = j6.json.toObject('form1');
						data.Amount = parseFloat(data.Amount ||'0');
						if(data.Amount < parseFloat(minTransferAmount)){
							alert('最低转入金额为:'+minTransferAmount+"！");
							return false;
						}

						t.disbaled=true;
						j6.xhr.jsonPost(location.href,data,function(json){
							if(json.result){
								alert('转入成功！');
								location.replace(location.href);
							}else {
								alert(json.message);
							}
							t.disbaled=false;
						});
					}
				}
			</script>


{{template "footer"$}}

</body>
</html>