<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>商品管理</title>
    <link rel="stylesheet" type="text/css" href="{{.static_serve}}/assets/easyui/themes/gray/easyui.css">
    <link rel="stylesheet" type="text/css" href="{{.static_serve}}/assets/easyui/themes/icon.css">
    <link href="{{.static_serve}}/css/partner/common.css" rel="stylesheet" type="text/css" />
    <link href="{{.static_serve}}/css/partner/partner.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        a.nodeSel span.float,a.node span.float{display:none;}
        a.node:hover span.float{display:inherit;}
        a.nodeSel:hover span.float,a.node:hover span.float a{color:red;}
    </style>
</head>
    <div id="dg"></div>
    <div class="toolBar">
        <div class="searchBar padding2" id="searchbar">
            <ul>
                <li>
                    <a class="easyui-linkbutton" iconcls="icon-add" id="btnAdd">
                        <span class="icon"></span>新增商品</a>
                </li>
                <li>
                    <span class="title">是否上架：</span>
                    <select field="state">
                        <option value="-1">一全部一</option>
                        <option value="1">已上架</option>
                        <option value="0">已下架</option>
                    </select>
                </li>

                <li>
                <span class="title">分类：</span>
                    <select field="cid">
                        <option value="-1">一不限一</option>
                        {{.cate_opts}}
                    </select>
                </li>

                <li>
                    <span class="title">关键字：</span>
                    <input type="text" field="keyword" />
                </li>
                <li>
                    <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="btnSearch">
                        <span class="icon"></span>搜索</a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>


<script type="text/javascript" src="{{.static_serve}}/assets/easyui/jquery.min.js"></script>
<script type="text/javascript" src="{{.static_serve}}/assets/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="{{.static_serve}}/assets/easyui/locale/easyui-lang-zh_CN.js"></script>
<script src="{{.static_serve}}/assets/js/core_full.js"></script>
<script src="{{.static_serve}}/assets/js/export.js"></script>
<script src="{{.static_serve}}/assets/js/plugins/sys.js"></script>

<script type="text/javascript">
    expr.ele = 'searchbar';
    expr.portal = 'Partner.GoodsList';
    expr.checkParams = function (data) {
        return true;
    };

    window.refresh = function () {
        expr.reload('dg');
    };

    j6.$('dg').style.height = j6.screen.height() + 'px';

    $(function () {

        //导出
        $('#btnExport').click(
                function () {
                    expr.showExportDialog();
                });

        j6.$('btnSearch').onclick=function () {
            expr.search('dg');
        };


        //加载数据
        $('#dg').datagrid({
            toolbar: '.toolBar',
            singleSelect: !false,
            pagination: true,
            rownumbers: true,
            fitColumns: true,
            pageList:[5,10,15],
            pageSize:5,
            url: expr.getDataUrl(),
            columns: [
                [
                    { field: 'name', title: '商品名称', align: 'center', width: 120 },
                    { field: 'img', title: '图片', align: 'center', width: 100,formatter:function(val){
                        if(val ==''){
                            val = '{{.no_pic_url}}';
                        }else if(val.indexOf("http://")!=0 && val.indexOf("https://")!=0){
                            val = '{{.img_serve}}/'+val;
                        }
                        return '<img src="'+val+'" style="background:#fff;width:75px;height:75px;'+
                                'border-radius:1px;border:solid 1px #ddd;margin:5px;"/>';
                    } },
                    { field: 'cost', title: '成本价',align: 'center'},
                    { field: 'price', title: '定价', align: 'center', width: 120 },
                    { field: 'sale_price', title: '销售价',align: 'center', width: 120 },
                    { field: 'sale_fee', title: '优惠(元)',align: 'center', width: 120,formatter:function(val,row){
                        var sale_fee = row.price - row.sale_price;
                        if(sale_fee!=0){
                            return sale_fee;
                        }
                        return "-";
                    } },
                    {
                        field: 'state',
                        title: '状态',
                        sortable: true,
                        align: 'center',
                        width: 100,
                        formatter: function (val) {
                            if (val == 1) {
                                return '<span style="color:green">可订</span>';
                            } else if(val == 0){
                                return '<span style="color:darkorange">不可订</span>';
                            }
                        }
                    },
                    { field: 'id', title: '操作',align: 'center', width: 120,formatter:function(val,row){
                        return '<a href="javascript:;" onclick="editRec('+row.id+')">编辑</a>'+
                                '<a href="javascript:;" class="btn btn-short" onclick="setSaleTag('+row.id+')">标签设置</a>'+
                                '<a href="javascript:;" class="btn btn-short" onclick="delRec('+row.id+')">删除</a>'
                    } },
                ]
            ]
        });
    });

    j6.$('btnAdd').onclick=addRec;

    function addRec(){
        j6.tab.open('新增商品', '/goods/create', true);
    }

    function setSaleTag(id){
        j6.dialog.create2('设置商品销售标签',true,true).open('/goods/setSaleTag?id=' + id,400,300);
    }

    function editRec(id){
        j6.tab.open('修改商品', '/goods/goodsCtrl?item_id=' + id,  true);
    }

    function delRec(id) {
     window.parent.$.messager.confirm('提示', '删除后不可恢复，您确定要继续吗？', function(result) {
            if (result) {
                j6.xhr.jsonPost('/goods/del', { id: id }, function(json) {
                    if (json.result) {
                        expr.reload('dg');
                    }
                });
            }
        });
    }
</script>

</body>
</html>