<!DOCTYPE html>
<html>
<head>
    <title>商品操作项</title>
    <link rel="stylesheet" type="text/css" href="{{.static_serve}}/assets/easyui/themes/gray/easyui.css">
    <link rel="stylesheet" type="text/css" href="{{.static_serve}}/assets/easyui/themes/icon.css">
    <link href="{{.static_serve}}/css/partner/common.css" rel="stylesheet" type="text/css" />
    <link href="{{.static_serve}}/css/partner/partner.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="easyui-tabs">
    <div title="基本信息" style="padding:10px;" href="edit?item_id={{.item_id}}"></div>
    <div title="商品描述" style="padding:10px;" href="edit_info?item_id={{.item_id}}"></div>
    <div title="会员价格设定" href="lvPrice?item_id={{.item_id}}" style="padding:10px;">

    </div>
    <!--<div title="Third Tab" iconCls="icon-reload" closable="true" style="padding:10px;">-->
        <!--Third Tab-->
    <!--</div>-->
</div>


<script type="text/javascript" src="{{.static_serve}}/assets/easyui/jquery.min.js"></script>
<script type="text/javascript" src="{{.static_serve}}/assets/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="{{.static_serve}}/assets/easyui/locale/easyui-lang-zh_CN.js"></script>
<script src="{{.static_serve}}/assets/js/core_full.js"></script>
<script src="{{.static_serve}}/assets/js/plugins/sys.js"></script>

</body>
</html>
