{{$price := .goods.SalePrice}}
<!DOCTYPE html>
<html>
<head>
    <title>会员价</title>
    <link href="{{.static_serve}}/css/partner/common.css" rel="stylesheet" type="text/css" />
    <link href="{{.static_serve}}/css/partner/partner.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="form1_lv" class="form margin30">
    <input type="hidden" field="goodsId" value="{{.goods.GoodsId}}"/>
    <table cellspacing="1" class="ui-table">
        <tr class="summary">
            <td colspan="3">
                商品:<span class="goods-name">{{.goods.Name}}</span>&nbsp;
                参考售价：<span class="goods-price">{{.goods.SalePrice}}</span>
            </td>
        </tr>
        <tr>
            <th style="text-align:left">会员等级</th>
            <th>会员价</th>
            <th>是否启用</th>
        </tr>

        {{.setHtml}}
    </table>

    <div class="margin30" style="margin-left:0">
            <input id="btn_save_lv" class="btn" type="button" value="提交"/>
    </div>

</div>
<script src="{{.static_serve}}/assets/js/core_full.js"></script>
<script src="{{.static_serve}}/assets/js/plugins/sys.js"></script>

<script>
    $JS.$('btn_save_lv').onclick = function () {
        if ($JS.validator.validate('form1_lv')) {
            var data = $JS.json.toObject('form1_lv');
            $JS.xhr.jsonPost('LvPrice', data, function (json) {
                window.parent.$.messager.alert('提示', json.result ? '保存成功！' : json.message, 'ok', function () {
                    //$JS.tab.closeAndRefresh('商品管理');
                });
            }, function (e) {
                window.parent.$.messager.alert('提示', " 保存失败！ ", 'error');
            });
        }
    }
</script>
</body>
</html>
