body {
	font-family: Arial Sans
}

a:link,a:visited {
	color: #0066cc;
	outline: none;
}

a:hover {
	color: #006699;
}

.center {
	text-align: center;
}

.clearfix {
	clear: both;
}

.rightalign {
	text-align: right;
	padding-right: 30px;
}

.rtalign {
	text-align: right;
}

.shadow {
	padding: 3px;
	background: #d0d0d0;
}

.shadow .content {
	border: solid 1px #006699;
	padding: 1px;
	margin: -5px 0 0 -5px;
	background: white;
	line-height: 20px;
}

.tipbor {
	border-bottom: dotted 1px #006699;
	padding: 5px;
	color: #006699
}

div.hr {
	border-bottom: solid 1px #f0f0f0;
	height: 1px;
}

#footer {
	text-align: center;
	font-size: 12px;
}

/* silver table */
table.silver {
	background: white;
	line-height: 20px;
	border: solid 1px #e2e2e2;
}

table.silver th {
	color: #006699;
	background: url(../easyui/js/themes/default/images/panel_title.png) 0
		-3px;
}

table.silver td {
	background: #f5f5f5;
}

table.silver td,table.silver th {
	padding: 1px 8px;
}

table.blue {
	background: white;
	line-height: 20px;
	border: solid 1px #e2e2e2;
}

table.blue th {
	color: #006699;
	background: url(../easyui/js/themes/default/images/panel_title.png) 0
		-3px;
}

table.blue td {
	background: #f0f0f0;
	color: #006699;
}

table.blue td,table.blue th {
	padding: 1px 8px;
}

/* ul */
ul.listlit {
	list-style: none;
	margin: 5px 12px;
	padding: 0;
	line-height: 20px;
}

ul.listlit li {
	margin: 5px 0 10px 0;
}

ul.listlit li b {
	color: green;
}

span.td {
	display: block;
	float: left;
	width: 100px;
	text-align: left;
}