<!DOCTYPE html>
<html>
<head>
    <title>分类管理</title>
    <link href="{{.static_serve}}/css/partner/common.css" rel="stylesheet" type="text/css" />
    <link href="{{.static_serve}}/css/partner/partner.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="form margin30" id="form1">

    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>分类名称：</div>
        <div class="in">
            <input type="hidden" field="Id" value="0" />
            <input type="hidden" field="ParentId" value="0"/>
            <input type="text" field="Name" class="ui-validate" required="true" />
        </div>
    </div>

    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>上级分类：</div>
        <div class="in">
            <select class="ui-validate" field="ParentId">
                <option value="0">一根目录一</option>
                {{.cate_opts}}
            </select>
        </div>
    </div>

    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>是否启用：</div>
        <div class="in">
            <input type="radio" name="Enabled" field="Enabled" value="true" id="State1" checked="checked"/><label for="State1">启用</label>
            <input type="radio" name="Enabled" field="Enabled" value="false" id="State2"/><label for="State2">停用</label>
        </div>
    </div>
    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>排序：</div>
        <div class="in">
            <input class="ui-validate" field="OrderIndex" required="true" isnumber="true" style="width:30px" value="0"/>
            * 排序数字，越小排列越靠前
        </div>
    </div>
    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>分类描述：</div>
        <div class="in">
            <textarea field="Description" class="ui-validate tb_normal" length="[0,150]" style="height:80px"></textarea>
        </div>
    </div>
    <div class="fl">
        <div class="label">&nbsp;</div>
        <div class="in">
            <input type="button" value=" 保存 " id="btn_save" />
            <input type="reset" value=" 重置 " />
        </div>
    </div>

</div>

<script src="{{.static_serve}}/assets/js/core_full.js"></script>
<script src="{{.static_serve}}/assets/js/plugins/sys.js"></script>

<script>
    var entity ={{.entity}} ||{};
    j6.json.bind('form1', entity);


    j6.$('btn_save').onclick = function() {
        if (j6.validator.validate('form1')) {
            var data = j6.json.toObject('form1');
            j6.xhr.jsonPost('SaveCategory', data, function(json) {
                window.parent.$.messager.alert('提示', json.result ? '保存成功！' : json.message, 'ok', function() {
                    j6.tab.closeAndRefresh('分类管理');
                });
            }, function(e) {
                window.parent.$.messager.alert('提示', " 保存失败！ ", 'error');
            });
        }
    }
</script>
</body>
</html>
