body {
    background:#e6e6e6 url(res/highlight-bg.jpg) 100px top no-repeat;
    margin:0;font-size:16px;font-family:'Microsoft YaHei','微软雅黒';
}
img{border:none;}
 
h1.title{width:600px;margin:0 auto;padding-top:150px;text-align:right;font-size:24px;
   font-weight:bold;color:#888;}
a{text-decoration:none;outline:none;color:#006699;}

.clear-fix{clear:both;zoom:1;}
.extra{width:600px;margin:0 auto;text-indent:-999em;height:180px;
  /*background:url(res/logo_login.png) center bottom no-repeat;*/}
  .main{min-height:200px;padding-top:30px;}
  .xhr-container{ display: none;}

.login-panel{margin:0 auto;opacity:0;filter:alpha(opacity=0);width:360px;}
.login-panel p{margin:0;padding:6px 0;}
.login-panel .panel{border:solid 1px #BBB;background:#E5E5E5;padding:0;box-shadow: 0 0 10px #DDD;}
.login-panel .panel .panel_con{background:#FFF;padding:20px 40px;box-shadow:0 1px 0 #EEE inset}
.login-panel #tip{border-bottom:dashed 1px #ddd;padding-bottom:10px;line-height:30px;font-size:12px;margin-bottom:20px;}


/*居中*/
div,input,span,select,textarea,label,img,b,a{ vertical-align: middle;}
/*验证无外框*/
*:required { /* insert your own styles for invalid form input */ -moz-box-shadow: none; box-shadow: none;}

.w50{ width: 50px;}
.w80{width:80px;}
.w100{ width: 100px;}
.w150{ width: 150px;}
.w200{ width: 200px;}

/*按钮*/
.ui-button{border:solid 1px #FFF;border-color: #ADB1B8 #A2A6AC #8D9096;border-radius:3px;display: inline-block;vertical-align:middle;}
.ui-button .button-inner{display:block;position: relative;background:#F0F0F0;border-radius:2px;
    background:transparent linear-gradient(to bottom, #F7F8FA, #E7E9EC);height:100%;
    box-shadow:0px 1px 0px rgba(255, 255, 255, 0.6) inset;}
.ui-button:hover .button-inner{background:transparent linear-gradient(to bottom, #E7E8EA, #D7D9DC)}
.ui-button .button-txt{padding:0 5px;display:block;line-height: 29px;text-align:center;color:#111;}
.ui-button a,.ui-button input{display:block;position: absolute;left:0;top:0;width:100%;height:100%;opacity:0.01;filter: alpha(opacity=1);cursor: pointer;}
.small-button .button-txt{line-height:18px;padding:0 5px;}
.middle-button .button-txt{ line-height: 24px;overflow: hidden;}
/* 输入框 */
.ui-box{border:solid 1px #888;border-radius: 2px;line-height:1.5rem;padding:0 10px;margin:1px;
    box-shadow: 0px 1px 0px #DDD inset; background:#F7F8F9;border-color: #AAA #A0A0A5 #AAA;}
.ui-box:focus{border:solid 1px #0a0;margin:1px;}
input.ui-box,select.ui-box{ height: auto;height:1.5rem;}


.verify-panel{position: relative;}
.verify-panel .verify{width:90px;padding:2px 0 1.5px 0;top:7px;left:160px;
    border:solid 1px #888;border-radius:0 2px 2px 0;cursor:pointer;position:absolute;
    background-color: #FFF;}
.verify-panel input.box{border-radius:2px 0 0 2px;width:60px;}

span.txt{width:80px;display:inline-block;text-align:center;font-size:12px;color:#333;}
div#bottom{text-align:center;color:#666;font-size:12px;line-height:40px;}
  