body {
    background:#e6e6e6 url(res/highlight-bg.jpg) 100px top no-repeat;
    margin:0;font-size:16px;font-family:'Microsoft YaHei','微软雅黒';
}
img{border:none;}
 
h1.title{width:600px;margin:0 auto;padding-top:150px;text-align:right;font-size:24px;
   font-weight:bold;color:#888;}
a{text-decoration:none;outline:none;color:#006699;}

  .clearfix{clear:both;zoom:1;}
  .extra{width:800px;margin:0 auto;height:220px;text-indent:-999em;
         background:url(res/logo_login.png) left center no-repeat;}
  .main{min-height:200px;background:#e5e5e5;}
  .main .container{width:800px;margin:0 auto;}
  .main .bar{background:#666;height:50px;border-bottom:solid 1px #333;}
  .main .container{margin-top:-55px;}

  .main .selectTabs ul{margin:0;padding:0;list-style:none;}
  .main .selectTabs li{float:left;}
.main .selectTabs li{padding:0 50px;}
.main .selectTabs li a {
    font-size: 20px;
    line-height: 54px;
    text-decoration: none;
    color:#fff;
}
.main .selectTabs li.current{
    background:#e5e5e5;color:#333;
    border:solid 1px #333;border-bottom:none;
}
.main .selectTabs li.current a{color:#333;}
p#tip{padding-left:15px;border:solid 1px #ff6600;background:orange;width:450px;line-height:30px;margin-top:20px;}

input.input,input.input2{ border:solid 2px #666;line-height:30px;height:30px;font-size:14px;font-weight:bold;}
input.input{width:200px;padding:0 5px;}
input.input2{width:40px; background-position:-140px -200px;}


span.txt{width:100px;display:inline-block;text-align:center;}
.loginbtn{background:#333;color:#fff;padding:0 30px;line-height:30px;display:inline-block;}
.loginbtn:hover{background:#000;}
span.verify{width:60px;padding:4px 33px;border:solid 2px #666;cursor:pointer;}
 div#bottom{text-align:center;color:#888;font-size:12px;line-height:30px;}
  