 /* 此文件由系统自动生成,所有样式表请引用此文件!*/
/* 所有样式表请引用此文件 */

/* 此文件由系统自动生成! */

/* @ ELEMENTS */
/*{vertical-align:middle;}*/
img{border:none;}
ul{list-style:none;}
a{color:#0066cc;outline:none;}
a:hover{color:#006699;}
/* @SELECTOR STYLE */
.left{float:left;}
.right{float:right;}
.center{text-align:center;}
.clear{clear:both;}
.overflow{overflow:hidden;}
.hidden{display:none;}
.clearfix{clear:both;} /*用于清除浮动*/
.pxh0{height:0px;}
.hight_light,.search_hightlight,.special{color:Red;}
.tleft{text-align:left;}


/* @元素样式表  (2012-03-04) */
body{font:70% Arial,Sans-Serif;}

/* @头部 */
#header{position:relative;}
#header h1{overflow:hidden;margin:0;padding:0;}
#header a.logo{display:block;background:white;}

/* Container */
.container{overflow:hidden;margin:0 auto;}
.container .side{float:left;padding-bottom:3000px;margin-bottom:-3000px;}
.container .main{width:auto;padding-bottom:3000px;margin-bottom:-3000px;}
.container .side2{float:right;padding-bottom:3000px;margin-bottom:-3000px;}

/* @导航条 */
#navigator{clear:both;position:relative;z-index:200;}
#navigator .navs ul{margin:0;padding:0;list-style:none;}
#navigator .navs li{float:left;line-height:20px;position:relative;}
#navigator .navs li .child{left:0;top:20px;position:absolute;display:none;z-index:201}
#navigator .navs li.f .child,#navigator .navs li:hover .child{display:block;}
#navigator .child .menu li{float:none;background:none;}


/* @栏目导航 */
ul.clist{list-style:none;}
ul.clist li.current{}

/* @文档导航 */
ul.alist{list-style:none;}
ul.alist li.current{}


/* @文档列表 */
.archives{list-style:none;margin:0;padding:0;}
.archives li{margin:1px 0;}
.archives li .date{display:none;}
.archives li a.special,ul.archives span.special{color:Red;}
 
 /* @分页列表 */
.palist .item{position:relative;font-size:12px;}
.palist .item .title{margin-bottom:3px;font-size:14px;}
.palist .item .thumb,.palist .item .thumbnail{float:left;margin-right:10px;}
.palist .item .outline{padding-left:5px;}
.palist .item .time{position:absolute;right:0;top:0;}
.palist .item .count{position:absolute;right:80px;top:0;}

/* @搜索列表 */
.salist .item{position:relative;font-size:12px;}
.salist .item a.title{display:block;margin-bottom:3px;font-size:14px;}
.salist .item img.thumb,.salist .item .thumbnail{float:left;margin-right:10px;}
.salist .item .outline{padding-left:5px;}
.salist .item .category{position:absolute;top:0;right:150px;}
.salist .item .time{position:absolute;right:0;top:0;}
.salist .item .count{position:absolute;right:80px;top:0;}
.salist span.search_hightlight{color:Red;}
 
/* 分页控件样式 */
.pagerwrap .disabled{padding:2px 5px;color:#666;margin:0 2px;}
.pagerwrap .current{padding:2px 1px;margin:0 2px;color:black;}
.pagerwrap input{width:30px;line-height:15px;}
.pagerwrap select{height:20px;overflow:hidden;line-height:18px;background:white;}
.pagerwrap a{padding:2px 1px;margin:0 2px;text-decoration:none;outline:none;}
/*
.pagerwrap{position:relative;}
.pagerwrap .pageinfo{position:absolute;right:0;top:0;} 
 */


/* @文档 */
.archive{position:relative;}
.archive h1,.archive .title{font-size:16px;font-family:'微软雅黑';margin:10px 0;text-align:center;}
.archive .meta{text-align:center;padding-bottom:10px;margin-bottom:10px;border-bottom:dotted 1px #e0e0e0;color:#666;font-size:12px;}
.archive .meta span{color:#000;}
.archive .outline{border:solid 1px #e5e5e5;padding:10px;margin:0 10px;background:#f0f0f0;text-indent:2em;}
.archive .relation{font-size:12px;text-align:center;}

/* @slider */
.scrollbar{background:#d0d0d0;width:8px;}
.scrollbar .bar{background:#cc6600;}

.ui-scrollbar{overflow:hidden;}

/* @dialog */
.ui-dialog .bglayer{background:black;opacity:0.6;filter:alpha(opacity=60);}
.ui-dialog .box{border:solid 3px #6699cc;background:white;padding:5px;}
.ui-dialog .box .title{font-size:14px;font-weight:bold;color:#006699;background:#f5f5f5;padding:0 10px;line-height:25px;border-bottom:solid 1px #e5e5e5;margin:-5px -5px 5px -5px;}
.ui-dialog .box .close{padding:0 5px;font-weight:normal;}
.ui-dialog .box .bottom{display:none;}


/* ===================== 初始化样式 ============================= */

#navigator .child ul.menu{margin:0;padding:0;list-style:none;}
#navigator .child ul.menu a{display:block;background:#666;}
#navigator .child ul.menu a:hover{background:#000;}
