<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>商品管理</title>
    <link rel="stylesheet" type="text/css" href="{{.static_serve}}/assets/easyui/themes/gray/easyui.css">
    <link rel="stylesheet" type="text/css" href="{{.static_serve}}/assets/easyui/themes/icon.css">
    <link  rel="stylesheet" type="text/css" href="{{.static_serve}}/css/partner/partner.css"/>
	
	</head>
<body class="easyui-layout">

<div region="center">
	<div id="dg"></div>
	<div class="toolBar">
    <div class="search_bar padding2" id="search_bar">
        <ul>
        	<li>
        		<a class="easyui-linkbutton" iconcls="icon-add" id="btnAdd">
        		<span class="icon"></span>创建商户</a>
        	</li>
            <li class="hidden">
                <span class="title">状态：</span>
				<select field="state">
					<option value="-100">一所有一</option>
					<option value="1">正常</option>
					<option value="0">停用</option>
					<option value="2">暂停营业</option>
				</select>
            </li>
            <li>
                <span class="title">关键字：</span>
                <input type="text" field="keyword" />
            </li>
            <li>
                <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="btnSearch">
                <span class="icon"></span>搜索</a>
            </li>

        </ul>
        <div class="clearfix"></div>
    </div>
        <div class="clearfix"></div>
</div>
</div>

<script type="text/javascript"  src="{{.static_serve}}/assets/js/core_full.js"></script>
<script type="text/javascript" src="{{.static_serve}}/assets/easyui/jquery.min.js"></script>
<script type="text/javascript" src="{{.static_serve}}/assets/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="{{.static_serve}}/assets/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript"  src="{{.static_serve}}/assets/js/export.js"></script>
<script type="text/javascript"  src="{{.static_serve}}/assets/js/plugins/sys.js"></script>
	


<script type="text/javascript">
expr.ele = 'search_bar';
expr.portal = 'Master.PartnerList'; //配置导出的入口
expr.checkParams = function (data) {
    return true;
};

window.refresh = function () {
 expr.reload('dg');
};

j6.$('dg').style.height = j6.screen.height() + 'px';

$(function () {

    //导出
    $('#btnExport').click(
        function () {
            expr.showExportDialog();
        });

    j6.$('btnSearch').onclick=function () {
            expr.search('dg');
        };


    //加载数据
    $('#dg').datagrid({
        toolbar: '.toolBar',
        singleSelect: !false,
        pagination: true,
        rownumbers: true,
        fitColumns: true,
        url: expr.getDataUrl(),
        columns: [
            [
                { field: 'name', title: '商户名称', align: 'center', width: 120 },
                { field: 'usr', title: '用户名', align: 'center', width: 80 },
                { field: 'tel', title: '电话', align: 'center', width: 120,formatter:function(v,r){
                    return "座机："+v+"<br />手机："+(r.phone || '-');
                } },
                { field: 'address', title: '地址',align: 'center'},
                { field: 'expires_time', title: '账号状态', align: 'center', width: 80,formatter:function(v,r){
                    return v > Math.round(new Date().getTime()/1000)?"正常":'<span style="color:red">过期</span>';
                } },
                { field: 'shop_num', title: '门店数量', align: 'center', width: 100,formatter:function(v,r){
                    return '<a href="#">'+v+'</a>';
                } },
                { field: 'login_time', title: '最后登陆时间', align: 'center', width: 80,formatter:function(v){
                    return unix2str(v);
                } },
                { field: 'Id', title: '操作',align: 'center', width: 120,formatter:function(val,row){
                	return '<a href="javascript:;" class="btn btn-short" onclick="editRec('+row.id+')">配置</a>'+
                            '<a href="javascript:;" class="btn btn-short" onclick="void('+row.id+')" title="查看登陆时间。等">详情</a>';
                } },
            ]
        ]
    });
});

j6.$('btnAdd').onclick=addRec;

function addRec(){
    j6.tab.open('创建商户', 'partner/createPartner', true);
}

function editRec(id){
    j6.tab.open('商户配置', 'partner/PartnerConf?id='+id, true);
}

function delRec(id) {
 window.parent.$.messager.confirm('提示', '删除后不可恢复，您确定要继续吗？', function(result) {
        if (result) {
            j6.xhr.jsonPost('/a/DelPartner', { id: id }, function(json) {
                if (json.result) {
                	window.refresh()
                }
            });
        }
    });
}
</script>

</body>
</html>