{{template "header".}}

    <div id="main" class="panel">
        <div class="clearfix sitemap">»&nbsp;网站首页 > 会员注册</div>
        <div id="regpanel" class="reg-panel">
            <h1>注册会员</h1>

            <form method="post">
                <div class="rp-i">
                    <div class="label">用户名：</div>
                    <div class="in">
                        <input class="input ui-validate" type="text" field="Usr" id="username"
                               summary="{'0':'用户名不能为空','1':'必须以字母开头','2':'用户名长度为4-15位','3':'必须为字母或数字的组合','4':'用户名已被占用'}"/>
                        <div>
                            <span class="tip">用户名为4-15位的数字和字母的组合</span>
                            <p style="font-size:12px;color:red;">建议您将手机号码作为用户名，更容易记住不被遗忘！</p>
                        </div>
                    </div>
                </div>

                <div class="rp-i">
                    <div class="label">密码：</div>
                    <div class="in">
                        <input class="input ui-validate" type="password" field="Pwd" id="password"
                               summary="{'0':'密码不能为空','1':'首尾不能为下划线','2':'密码长度为6-12位','3':'格式输入有误'}"/>
                        <div>
                        <span class="tip">为保证帐号安全，请使用较为复杂的密码</span>
                        </div>
                    </div>
                </div>

                <div class="rp-i">
                    <div class="label">重复密码：</div>
                    <div class="in">

                    <input class="input ui-validate" type="password" id="repassword" />
                        <div><span class="tip">再输入一遍密码</span></div>
                     </div>
                </div>

                <div class="rp-i">
                    <div class="label">姓名：</div>
                    <div class="in">
                        <input class="input ui-validate" type="text" regex="^[\u4e00-\u9fa5]{0,4}$" id="nickname" field="Name"
                               summary="{'length':'姓名长度为2-4位'}" />
                    </div>
                </div>

                <div class="rp-i">
                    <div class="label">性别：</div>
                    <div class="in">
                    <input type="radio" field="sex" name="sex" value="male" checked="checked"/>男&nbsp;<input field="sex" type="radio" name="sex" value="female"/>女
                    </div>
                </div>

                <div class="rp-i">
                    <div class="label">手机号码：</div>
                    <div class="in">
                    <input class="input ui-validate" type="text" id="phone" field="Phone"
                           summary="{'0':'手机号码不正确','1':'手机号码已被使用','2':'手机号码不能为空'}"/>
                        <div><span class="tip">送餐联系电话,请正确填写</span></div>
                    </div>
                </div>

                <div class="rp-i hidden">
                    <div class="label">地址：</div>
                    <div class="in">
                    <input class="input ui-validate" type="text" id="address" field="Address"
                           summary="{'0':'地址不能为空'}" />
                        <div>
                        <span class="tip">如：上海市徐汇区斜土路300号飞雕大厦1201室</span>
                        </div>
                     </div>
                 </div>

                </p>
                <div class="rp-i hidden">
                    <div class="label">推荐人用户名:</div>
                    <div class="in">

                    <input class="input ui-validate" type="text" id="tguser" name="tguser"
                           summary="推荐人{0:错误或数量已达上限,1:不能为空}"/>
                        <div>
                            <span class="tip">填写推荐人的用户名,如无推荐人请填写<b style="color:#006699">lin</b></span>
                        </div>
                    </div>
                </div>

                <div class="rp-i">
                    <div class="label"></div>
                    <div class="in">

                    <input type="button" value="&nbsp;注册&nbsp;" class="btn" do="register" id="btn_register"/>&nbsp;
                    <input type="reset" value="&nbsp;重置&nbsp;"/>
                    </div>
                </div>
            </form>
            <script type="text/javascript" src="{{.static_serv}}/assets/js/core.js?hover=navi&amp;ver={{.version}}"></script>
            <script type="text/javascript" src="{{.static_serv}}/assets/js/lib/form.js?{{.version}}"></script>
            <script type="text/javascript" src="{{.static_serv}}/assets/js/member/register.js?{{.version}}"></script>
            <script type="text/javascript" src="{{.static_serv}}/assets/js/ppc.js?{{.version}}"></script>
        </div>
        </div>
    </div>

    <div style="height:50px"></div>

        <script type="text/javascript">

        </script>

{{template "footer".}}
