<!DOCTYPE html>
<head>
    <title>订单返现_{{.Map.partner.Name}}</title>
    <link rel="StyleSheet" type="text/css" href="{{.Var.static_serve}}/css/page.css?v={{.Var.version}}"/>
    <link rel="StyleSheet" type="text/css" href="{{.Var.static_serve}}/css/ucenter/pc/ucenter.css?v={{.Var.version}}"/>
</head>
<body>

{{template "header"$}}
<div class="panel page-main">
    <div class="side">
        {{template "menu"}}
    </div>


<div class="main">


    <h1>我的积分</h1>

    <div class="line"></div>

    <div class="summary">当前积分：<b>{{.Map.account.Integral}}</b></div>
    <br /><br />

    <h1>可兑换的商品</h1>
    <div class="line"></div>
    备货中...

</div>
</div>

{{template "footer"$}}
</body>
</html>