<!DOCTYPE html>
<head>
    <title>配送地址_{{.Map.partner.Name}}</title>
    <link rel="StyleSheet" type="text/css" href="{{.Var.static_serve}}/css/page.css?v={{.Var.version}}"/>
    <link rel="StyleSheet" type="text/css" href="{{.Var.static_serve}}/css/uc/pc/ucenter.css?v={{.Var.version}}"/>
</head>
<body>

{{template "header"$}}

<div class="panel page-main">
    <div class="side">
        {{template "menu"}}
    </div>

    <div class="main">
        <h1>个人资料</h1>
        <div class="line"></div>

        <div id="dg" class="ui-table"></div>


        <template id="addressTpl">
            <div class="form" id="form-deliver">
                <input type="hidden" field="Id" value="0"/>
                <div class="fl">
                    <div class="label">收货人：</div>
                    <div class="in">
                        <input class="input ui-validate" type="text" regex="^[\u4e00-\u9fa5]{2,4}$" field="RealName"
                               summary="{'regex':'姓名为2-4位中文'}" />
                    </div>
                </div>

                <div class="fl">
                    <div class="label">电话：</div>
                    <div class="in">
                        <input class="input ui-validate" regex="^(13[0-9]|15[0|1|2|3|4|5|6|8|9]|18[0|1|2|3|5|6|7|8|9]|17[0|6|7|8]|14[7])(\d{8})$" field="Phone"
                               summary="{'regex':'手机号码不正确','required':'手机号码不能为空'}"/>
                        <div><span class="tip">请正确填写</span></div>
                    </div>
                </div>

                <div class="fl">
                    <div class="label">地址：</div>
                    <div class="in">
                        <input class="input ui-validate" required="true" field="Address" style="width:300px"
                               summary="{'0':'地址不能为空'}" />
                    </div>
                </div>

                <div class="fl">
                    <div class="label"></div>
                    <div class="in">
                        <input type="button" value="&nbsp;确定&nbsp;" onclick="saveDeliveAddr()"/>&nbsp;
                        <input type="reset" value="&nbsp;取消&nbsp;" onclick="toggleNewAdd()"/>
                    </div>
                </div>

            </div>
        </template>

        <div id="address_panel">

        </div>

        <div class="clearfix"></div>

        <div class="btn_new_address" id="btn_new_address" style="margin:20px 8px;">
            <a class="button" href="javascript:;">+添加新的收货地址</a>
        </div>


        <div id="new_panel"></div>

    </div>
</div>


<script type="text/javascript" src="{{.Var.static_serve}}/assets/js/core_full.js?ver={{.Var.version}}"></script>


<script type="text/javascript">
    var addrs = {};
    var numIdx = 0;
    var _dg = jr.grid('dg', {
        url: location.href,
        data: {page:jr.request('page')||1,size:10},
        idField: 'id',
        columns: [
            { field: 'Id', title: '编号', width: 30,align:'center',
                formatter:function(){
                return ++numIdx;
            }},
            { field: 'RealName', title: '收货人', width: 80,align:'center'},
            { field: 'Phone', title: '联系电话', width: 120,align:'center'},
            { field: 'Address', title: '送货地址',align:'center'},
            {
                field: 'Id', title: '', width: 80, align: 'center',
                formatter: function (val, row, index) {
                    return '<a href="javascript:editAddr('+val+')">编辑</a> | '+
                            '<a href="javascript:delAddr('+val+')">删除</a>'
                }
            }
        ],
        loaded: function (data) {
            addrs = data.rows;
            var tables = document.getElementsByTagName('TABLE');
            jr.table.dynamic(tables[1], false);
            tables[1].className= '';
        }
    });
    _dg.resize();


    var addressTpl = jr.$('addressTpl').innerHTML;
    var newPanel = jr.$('new_panel');

    function toggleNewAdd(){
        jr.animation.toggleHeight(newPanel,null,25);
    }
    jr.$('btn_new_address').onclick=function(){
        jr.json.bind(newPanel,{Id:0,Address:'',RealName:'',Phone:''});
        if(newPanel.offsetHeight == 0){
            toggleNewAdd();
        }
    }

    function newAddr(show) {
        jr.style(newPanel, {display: 'none'});
        newPanel.innerHTML = addressTpl;
        jr.validator.init();
    }

    newAddr();

    function editAddr(id){
        for(var i=0;i<addrs.length;i++){
            if(addrs[i].Id == id){
                jr.json.bind(newPanel,addrs[i]);
                if(newPanel.offsetHeight == 0){
                    toggleNewAdd();
                }
                break;
            }
        }
    }

    function saveDeliveAddr(){
        if(jr.validator.validate('form-deliver')){
            var d = jr.json.toObject('form-deliver');
            jr.xhr.jsonPost('saveDeliver',d,function(json){
                if(json.result){
                    loadDeliver('deliver-panel');
                }else{
                    alert(json.message);
                }
            },function(){});
        }
    }

    function loadDeliver(id){
        location.reload();
    }

    function delAddr(id){
        if(confirm('确定要删除配送地址吗？')) {
            jr.xhr.jsonPost('deleteDeliver', {id: id}, function (json) {
                if (json.result) {
                    location.reload();
                } else {
                    alert(json.message);
                }
            });
        }
    }

</script>

{{template "footer"$}}

</body>
</html>