{{define "footer"}}
    <div class="clearfix"></div>
    <div class="page-footer">
        <div class="line" style="height:0"></div>
        <div class="panel">
            2014 &copy;{{.Map.partner.Name}}&nbsp;版权所有

            &nbsp;&nbsp;
            <strong>
                <a href="/change_device?device=1">电脑版</a>&nbsp;&nbsp;
                <a href="/change_device?device=3">触屏版</a>
            </strong>
        </div>
    </div>

    <script type="text/javascript">
      var menus = jr.$('navs').getElementsByTagName('A');
      for(var i=0;i<menus.length;i++){
        var e = menus[i];
        if(location.href.indexOf(e.href)!=-1){
            e.parentNode.className='current';
            for(var j=0;j<menus.length && j!= i;j++) {
                e.parentNode.className = '';
            }

            break;
        }else{
        }
      }
  </script>

{{end}}