{{define "header"}}

<div class="page-top">
    <div class="panel">
        <span class="left">

        </span>
        <span class="right links">
             <div class="usr">
            欢迎您：
            <span id="usrinfo">{{.Map.member.Name}}</span>
            &nbsp;[
            <a href="/logout">退出</a>
            ]
            </div>
        </span>
        <div class="clearfix"></div>
        <div class="top-attach hidden"></div>
    </div>
</div>


<div class="page-header">
    <div class="panel">
        <a href="javascript:;" class="logo">
            <img src="{{.Var.img_serve}}/{{.Map.conf.Logo}}" alt="{{.Map.partner.Name}}" />
            <h1>{{.Map.partner.Name}}</h1>
        </a>
        <span class="right">
        </span>
        <div class="clearfix"></div>
    </div>
</div>
<div id="navigator" class="page-navigator">
    <div class="left"></div>
    <div class="right"></div>
    <div class="navs">
        <div class="current"></div>
        <ul>
            <li>
                <a href="/" title="首页">首页</a>
            </li>
            <li>
                <a href="http://{{.Map.conf.Host}}/?go=buy" target="_blank">在线订餐</a>
            </li>
            <li>
                <a href="javascript:;">账户充值</a>
            </li>
            <li>
                <a href="http://member.{{.Var.domain}}/account/integral_exchange">积分兑换</a>
            </li>
            <li>
                <a href="http://{{.Map.conf.Host}}/service">客户服务</a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
{{end}}