.tab-box{background:#fff;padding:10px; display:none; border-right:1px solid #e4e4e4;border-left:1px solid #e4e4e4;border-bottom:1px solid #b5bfd7;}
.tab-box p{margin-left:-5px; width:100%; overflow:hidden; margin-bottom:10px;}
.tab-box p a{float:left;width:36px; height:34px; line-height:34px; text-align:center; overflow:hidden;font-size:20px; color:#747474; border:1px solid #e1e1e1; background:#f0f0f0; margin:5px 0 0 5px; background:-moz-linear-gradient(top, #fff,#f0f0f0);background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f0f0f0));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff,endColorstr=#f0f0f0,grandientType=1);}
.letter-title { margin-bottom:10px; height:34px; line-height:34px; overflow:hidden; background:#e6e6e6; color:#455a8c; font-size:16px;}
.letter-title b{ display:block; float:left; background:#394d7c; text-align:center; width:66px; height:100%; color:#fff;  overflow:hidden; }
.letter-title a{ float:right; margin-right:10px; color:#455a8c;}
.letter-title .arrow2-top:before{ background:#7f90ba;}
.letter-title .arrow2-top{ border-bottom:6px solid #7f90ba;border-left:6px solid rgba(0, 0, 0, 0);border-right:6px solid rgba(0, 0, 0, 0); margin-bottom:6px; margin-left:3px;}
.brand{ overflow:hidden; margin-bottom:10px;}
.brandbox{margin-left:-1px; overflow: hidden;}
.brandbox a{padding:0; display:block;float:left; border-bottom:1px dotted #d7d7d7;}
.brandbox a i{ border-left:1px dashed #d7d7d7; display:block; padding:10px;}
.brandbox a img{display:block; border:0; height:auto;max-width:100px;width:100%;}
.tab-box2 p a{ width:70px;font-size:14px;}
.tab-box2 .letter-title b{width:70px;}

.brands{overflow:hidden;margin:0 12px 12px 12px;}
.brands div{margin-left:-1px;margin-bottom:-1px;}
.brands a{float:left;border-bottom:1px dashed #d7d7d7;padding:0;width:25%;}
.brands img{display:block;border:0;max-width:100px;width:100%;height:auto;}
.brands i{display:block;border-left:1px dashed #d7d7d7;padding:10px;}