{{$img_serve:=.img_serve}}
<!doctype html>
<html>
<head>
    <title>购物车</title>
    <meta charset="utf-8">
    <meta content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;"/>
    <!--离线应用的另一个技巧-->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <!--指定的iphone中safari顶端的状态条的样式-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <!--告诉设备忽略将页面中的数字识别为电话号码-->
    <meta content="telephone=no" name="format-detection" />
    <link type="text/css" rel="stylesheet" href="{{.static_serve}}/css/mos/default/css/com/com.css"/>
    <link type="text/css" rel="stylesheet" href="{{.static_serve}}/css/shop/mobi/stand.css"/>
</head>
<body>

    {{template "header" $}}


    <div class="cart-summary">
        <div id="cart-panel" class="cart-panel">
            <div class="cart"></div>
            <div class="submit">
                <a class="btn btn-orange" href="javascript:;" id="btn_settle">结算订单</a>
            </div>
            <div class="clearfix"></div>
        </div>


    </div>

    {{template "footer" $}}

    <script src="{{.static_serve}}/css/mos/default/js/jquery.js"></script>
    <script src="{{.static_serve}}/css/mos/default/js/com/com.js"></script>
    <script src="{{.static_serve}}/css/mos/default/js/com/template.js"></script>
    <script src="{{.static_serve}}/assets/js/core.js"></script>
    <script src="{{.static_serve}}/assets/js/shopping_cart.js"></script>

    <script type="text/javascript">
        window.cart.init('cart-panel', function (c) {

        });
        setInterval(function(){$('#header-cart-num').html(cart.totalNum);},500)

        $JS.$('btn_settle').onclick=function(){
            location.href='/buy/confirm';
        }
    </script>
</body>
</html>
