{{$img_serve:=.img_serve}}
<!doctype html>
<html>
<head>
    <title>商品详情</title>
    <meta charset="utf-8">
    <meta content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;" id="viewport" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link type="text/css" rel="stylesheet" href="{{.static_serve}}/css/mos/default/css/com/com.css?spam={{.spam}}"/>
    <link type="text/css" rel="stylesheet" href="{{.static_serve}}/css/shop/touchpad/stand.css?spam={{.spam}}"/>
</head>
<body>

    {{template "header" $}}



    <div class="item-details">
        <p class="gallery">
            <img src="{{.goods.Image}}" alt="{{.goods.Name}}" width="320"/>
        </p>
        <div class="line"></div>
        <p class="line price">
           <span class="sale-price">
               {{.sale_price}}
           </span>
            {{.prom_price}}
        </p>
        <div class="prom-panel {{.prom_cls}}">
            <table cellspacing="0">
                <tr>
                    <td class="txt">促<br />销</td>
                    <td class="list">
                        {{.prom_describe}}</td>
                </tr>
            </table>
        </div>
        <p class="title">
            {{.goods.Name}}
        </p>



       <div class="control">
           购买<input id="buyNum" type="text" class="box buyNum" datatype="number" value="1" style="width:30px"/>&nbsp;件
           / <b>库存：</b>{{.goods.StockNum}}&nbsp;件
           <br />
           <div class="buy_panel">
               <a class="btn btn-orange btn_add_cart" href="javascript:;" id="btn_add_cart">加入购物车</a>
               <a class="btn btn-green btn_view_cart" href="/cart" id="btn_view_cart">查看购物车</a>
           </div>
       </div>

   </div>

    <div class="ording-summary hidden">
        <div id="cart-panel" class="cart-panel">
            <h3>我的购物车</h3>
            <div class="cart"></div>
            <div class="submit">
                <a class="green_btn" href="/buy/"><span>提交订单</span></a>
            </div>
        </div>
    </div>

    {{template "footer" $}}


    <script src="{{.static_serve}}/css/mos/default/js/jquery.js?spam={{.spam}}"></script>
    <script src="{{.static_serve}}/css/mos/default/js/com/com.js?spam={{.spam}}"></script>
    <script src="{{.static_serve}}/css/mos/default/js/com/template.js?spam={{.spam}}"></script>
    <script src="{{.static_serve}}/assets/js/core.js?spam={{.spam}}"></script>
    <script src="{{.static_serve}}/assets/js/shopping_cart.js?spam={{.spam}}"></script>

    <script type="text/javascript">
        window.cart.init('cart-panel',function(c){
            $('#header-cart-num').html(c.total_num);
        });
        $('#btn_add_cart').click(function(){
            var num = parseInt($('#buyNum').val());
            var goodsId = {{.goods.GoodsId}};
            window.cart.add(goodsId,num,function(c){
                j6.tipbox.show("加入购物车成功!",100, 3000, 'up',0.8);
                $('#header-cart-num').html(window.cart.totalNum);
            });
        });
    </script>
</body>
</html>
