{{$img_serve:=.img_serve}}
<!doctype html>
<html>
<head>
    <title>会员登陆</title>
    <meta charset="utf-8">
    <meta content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;" id="viewport" name="viewport" />
    <!--离线应用的另一个技巧-->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <!--指定的iphone中safari顶端的状态条的样式-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <!--告诉设备忽略将页面中的数字识别为电话号码-->
    <meta content="telephone=no" name="format-detection" />
    <link type="text/css" rel="stylesheet" href="{{.static_serve}}/css/mos/default/css/com/com.css?spam={{.spam}}"/>
    <link type="text/css" rel="stylesheet" href="{{.static_serve}}/css/shop/app_embed/stand.css?spam={{.spam}}"/>
</head>
<body>

    {{template "header" $}}


    <div class="panel login-panel form" id="form1">


                <div class="tip-panel{{.tipStyle}}" id="tip">
                    请登录后继续操作!
                </div>

                <div class="fl">
                    <div class="label">用户名：</div>
                    <div class="in">
                        <input field="usr" id="username" type="text" class="box ui-validate"
                               required="true" summary="{required:'请输入用户名'}" />
                    </div>
                </div>

                <div class="fl">
                    <div class="label">密码：</div>
                    <div class="in">
                        <input field="pwd" type="password" class="box ui-validate"
                               required="true" summary="{required:'请输入密码'}" />
                    </div>
                </div>

                <div class="fl">
                    <div class="label"></div>
                    <div class="in">
                        <a href="javascript:;" class="btn btn-orange" id="btn_login">登陆</a>
                        <a href="javascript:;" class="btn btn-orange" id="btn_forget" onclick="alert('请拨打客服电话联系重置密码')">忘记密码</a>
                    </div>
                </div>



            <div class="clearfix"></div>
            <div class="login-left-note">还没有账号？点击<a href="/user/register.htm">这里</a>进行注册！</div>


        </div>


    {{template "footer" $}}


    <script src="{{.static_serve}}/css/mos/default/js/jquery.js?spam={{.spam}}"></script>
    <script src="{{.static_serve}}/css/mos/default/js/com/com.js?spam={{.spam}}"></script>
    <script src="{{.static_serve}}/css/mos/default/js/com/template.js?spam={{.spam}}"></script>
    <script src="{{.static_serve}}/assets/js/core.js?spam={{.spam}}"></script>
    <script type="text/javascript" src="{{.static_serve}}/assets/js/lib/form.js?spam={{.spam}}"></script>

    <script type="text/javascript">
        var tip = j6.$('tip');
        document.body.onkeydown = function (e) {
            var event = window.event || e;
            if (event.keyCode == 13) {
                login();
            }
        };
        function login() {
            var data = j6.json.toObject('form1');
            if (j6.validator.validate('form1')){
                j6.xhr.jsonPost(location.href, data, function (json) {
                    if (json.result) {
                        window.parent.location.replace(decodeURIComponent(j6.request('return_url')||'/'));
                    }else {
                        if (json.message.indexOf('验证码') != -1) {
                            refreshImage();
                        }
                        tip.className= 'tip-panel';
                        tip.innerHTML = '<span style="color:red">' + json.message + '</span>';
                    }
                }, function (x) {
                    tip.className= 'tip-panel';
                    tip.innerHTML = '<span style="color:red">登陆服务器失败请重试!</span>';
                });
            }
        }

        j6.$('btn_login').onclick=login;
    </script>
</body>
</html>
