<!DOCTYPE html>
<head>
    <title>订单返现_{{.partner.Name}}</title>
    <link rel="StyleSheet" type="text/css" href="{{.static_serve}}/css/page.css?v={{.version}}"/>
    <link rel="StyleSheet" type="text/css" href="{{.static_serve}}/css/ucenter/pc/ucenter.css?v={{.version}}"/>
</head>
<body>

{{template "header"$}}
<div class="panel page-main">
    <div class="side">
        {{template "menu"}}
    </div>


<div class="main">


    <h1>订单返现</h1>

    <div class="line"></div>

    {{if .record}}
        <div id="dg" class="ui-table"></div><div id="pager"></div>

        <script type="text/javascript" src="{{.static_serve}}/assets/js/core_full.js?ver={{.version}}"></script>
        <script type="text/javascript">
            var _dg = j6.grid('dg', {
                url: location.href,
                data: {page:j6.request('page')||1,size:10},
                idField: 'id',
                columns: [
                    { field: 'record_time', title: '产生时间', width: 120},
                    { field: 'fee', title: '收入金额', width: 80,align:'center'},
                    {

                        field: 'log', title: '详细', formatter: function (val, row, index) {
                            return val.replace("\n","<br />");

                    }
                    }
                ],
                loaded: function (data) {
                    var tables = document.getElementsByTagName('TABLE');
                    j6.table.dynamic(tables[1], false);
                    tables[1].className= '';

                    //加载分页
                    this.panel.nextSibling.innerHTML = data.text;

                }
            });
            _dg.resize();

            function gp(p){
                _dg.data.page = p;
                _dg.reload();
            }
        </script>
    {{else}}
        <div>无收入记录</div>
    {{end}}
</div>
</div>

{{template "footer"$}}

</body>
</html>