body {
    margin:0;font-size:12px;font-family:'Microsoft YaHei','微软雅黒';
    background:#4CA1CF;
}
img{border:none;}
.hidden{height:10px;}
h1.title{width:600px;margin:0 auto;padding-top:150px;text-align:right;font-size:24px;
   font-weight:bold;color:#888;}
p{margin:0;padding:0;}

.low-layout,.login-panel{width:200px;
    position:fixed;top:0;bottom:0;left:0;right:0;margin:auto;height:200px;
    border-radius:15px;
}
.low-layout{opacity:0.7;filter:alpha(opacity=70);background:#FFF;height:260px;width:280px;}

.login-panel #tip{line-height:30px;font-size:14px;}


/*居中*/
div,input,span,select,textarea,label,img,b,a{ vertical-align: middle;}
/*验证无外框*/
*:required { /* insert your own styles for invalid form input */ -moz-box-shadow: none; box-shadow: none;}

.w50{ width: 50px;}
.w80{width:80px;}
.w100{ width: 100px;}
.w150{ width: 150px;}
.w200{ width: 200px;}

/*按钮*/
.ui-button{border:solid 1px #FFF;border-color: #ADB1B8 #A2A6AC #8D9096;border-radius:3px;display: inline-block;vertical-align:middle;
    width:100%;font-size:1.2em;}
.ui-button .button-inner{display:block;position: relative;background:#F0F0F0;border-radius:2px;
    background:transparent linear-gradient(to bottom, #F7F8FA, #E7E9EC);height:100%;
    box-shadow:0px 1px 0px rgba(255, 255, 255, 0.6) inset;}
.ui-button:hover .button-inner{background:transparent linear-gradient(to bottom, #E7E8EA, #D7D9DC)}
.ui-button .button-txt{padding:0 5px;display:block;line-height: 29px;text-align:center;color:#111;}
.ui-button a,.ui-button input{display:block;position: absolute;left:0;top:0;width:100%;height:100%;opacity:0.01;filter: alpha(opacity=1);cursor: pointer;}
.small-button .button-txt{line-height:18px;padding:0 5px;}
.middle-button .button-txt{ line-height: 30px;overflow: hidden;}
/* 输入框 */
.ui-box{border:solid 1px #e1e1e1;line-height:1em;padding:5px 2%;
     background:#FFF;width:96%;margin-bottom:-1px;font-size:1.2em;}
.ui-box:focus{background:#FFE;}
input.ui-box,select.ui-box{ height: auto;height:1.5rem;}
.c1{text-align:center;font-size:24px;color:#000;margin-bottom:20px;}

.verify-panel{position: relative;}
.verify-panel .verify{width:90px;padding:2px 0 1.5px 0;top:7px;left:160px;
    border:solid 1px #888;border-radius:0 2px 2px 0;cursor:pointer;position:absolute;
    background-color: #FFF;}
.verify-panel input.box{border-radius:2px 0 0 2px;width:100%;}

span.txt{width:80px;display:none;text-align:center;font-size:12px;color:#333;}
div#bottom{text-align:center;color:#666;font-size:12px;line-height:40px;}
  