<!DOCTYPE html>
<head>
    <title>我的订单</title>
    <meta content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;"/>
    <link rel="StyleSheet" type="text/css" href="{{.static_serve}}/css/page.css?v={{.version}}"/>
    <link rel="StyleSheet" type="text/css" href="{{.static_serve}}/css/ucenter/touch/touch.css?v={{.version}}"/>
    <link rel="StyleSheet" type="text/css" href="/static/css/ucenter/touch/iconfont/iconfont.css?v={{.version}}"/>
</head>
<body>

{{template "header".}}

    <div class="page-main">
        <div class="h10"></div>
        <div id="dg" class="ui-table"></div><div id="pager"></div>
    </div>
        <script type="text/javascript" src="{{.static_serve}}/assets/js/core_full.js?ver={{.version}}"></script>
        <script type="text/javascript">
            var ORDER_STATE_TEXTS = new Array("已作废", "待确认","已确认", "处理中", "配送中","已收货","已完成");
            var _dg = $JS.grid('dg', {
                url: location.href,
                data: {page:1,size:10},
                idField: 'id',
                columns: [
                    { field: 'order_no', title: '订单号', width: 100,align:'center'},
                    { field: 'items_info', title: '商品'},
                    { field: 'fee', title: '金额', width: 200,align:'center',formatter:function(val){
                        return '￥'+val;
                    }},

                    { field: 'create_time', title: '时间',align:'center', width: 120,formatter:function(v){
                        return unix2str(v);
                    }
                    },
                    { field: 'status', title: '状态',align:'center', width: 100,formatter:function(val){
                        return ORDER_STATE_TEXTS[parseInt(val)];
                    }}
                ],
                loaded: function (data) {
                    var tables = document.getElementsByTagName('TABLE');
                    J.table.dynamic(tables[1], false);
                    tables[1].className= '';

                    //加载分页
                    this.panel.nextSibling.innerHTML = data.text;

                }
            });

            _dg.resize();
            function gp(p){
                _dg.data.page = p;
                _dg.reload();
            }
        </script>


{{template "footer"$}}
</body>
</html>



