<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>请稍后</title>
    <link rel="stylesheet" type="text/css" href="{{.static_serv}}/assets/mui/css/latest/ui_style.css" />
    <link rel="stylesheet" type="text/css" href="{{.static_serv}}/assets/easyui/themes/gray/easyui.css" />
    <link rel="stylesheet" type="text/css" href="{{.static_serv}}/assets/easyui/themes/icon.css" />
</head>
<body>
<div title="欢迎使用"
     style="padding: 20px; overflow: hidden; color: red;">
    <h1 style="font-size: 14px">
        欢迎使用
        <!--我点网订餐系统-->
    </h1>
    <table border="0" cellspacing="1" class="blue" style="width: 100%">
        <tr>
            <th colspan="2" align="left">系统信息</th>
        </tr>
        <tr>
            <td style="width: 100px">当前版本：</td>
            <td>v 0.11 alpha</td>
        </tr>
        <!--
        <tr>
            <td>更新时间：</td>
            <td>2012-06-15</td>
        </tr>-->
        <tr>
            <td>登录IP：</td>
            <td>{{.loginIp}}</td>
        </tr>
        <tr>
            <td>登录地点：</td>
            <td id="location">加载中</td>
        </tr>
        <tr>
            <th colspan="2" align="left">授权信息</th>
        </tr>
        <tr>
            <td>授权所有者：</td>
            <td style="color: green">{{.partner.Name}} ( {{.partner.Usr}} )</td>
        </tr>
        <tr>
            <td>注册时间：</td>
            <td>{{.partner.JoinTime}}</td>
        </tr>
        <tr>
            <td>使用期限至：</td>
            <td>{{.partner.ExpiresTime}}</td>
        </tr>
        <tr>
            <th colspan="2" align="left">用户信息</th>
        </tr>
        <tr>
            <td>编号：</td>
            <td>{{.partner.Id}}</td>
        </tr>
        <tr>
            <td>联系电话：</td>
            <td>{{.partner.Tel}}</td>
        </tr>
        <tr>
            <td>联系地址：</td>
            <td>{{.partner.Address}}</td>
        </tr>
    </table>

</div>

<script type="text/javascript" src="{{.static_serv}}/assets/js/core_full.js"></script>
<script type="text/javascript" src="{{.static_serv}}/assets/js/global.js"></script>
<script type="text/javascript">
  setGeo('location')
</script>
</body>
</html>
