<!DOCTYPE html>
<html>
<head>
    <title>更新项</title>
    <link href="{{.Var.static_serve}}/assets/mui/css/latest/page_style.css?v={{.Var.version}}" rel="stylesheet" type="text/css" />
    <link href="{{.Var.static_serve}}/css/partner/partner.css?spam={{.Var.spam}}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="form1" class="form margin30">
    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>广告图片：</div>
        <div class="in" style="position: relative;height:70px;">
            <input type="hidden" field="Id" value="0"/>
            <input type="hidden" field="AdvertisementId" value="0"/>
            <img id="upload_img" src="about:blank"
                 style="float:left;margin-right:10px;width:150px; height: 60px;border:solid 1px #aaa;padding:1px;" />
            <input class="ui-validate ui-box" length="[0,150]" type="hidden" field="ImageUrl" id="upload_path"/>
            <span id="upload_btn"><button>选择图片上传</button></span>
        </div>
    </div>

    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>排序：</div>
        <div class="in">
            <input class="ui-validate ui-box" field="SortNumber" required="true" isnumber="true" style="width:30px" value="0"/>
            * 排序数字，越小排列越靠前
        </div>
    </div>

    <div class="fl">
        <div class="label"><span class="red">*&nbsp;</span>图片标题：</div>
        <div class="in">
            <input type="text" class="box ui-validate" required="true" field="Title"/>
        </div>
    </div>

    <div class="fl">
        <div class="label">链接地址：</div>
        <div class="in">
            <input type="text" class="box ui-validate" field="LinkUrl"/>
        </div>
    </div>



    <div class="fl">
        <div class="label">是否启用：</div>
        <div class="in">
            <input type="radio" class="radio" field="Enabled" name="Enabled" id="Enabled" value="1" checked="checked" /><label for="Enabled1">启用</label>
            <input type="radio" class="radio" field="Enabled" name="Enabled" id="Enabled2" value="0" /><label for="Enabled2">停用</label>
        </div>
    </div>


    <div class="fl">
        <div class="label">&nbsp;</div>
        <div class="in">
             <span class="ui-button w150" id="btn_save">                 <span class="button-inner">                 <span class="button-txt">提交</span><a href="javascript:;"></a>                 </span>             </span>
        </div>
    </div>
</div>

<script src="{{.Var.static_serve}}/assets/js/core_full.js?spam={{.Var.spam}}"></script>
<script src="{{.Var.static_serve}}/assets/js/plugins/sys.js?spam={{.Var.spam}}"></script>

<script>
    var entity ={{.entity}} ||{};
    j6.json.bind('form1', entity);
    var imgUrl =  entity.ImageUrl.indexOf('http://')!=-1 ? entity.ImageUrl: '{{.Var.img_serve}}/'+ entity.ImageUrl;
    j6.$('upload_img').src = imgUrl;

    //上传缩略图
    j6.upload({
        id: 'upload_btn',
        debug: !true,
        url: '/upload.cgi?type=101',
        exts: '*.gif;*.jpg;*.png;*.bmp'
    },function (result, data) {
        if (result) {
            j6.$('upload_path').value = data.url;
            j6.$('upload_img').src = '{{.Var.img_serve}}/'+ data.url;
        } else {
            alert('上传失败：' + data);
        }
    });


    j6.$('btn_save').onclick = function() {
        if (j6.validator.validate('form1')) {
            var data = j6.json.toObject('form1');
            j6.xhr.jsonPost('SaveImage', data, function(json) {
                if(json.result){
                    window.parent.$.messager.alert('提示', '保存成功！',"ok",function(){
                        j6.tab.closeAndRefresh('广告数据');
                    });
                }else {
                    window.parent.$.messager.alert('提示',  json.message,'error');
                }

            });
        }
    }
</script>
</body>
</html>
