$def with(host,usrtpl,account,bank)
$:usrtpl.top('订单返现业务信息')

<style type="text/css">
	div.title1{font-size:14px;border-bottom:solid 1px #e5e5e5;margin:10px 0;font-weight:bold;}
	p label{width:80px;display:block;float:left;}
</style>
	
<div id="main" class="mainwrap">
    <div class="side">
		$:usrtpl.menu('申请提现') <br />
		
   </div>
<div class="main">
	您的余额是:￥$:account['balance']，需满100元方可提现！<br /><br />
	
	<div class="title1">
		收款银行帐号:
	</div>
	<div>
		
	<form method="post" action="bank_update" name="bank_form">
	
		<p>
			<label>开户银行:</label>
			<select name="bankname" id="bankname">
				<option>中国工商银行</option>
				<option>中国农业银行</option>
				<option>中国建设银行</option>
				<option>中国交通银行</option>
				<option>中国邮政储蓄银行</option>
			</select>
		</p>
		<p>
			<label>银行帐号:</label>
			<input type="text" id="bankaccount" name="bankaccount" value="$('' if bank==None else bank['bankaccount'])"/>
		</p>
		<p><label>&nbsp;</label>
			<input type="button" value="确定" onclick="chkbank();"/>
		</p>
	</form>
	<script type="text/javascript">
		$if bank!=None:
			document.getElementById('bankname').value='$bank['bankname']';
		function chkbank(){
			if(/^(\d+)$$/.test(document.getElementById('bankaccount').value)){
				j.asyncSubmitForm('bank_form',!true);
			}else{
				alert('银行帐号不正确！');return false;
			}		
		}
	</script>
	
	
	</div>
	
</div>
</div>
$:usrtpl.footer()

