{{$img_serve:=.Map.img_serve}}
<!doctype html>
<html>
<head>
    <title>{{.Map.cat.Name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link type="text/css" rel="stylesheet" href="{{.Var.static_serve}}/css/shop/touchpad/stand.css?spam={{.Var.spam}}"/>
</head>
<body>

    {{template "header" $}}

    <div class="page-category">
        <div class="sort-bar" id="sort-bar">
            {{.Map.sort_bar}}
        </div>

       <div class="item-list items-ver">
           {{.Map.items}}
       </div>

        {{.Map.pager}}

    </div>


    <div class="hidden">
    <div id="cart-panel">
        <div class="cart"></div>
    </div>
    </div>

    {{template "footer" $}}

    <script type="text/javascript" src="{{.Var.static_serve}}/assets/js/mobi/core.js?{{.Var.version}}"></script>
    <script type="text/javascript">
        j6.each(j6.$('sort-bar').getElementsByTagName('A'),function(i,e){
            e.onclick=function() {
                window.location.replace(this.href);
                return false;
            };
        });
    </script>
</body>
</html>
