{{$img_serve:=.img_serve}}
<!doctype html>
<html>
<head>
    <title>{{.Map.sale_tag.TagName}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link type="text/css" rel="stylesheet" href="{{.Var.static_serve}}/css/shop/app_embed/stand.css?spam={{.Var.spam}}"/>
</head>
<body>

    {{template "header" $}}


    <div class="page-saleTag">
        <div class="sort-bar hidden">
            <ul>
                <li><a href="?sort=price_0">价格</a><span class="d"></span><span class="split"></span></li>
                <li><a href="?sort=sale_0">销量</a><span class="d"></span><span class="split"></span></li>
                <li><a href="?sort=rate_0">评价</a><span class="d"></span></li>
            </ul>
        </div>

       <div class="items-ver">
           {{.Map.items}}
       </div>

        {{.Map.pager}}
    </div>
    <div class="hidden">
    <div id="cart-panel">
        <div class="cart"></div>
    </div>
    </div>

    {{template "footer" $}}
</body>
</html>
