<!DOCTYPE html>
<head>
    <title>订单返现</title>
    <meta content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1;"/>
    <link rel="StyleSheet" type="text/css" href="{{.static_serve}}/css/page.css?v={{.version}}"/>
    <link rel="StyleSheet" type="text/css" href="{{.static_serve}}/css/ucenter/touch/touch.css?v={{.version}}"/>
    <link rel="StyleSheet" type="text/css" href="/static/css/ucenter/touch/iconfont/iconfont.css?v={{.version}}"/>
</head>
<body>

{{template "header"$}}

<div class="page-main">

    <div class="h10"></div>

        <div id="dg" class="ui-table hidden">加载中...</div><div id="pager"></div>

        <script type="text/javascript" src="{{.static_serve}}/assets/js/core_full.js?ver={{.version}}"></script>
        <script type="text/javascript">
            var _dg = j6.grid('dg', {
                url: location.href,
                data: {page:j6.request('page')||1,size:10},
                idField: 'id',
                columns: [
                    { field: 'record_time', title: '产生时间', width: 120},
                    { field: 'fee', title: '收入金额', width: 80,align:'center'},
                    {

                        field: 'log', title: '详细', formatter: function (val, row, index) {
                            return val.replace("\n","<br />");

                    }
                    }
                ],
                loaded: function (data) {
                    if(data.rows.length == 0){
                        var e = j6.$('dg')
                        e.innerHTML='<div class="no-row">没有找到返现记录！</div>';
                        e.className='';
                        return;
                    }
                    var tables = document.getElementsByTagName('TABLE');
                    j6.table.dynamic(tables[1], false);
                    tables[1].className= 'ui-table';
                    //加载分页
                    this.panel.nextSibling.innerHTML = data.text;

                }
            });
            _dg.resize();

            function gp(p){
                _dg.data.page = p;
                _dg.reload();
            }
        </script>
</div>

{{template "footer"$}}

</body>
</html>