{{define "menu"}}
<div id="navs">
    <!--<div class="title menu1" style="border-top:none">个人中心</div>-->
    <!--<ul>-->
        <!--<li class="current"><a href="/index.htm">会员首页</a></li>-->
    <!--</ul>-->
    <div class="title menu2" style="border-top:none">订单管理</div>
    <ul>
        <li><a href="/order/orders.htm">所有订单</a></li>
        <li><a href="/order/completed.htm">已完成订单</a></li>
    </ul>
    <div class="title menu2">我的账户</div>
    <ul>
        <li><a href="/account/IntegralExchange.htm">积分兑换</a></li>
        <li><a href="/account/IncomeLog.htm">我的返现</a></li>
        <li><a href="/account/ApplyCash.htm">申请提现</a></li>
    </ul>
    </ul>
    <div class="title menu2">资料修改</div>
    <ul>
        <li><a href="/basic/profile.htm">修改资料</a></li>
        <li><a href="/basic/pwd.htm">修改密码</a></li>
        <li><a href="/basic/deliver.htm">我的配送地址</a></li>
    </ul>

</div>

        {{end}}